
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<meta charset="UTF-8">
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<title>{$sbase.name}</title>
	<meta name="keywords" content="{$sbase.name}" />
	<link rel="shortcut icon" href="favicon.ico" />
	
	<link rel="stylesheet" type="text/css" href="/css/fwpublic.css" />
	<link rel="stylesheet" type="text/css" href="/css/fwheader-v2.css" />
	<link rel="stylesheet" type="text/css" href="/css/fwanimation.css" />
	<script type="text/javascript" src="/js/jquery.js"></script>
	<script type="text/javascript" src="/js/fwjquery.timer.js"></script>
	<script type="text/javascript" src="/js/fwpublic.js"></script>
	<script type="text/javascript" src="/js/fwslowscroll.js"></script>
	<script type="text/javascript" src="/js/fwcommon.js"></script>

</head>
<body>
	<div class="xiaochengxu-header">
		<div class="container">
			<div class="server_phone"><em></em>&nbsp&nbsp{$sbase.ptel}&nbsp&nbsp&nbsp&nbsp{$sbase.tel}</div>
			<div class="logo-box">
				<a href="http://www.fanwe.com/index" target="_blank"><img src="{$sbase.logo}" class="logo" alt="logo"></a>
			</div>
			<ul class="nav-list">
				<li class="nav-item index-link"><a class="link" href="http://www.fanwe.com/xcx">首页</a></li>
				<li class="nav-item mendian-link"><a class="link" href="http://www.fanwe.com/xcx_mendian">门店小程序</a></li>
				<li class="nav-item shangcheng-link"><a class="link" href="xcx_shangcheng">商城小程序</a></li>
				<li class="nav-item"><a class="link" href="http://www.fanwe.com/us" target="_blank">关于我们</a></li>
			</ul>
		</div>
	</div>
	<link rel="stylesheet" type="text/css" href="/css/xiaochengxu_index.css" />

	<div class="xiaochengxu-index symbol-page" data-code="index">
		<div class="banner" style="background: url('{$sbase.banner}')">
			
		</div>
		<div class="col1">
			<div class="container">
				<div class="title-box">
					<div class="col-title">{$sbase.name}</div>
					<div class="title-desc">无需懂技术，各行业模板直接套用，3分钟一键生成，轻松帮助商家搭建小程序。</div>
				</div>
				<div class="point-group clearfix">
					<div class="point-item">
						<div class="icon-box icon1"></div>
						<div class="point-name">专属域名</div>
						<div class="point-desc">
							<p class="txt">绑定自己的域名，建立品牌形象</p>
							<p class="txt">提供了更多运营可能，模块间搭配</p>
							<p class="txt">使用，自由组合，让思路更开阔</p>
						</div>
					</div>
					<div class="point-item">
						<div class="icon-box icon2"></div>
						<div class="point-name">无需编程 一键生成</div>
						<div class="point-desc">
							<p class="txt">{$sbase.name}，在线快速制作生成小程序。无需编程经验，快速入门，快速制作，快速交付客户</p>
						</div>
					</div>
					<div class="point-item">
						<div class="icon-box icon3"></div>
						<div class="point-name">丰富场景 持续升级</div>
						<div class="point-desc desc3">
							<p class="txt">{$sbase.name}，提供各种行业解决方案，挖掘需求，解决行业痛点，持续更新功能，不断提升用户体验</p>
						</div>
					</div>
					<div class="point-item">
						<div class="icon-box icon4"></div>
						<div class="point-name">百变应用 自由组合</div>
						<div class="point-desc">
							<p class="txt">{$sbase.name}，提供了更多想像空间提供了更多运营可能，模块间搭配使用，自由组合，让思路更开阔</p>
						</div>
					</div>
					<div class="point-item point5">
						<div class="icon-box icon5"></div>
						<div class="point-name">独立后台 自主编辑</div>
						<div class="point-desc">
							<p class="txt">后台可以对自己账户下面每个小程</p>
							<p class="txt">序进行管理和编辑，小程序端及时</p>
							<p class="txt">更新。并且方便打包更新审核</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col2">
			<div class="container">
				<div class="title-box">
					<div class="col-title">小程序的应用场景</div>
					<div class="title-desc">营销型小程序覆盖众多行业场景 </div>
				</div>
				<div class="app-list clearfix">
					<div class="app-item">
						<div class="icon-box icon1"></div>
						<div class="app-name">电商</div>
					</div>
					<div class="app-item">
						<div class="icon-box icon2"></div>
						<div class="app-name">餐饮</div>
					</div>
					<div class="app-item">
						<div class="icon-box icon3"></div>
						<div class="app-name">美容美发</div>
					</div>
					<div class="app-item">
						<div class="icon-box icon4"></div>
						<div class="app-name">体育健身</div>
					</div>
					<div class="app-item">
						<div class="icon-box icon5"></div>
						<div class="app-name">酒店</div>
					</div>
					<div class="app-item">
						<div class="icon-box icon6"></div>
						<div class="app-name">政府</div>
					</div>
					<div class="app-item">
						<div class="icon-box icon7"></div>
						<div class="app-name">医疗</div>
					</div>
					<div class="app-item">
						<div class="icon-box icon8"></div>
						<div class="app-name">KTV</div>
					</div>
					<div class="app-item">
						<div class="icon-box icon9"></div>
						<div class="app-name">旅游</div>
					</div>
					<div class="app-item">
						<div class="icon-box icon10"></div>
						<div class="app-name">教育培训</div>
					</div>
					<div class="app-item">
						<div class="icon-box icon11"></div>
						<div class="app-name">母婴</div>
					</div>
					<div class="app-item">
						<div class="icon-box icon12"></div>
						<div class="app-name">其他</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col3">
			<div class="container">
				<div class="title-box">
					<div class="col-title">一站式行业解决方案</div>
					<div class="title-desc">小程序，功能全面，简单易上手</div>
				</div>
				<div class="program-group clearfix">
					<div class="program-item program1">
						门店列表场景
					</div>
					<div class="program-item program2">
						门店地图显示场景
					</div>
					<div class="program-item program3">
						小程序官网场景
					</div>
					<div class="program-item program4">
						线上活动线下报名
					</div>
					<div class="program-item program5">
						产品或服务众筹场景
					</div>
					<div class="program-item program6">
						在线预约，一站式服务
					</div>
					<div class="program-item program7">
						线下课程一键预约
					</div>
					<div class="program-item program8">
						酒店预约服务场景
					</div>
					<div class="program-item program9">
						门票预约服务场景
					</div>
					<div class="program-item program10">
						旅游预约服务
					</div>
				</div>
			</div>
		</div>
		<div class="col4">
			<div class="container">
				<div class="title-box">
					<div class="col-title">加盟方维的8大优势</div>
				</div>
				<div class="advantage-group clearfix">
					<div class="adv-item">
						<div class="digit">1</div>
						<p class="txt">当前最热风口</p>
						<p class="txt">未来最大趋势</p>
					</div>
					<div class="adv-item">
						<div class="digit">2</div>
						<p class="txt">新一轮跑马圈地</p>
						<p class="txt">最佳机会</p>
					</div>
					<div class="adv-item">
						<div class="digit">3</div>
						<p class="txt">企业刚需必须</p>
						<p class="txt">找第三方开发</p>
					</div>
					<div class="adv-item">
						<div class="digit">4</div>
						<p class="txt">0技术经验</p>
						<p class="txt">超低推广成本</p>
					</div>
					<div class="adv-item">
						<div class="digit">5</div>
						<p class="txt">自由定价</p>
						<p class="txt">市场利润高</p>
					</div>
					<div class="adv-item">
						<div class="digit">6</div>
						<p class="txt">可快速复制</p>
						<p class="txt">快速获利</p>
					</div>
					<div class="adv-item">
						<div class="digit">7</div>
						<p class="txt">一次锁定客户</p>
						<p class="txt">多次后续收益</p>
					</div>
					<div class="adv-item">
						<div class="digit">8</div>
						<p class="txt">创研10年技术</p>
						<p class="txt">及服务品牌保证</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col5">
			<div class="container">
				<div class="text-box clearfix">
					<p class="txt">抢占亿万市场第一桶金</p>
					<div class="phone-icon">
					</div>
					<p class="phone-num">{$sbase.tel}</p>
					<a href="javascript::void(0)" class="col5-btn" target="_self">立即咨询</a>
				</div>
			</div>
		</div>
		<div class="msg-part-list">
			<div class="warp">
				<div class="msg-part-item">
					<a class="section-tit" href="/news/xiaochengxu.html">小程序_常见问题</a>
					<div class="blue-line"></div>

					{if $news1}
						{foreach $news1 as $key=>$item}
							{if $key == 0}
								<a class="top-new" href="" target="_blank">
									<div class="new-img" style='background: url({$item.thumb}) center center no-repeat;width: 373px;height: 170px;background-size:100%;'></div>
									<div class="top-txt">[小程序]{$item.title}</div>
								</a>
							{else}
								<a class="other-ms-item" href="/news/1060.html" target="_blank" >
									<div class="msg-con f_l" style="padding:10px 0">[小程序]{$item.title}</div>
									<div class="msg-date f_l" style="padding:10px 0">[{$item.creattime}]</div>
									<div class="blank"></div>
								</a>
							{/if}
						{/foreach}
					{/if}

					<a href="/news/xiaochengxu.html" target="_blank" class="show-more-btn">查看更多</a>
				</div>
				<div class="msg-part-item">
					<a class="section-tit" href="/news/xiaochengxu.html">小程序_运营干货</a>
					<div class="blue-line"></div>
					{if $news2}
						{foreach $news2 as $key=>$item}
							{if $key == 0}
								<a class="top-new" href="" target="_blank">
									<div class="new-img" style='background: url({$item.thumb}) center center no-repeat;width: 373px;height: 170px;background-size:100%;'></div>
									<div class="top-txt">[小程序]{$item.title}</div>
								</a>
							{else}
								<a class="other-ms-item" href="/news/1060.html" target="_blank" >
									<div class="msg-con f_l" style="padding:10px 0">[小程序]{$item.title}</div>
									<div class="msg-date f_l" style="padding:10px 0">[{$item.creattime}]</div>
									<div class="blank"></div>
								</a>
							{/if}
						{/foreach}
					{/if}
					<a href="/news/xiaochengxu.html" target="_blank" class="show-more-btn">查看更多</a>
				</div>
				<div class="msg-part-item">
					<a class="section-tit" href="/news/fanwekuaixu.html">快讯</a>
					<div class="blue-line"></div>
					{if $news3}
						{foreach $news3 as $key=>$item}
							{if $key == 0}
								<a class="top-new" href="" target="_blank">
									<div class="new-img" style='background: url({$item.thumb}) center center no-repeat;width: 373px;height: 170px;background-size:100%;'></div>
									<div class="top-txt">[小程序]{$item.title}</div>
								</a>
							{else}
								<a class="other-ms-item" href="/news/1060.html" target="_blank" >
									<div class="msg-con f_l" style="padding:10px 0">[小程序]{$item.title}</div>
									<div class="msg-date f_l" style="padding:10px 0">[{$item.creattime}]</div>
									<div class="blank"></div>
								</a>
							{/if}
						{/foreach}
					{/if}
					<a href="/news/fanwekuaixu.html" target="_blank" class="show-more-btn">查看更多</a>
				</div>
				<div class="blank"></div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="footer-top">
			<div class="wrap">
				<div class="footer-block w-29">
					<div class="logo">
						<img src="http://www.fanwe.com/app/Tpl/new/coupon/images/footer-logo-new.png" alt="login">
					</div>
					<span class="partner">兴业资本&nbsp;&nbsp;战略投资企业</span>
				</div>
				<div class="footer-block w-25">
					<div class="footer-tit">服务热线</div>
					<div class="hot-line">{$sbase.ptel}</div>
					<p>售前咨询（{$sbase.ftime}）</p>
				</div>
				<div class="footer-block w-34">
					<div class="footer-tit">联系我们</div>
					<p style="margin-bottom: 10px;">{$sbase.address}</p>
					<p class="mb-10">
						<a  target="_blank">
							企业QQ：{$sbase.qq}
							<span class="foot-qq"></span>
						</a>
					</p>
					<p>企业邮箱：{$sbase.email}</p>
				</div>
				<div class="footer-block w-12">
					<div class="footer-tit">关注公众号</div>
					<div class="footer-ewm">
						<img src="{$sbase.erweima}" alt="ewm">
					</div>
					<p class="ml">动态和资讯都在这里</p>
				</div>
				<div class="clear"></div>
			</div>
		</div>
		<div class="footer-bottom" style="height: auto;padding:10px 0;line-height: 20px;">
			Copyright@2008-2016 福建方维信息科技有限公司 版权所有 闽ICP备10206706号-7
			<br>网络文化经营许可证：闽网文[2017]9091-261号
		</div>
	</div>
	<div class="winbox">
		<div class="pop-consult-box" pop-consult="box">
			<a href="javascript:;" class="close-btn" close-btn="btn"></a>
			<div class="rel" style="width:100%;">
				<table>
					<thead>
						<tr>
							<td colspan="2">了解更多，敬请垂询 400-118-5335</td>
						</tr>
					</thead>
					<tbody>
						<tr class="t-center">
							<td>
								<div class="tbody-l baidu-call">
									<input id="callDialogPhone" class="baidu-call-phone" type="text" name="callDialogPhone" value="" placeholder="输入您的电话号码">
									<a href="javascript:;" id="callBtn" class="btn5 baidu-call-btn">立即免费通话</a>
									<div class="blank15"></div>
								</div>
							</td>
							<td class="t-left">
								<label>您还可以</label>
								<a target="_blank" id="qqbtn1" href="http://pgt.zoosnet.net/LR/Chatpre.aspx?id=PGT90968998&lng=cn" class="btn7">
									<span>QQ咨询</span>
								</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script>
		document.write('<script type="text/javascript"  data-lxb-uid="2140735" data-lxb-gid="182500" src="http://lxbjs.baidu.com/api/asset/api.js?t=' + new Date().getTime() + '" charset="utf-8"></scr' + 'ipt>' );
		jQuery(function($){
			$('.baidu-call-btn').live('click', function(){
				var box = $(this).parents('.baidu-call');
				if ($(".baidu-call-phone", box).val() != "") {
					lxb.call($(".baidu-call-phone", box).get(0));
				}
			});
		})
	</script>
	<script type="text/javascript">
		$(document).ready(function(){
			$('#qqbtn6').live('click', function(){
				$(".yyggg").css("display", "none");
			});
		});
	</script>
	<div class="float-box simple" float-box="box" style="bottom: 50px; right: 20px;">
		<div class="yyggg">
			<a id="qqbtn7" target="_blank" href="http://pgt.zoosnet.net/LR/Chatpre.aspx?id=PGT90968998&lng=cn" title="了解详情"></a>
			<a id="qqbtn6" href="javascript:void(0);" title="关闭"></a>
		</div>
		<span class="btn-4">
			<script language="javascript">
				document.write('<div id="LR_User_Icon0"></div>');
			</script>
		</span>
		<div class="blank"></div>
		<span class="btn-1 baidu-call-btn">
			<a href="javascript:void(0);"></a>
		</span>
		<div class="blank"></div>
		<div class="blank"></div>
		<span class="btn-3">
			<a alt="点我关掉" href="javascript:void(0);">
				<img src="http://www.fanwe.com/app/Tpl/new/coupon/images/wx.jpg">
			</a>
		</span>
		<div class="blank"></div>
		<span class="gotot" backtop="box" style="display: none;">
			<a href="javascript:;"></a>
		</span>
	</div>
	<div class="winbox">
		<div class="pop-consult-box" pop-consult="box">
			<a href="javascript:;" class="close-btn" close-btn="btn"></a>
			<div class="rel" style="width:100%;">
				<table>
					<thead>
						<tr>
							<td colspan="2">了解更多，敬请垂询 400-118-5335</td>
						</tr>
					</thead>
					<tbody>
						<tr class="t-center">
							<td>
								<div class="tbody-l baidu-call">
									<input id="callDialogPhone" class="baidu-call-phone" type="text" name="callDialogPhone" value="" placeholder="输入您的电话号码">
									<a href="javascript:;" id="callBtn" class="btn5 baidu-call-btn">立即免费通话</a>
									<div class="blank15"></div>
								</div>
							</td>
							<td class="t-left">
								<label>您还可以</label>
								<script language="javascript">
									document.write('<div id="LR_User_zx1"></div>');
								</script>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script language="javascript" src="http://pgt.zoosnet.net/JS/LSJS.aspx?siteid=PGT90968998&lng=cn"></script>
	<script language="javascript">
		<!--
		if(typeof(LiveReceptionCode_isonline)!='undefined')
		{
			if(LiveReceptionCode_isonline){
				LR_GetObj('LR_User_zx1').innerHTML='<a class="btn7" '+LiveReceptionCode_BuildChatWin('传递给客服人员的文本,请修改','客服人员在线,欢迎点击咨询')+'>在线咨询</a>';
				LR_GetObj('LR_User_Icon0').innerHTML='<a class="btn4" '+LiveReceptionCode_BuildChatWin('传递给客服人员的文本,请修改','客服人员在线,欢迎点击咨询')+'></a>';
			}
			else{
				LR_GetObj('LR_User_zx1').innerHTML='<a class="btn7" '+LiveReceptionCode_BuildChatWin('传递给客服人员的文本,请修改','客服人员不在线,请点击留言')+'>点击留言</a>';
				LR_GetObj('LR_User_Icon0').innerHTML='<a class="btn5" '+LiveReceptionCode_BuildChatWin('传递给客服人员的文本,请修改','客服人员不在线,请点击留言')+'></a>';
			}
		}
    //-->
</script>
<div class="java-wrap">
	<script type="text/javascript" async="async">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1257894373'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1257894373' type='text/javascript'%3E%3C/script%3E"));</script>
	<script>
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "//hm.baidu.com/hm.js?7ed3abe077a4a710aba4e8a7f38bc11b";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
	<script>
		var _hmt = _hmt || [];
		(function() {
			var hm = document.createElement("script");
			hm.src = "//hm.baidu.com/hm.js?64e537ec4b8248315e9b67310d82dc0e";
			var s = document.getElementsByTagName("script")[0];
			s.parentNode.insertBefore(hm, s);
		})();
	</script>
</div>
</body>
</html>