body{margin:0;font-size:12px;text-align:center;color:#333;word-wrap:break-word;}
p{margin:2pt 0 0 0;}
*{margin:0 auto;padding:0;}
ul{list-style-type:none;margin:0;padding:0;}
a{color:#333;text-decoration:none;}
a:hover{text-decoration:underline;}
form{margin:0;}
table{font-size:12px;}
input{outline:medium;}
.bfb{float:left;width:100%;}
.yjcode{width:1150px;}
.fontyh{font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;color:#000;}
.ad1{margin:10px 0 0 0;float:left;}
.ad{float:left;}
.adf{float:left;margin:-10px 0 0 0;}
.adbottom .ad1{float:left;margin:0 0 8px 0;}
.red{color:#f00;}
.feng{color:#ff6600;}
.blue{color:#2255DD;}
.hui{color:#999;}
.green{color:#008800;}
.redony{background-color:#CFF;border:#999 solid 1px;color:red;}

/*全站主题颜色 同一系列，从深到浅*/
.g_ac0{color:#333;}
.g_ac0_h{color:#BB0505;}
.g_ac0:hover{color:#BB0505;}
.g_ac1{color:#333;}
.g_ac1_h{color:#BB0505;}
.g_ac1:hover{color:#BB0505;}
.g_ac2{color:#BB0505;}
.g_ac2_h{color:#BB0505;}
.g_ac2:hover{color:#FF5D56;}
.g_ac3{color:#2255DD;}
.g_ac3_h{color:#BB0505;}
.g_ac3:hover{color:#FF5D56;}

.g_ac98_h{color:#FF5D56;} /*过渡色，通用色*/
.g_ac98:hover{color:#FF5D56;} /*过渡色，通用色*/
.g_ac99_h{color:#B90505;} /*过渡色，通用色*/
.g_ac99:hover{color:#B90505;} /*过渡色，通用色*/

.g_bc0{border-color:#ccc;}
.g_bc0_h{border-color:#9C2A1C;}
.g_bc0:hover{border-color:#9C2A1C;}

.g_bg0{background-color:#6E6568;color:#333;}
.g_bg1{background-color:#999395;color:#fff;}
/*全站主题色结束*/


.openw{float:left;width:302px;z-index:200;position:absolute;padding:10px;background:url(../img/bghui.png) left top repeat;}
.openw .kf{float:left;width:300px;border:#908B8B solid 1px;background-color:#fff;}
.openw .kf #tangts{float:left;width:280px;padding:20px 10px 20px 10px;text-align:center;line-height:25px;color:#0059C4;}

.topbanner_hj{width:100%;min-width:1150px;float:left;}
.topbanner_hj a{display:block;width:100%;height:100%;}

.bfbtop{float:left;width:100%;border-bottom:#EEEEEE solid 1px;height:27px;background-color:#FAFAFA;}
.bfbtop .top{float:left;width:1150px;height:27px;text-align:left;}
.bfbtop .top .u1{float:left;width:1150px;}
.bfbtop .top .u1 li{float:left;}
.bfbtop .top .u1 .l0{border-right:#ddd solid 1px;height:14px;width:3px;margin:7px 0 0 0;}
.bfbtop .top .u1 .l1{padding:7px 0 0 0;width:655px;}
.bfbtop .top .u1 .l1 #yesuid{font-family:Arial, Helvetica, sans-serif;font-weight:700;}
.bfbtop .top .u1 .l1 .s1{float:left;}
.bfbtop .top .u1 .l1 .s2{float:left;margin:-3px 0 0 10px;}
.bfbtop .top .u1 .l2{margin:7px 0 0 0;width:76px;text-align:center;border-right:#ddd solid 1px;}
.bfbtop .top .u1 .l21{width:48px;}
.bfbtop .top .u1 .l3{margin:1px 0 0 3px;border:#FAFAFA solid 1px;border-bottom:0;width:70px;padding:5px 0 0 10px;height:20px;background:url(../homeimg/icon1.gif) no-repeat;background-position:65px 9px;}
.bfbtop .top .u1 .l3h{background-color:#fff;border:#DDDDDD solid 1px;border-bottom:0;}
.bfbtop .top .u1 .l3 .a1{float:left;}
.bfbtop .top .u1 .umenu{float:left;border:#DDDDDD solid 1px;border-top:0;background-color:#fff;position:relative;clear:both;width:80px;margin:6px 0 0 -11px;}
.bfbtop .top .u1 .umenu a{float:left;width:70px;padding:7px 0 0 10px;height:18px;}

.bfbtop1{float:left;width:100%;background:url(../homeimg/topbg.gif) left bottom repeat-x;}
.bfbtop1 .top1{float:left;width:1150px;text-align:left;}
.bfbtop1 .top1 .logo{float:left;width:530px;padding:20px 0;}
.bfbtop1 .top1 .u1{float:left;border:#CECECE solid 1px;width:364px;height:40px;margin:35px 0 0 0;}
.bfbtop1 .top1 .u1 li{float:left;}
.bfbtop1 .top1 .u1 .l1{width:60px;height:40px;border-right:#D3D3D3 solid 1px;font-size:14px;}
.bfbtop1 .top1 .u1 .l1 #topnwd{float:left;width:55px;height:27px;padding:13px 0 0 5px;background:url(../homeimg/jian2.gif) no-repeat;background-position:43px 17px;cursor:pointer;}
.bfbtop1 .top1 .u1 .l1 #topdiv{float:left;width:60px;border:#D3D3D3 solid 1px;border-top:0;background-color:#fff;position:absolute;z-index:100;margin:40px 0 0 -1px;}
.bfbtop1 .top1 .u1 .l1 #topdiv a{float:left;width:53px;height:22px;padding:8px 0 0 7px;}
.bfbtop1 .top1 .u1 .l1 #topdiv a:hover{background-color:#F8F8F8;text-decoration:none;}
.bfbtop1 .top1 .u1 .l2{width:263px;}
.bfbtop1 .top1 .u1 .l2 input{float:left;width:258px;height:27px;border:0;padding:13px 0 0 5px;font-size:14px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.bfbtop1 .top1 .u1 .l2 input{width:263px;height:40px;padding-top:0;}
}
.bfbtop1 .top1 .u1 .l3{width:40px;}
.bfbtop1 .top1 .topsad{float:left;width:250px;margin:19px 0 0 0;}
.bfbtop1 .top1 .menu{float:left;width:1150px;height:45px;}
.bfbtop1 .top1 .menu .m1{float:left;width:220px;height:45px;}
.bfbtop1 .top1 .menu .m1 .t{float:left;width:200px;padding:11px 0 0 20px;font-size:16px;height:34px;color:#fff;background-color:#9C2A1C;}
.bfbtop1 .top1 .menu .m1 .menun{float:left;width:220px;text-align:left;position:relative;z-index:900;background-color:#fff;}
.bfbtop1 .top1 .menu .m1 .menun .menu1{float:left;height:36px;width:220px;background-color:#6E6568;}
.bfbtop1 .top1 .menu .m1 .menun .menu1 .lu1{float:left;width:220px;height:36px;font-size:14px;}
.bfbtop1 .top1 .menu .m1 .menun .menu1 .lu1 li{float:left;width:220px;height:36px;}
.bfbtop1 .top1 .menu .m1 .menun .menu1 .lu1 li a{color:#fff;float:left;padding:8px 0 0 20px;width:200px;height:28px;}
.bfbtop1 .top1 .menu .m1 .menun .menu1 .lu1 li a:hover{text-decoration:none;}
.bfbtop1 .top1 .menu .m1 .menun .menu2{background-color:#999395;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu{float:left;text-align:left;background-color:#F7F7F7;position:relative;width:670px;margin-left:220px;padding:0 10px 0 10px;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .ru1{float:left;width:650px;color:#666;margin:10px 0 0 0;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .ru1 li{float:left;line-height:23px;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .ru1 li a{color:#666666;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .ru1 li a:hover{color:#C81623;text-decoration:none;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .ru1 .l1{width:72px;padding-right:28px;font-weight:700;background:url(../homeimg/jian.gif) no-repeat;text-align:right;background-position:82px 7px;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .ru1 .l2{width:550px;border-bottom:#EEEEEE solid 1px;padding-bottom:10px;color:#E0E0E0;}
.bfbtop1 .top1 .menu .m2{float:left;width:930px;height:45px;}
.bfbtop1 .top1 .menu .m2 a{float:left;font-size:16px;color:#fff;padding:11px 20px 0 20px;height:34px;}
.bfbtop1 .top1 .menu .m2 a:hover{color:#fff;text-decoration:none;background-color:#918279;}
.bfbtop1 .top1 .menu .m2 .a1{color:#fff;text-decoration:none;background-color:#918279;}

.dqwz{float:left;width:1150px;border-bottom:#E1E1E1 solid 1px;height:22px;margin:10px 0 0 0;text-align:left;}
.dqwz .u1{float:left;width:1150px;}
.dqwz .u1 li{float:left;}
.dqwz .u1 .l1{width:950px;background:url(../img/icon2.gif) left top no-repeat;padding:0 0 0 18px;color:#666;}
.dqwz .u1 .l1 a{color:#666;}

.bfbbot{border-top:#E2E2E2 solid 1px;margin:10px 0 0 0;}
.bfbbot .bottom{float:left;width:1150px;text-align:left;}
.bfbbot .bottom .u1{float:left;background:url(../img/bottom.gif) left top no-repeat;width:1150px;height:140px;}
.bfbbot .bottom .u1 li{float:left;width:150px;padding:11px 0 0 80px;line-height:23px;}
.bfbbot .bottom .u1 li span{float:left;width:150px;font-size:14px;font-weight:700;height:23px;}
.bfbbot .bottom .u1 li .a1{color:#8a8a8a;}
.bfbbot .bottom .ad{width:1150px;}
.bfbbot .bottom .bq{float:left;width:1150px;color:#666;text-align:center;line-height:23px;padding:8px 0 0 0;}
.bfbbot .bottom .bq a{color:#666;}

.floatTips{position:absolute;top:250px;right:3px;z-index:999;float:right;}
.floatTips .uqq{float:left;width:113px;border:#CCCCCC solid 1px;background-color:#fff;}
.floatTips .uqq li{float:left;}
.floatTips .uqq .l1{padding:6px 3px 0 0;text-align:right;background:url(../img/qqr2.gif) left top no-repeat;width:110px;height:58px;}
.floatTips .uqq .l2{padding:5px 0 0 5px;width:108px;}
.floatTips .uqq .l2 a{float:left;padding:6px 0 0 30px;background:url(../img/qq4.gif) left top no-repeat;width:72px;height:18px;text-align:left;}
.floatTips .uqq .l2 a:hover{text-decoration:none;}
.floatTips .uqq .l4{width:113px;margin-top:6px;border-top:#CACACA dotted 1px;padding:7px 0 0 0;text-align:center;}
.floatTips .uqq .l5{color:#ff6600;width:113px;font-family:Arial, Helvetica, sans-serif;text-align:center;font-size:14px;padding-top:2px;}
.floatTips .uqq .l6{width:113px;height:15px;margin-top:4px;}
.floatTips #gdqqn{float:left;cursor:pointer;}

#page{float:right;margin:10px 0 0 0;width:740px;padding:0;clear:both;}
#page ul{float:right;}
#page ul li{font-size:14px;float:left;margin:0 3px 0 0;font-family:Verdana, Geneva, sans-serif;}
#page ul li a{float:left;border:#DDDDDD solid 1px;padding:8px 12px 9px 11px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
#page ul li a:hover{text-decoration:none;background-color:#ff6600;color:#fff;}
#page ul .ohave{padding:8px 12px 9px 11px;color:#ff6600;}
