@charset "gb2312";

/*切换*/
.banner{float:left;height:388px;overflow:hidden;width:100%;}
.banner .d1{float:left;width:100%;min-width:1150px;height:388px;display:block;position:absolute;left:0px;z-index:81;}
.banner .d2{float:left;width:100%;min-width:1150px;height:30px;clear:both;position:absolute;z-index:100;left:0px;margin-top:368px;}
.banner .d2 ul{float:left;position:absolute;left:50%;display:inline;}
.banner .d2 li{width:80px;height:5px;overflow:hidden;cursor:pointer;background-color:#C1C1C1;float:left;margin:0 3px;display:inline;}
.banner .d2 li.nuw{background-color:#FC7878;}

/*交易滚动*/
.yjcode .iright{float:right;background-color:rgba(0,0,0,0.6);filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#7F000000,endcolorstr=#7F000000);width:230px;position:relative;z-index:101; margin:-375px 0 0 0;clear:both;text-align:left;height:360px;}
.yjcode .iright .cap{float:left;margin:10px 10px 0 10px;height:22px;color:#FFEA01;font-weight:700;border-bottom:#ffffff dotted 1px;width:210px;}
.yjcode .iright .igd{float:left;width:210px;margin:0 10px 0 10px;overflow:hidden;height:100px;}
.yjcode .iright .igd .gd{float:left;border-bottom:#4C5054 solid 1px;height:45px;padding:1px 0 0 0;}
.yjcode .iright .stj{float:left;margin:7px 10px 0 10px;width:210px;color:#fff;}
.yjcode .iright .stj li{float:left;}
.yjcode .iright .stj li a{color:#fff;}
.yjcode .iright .stj .l1{width:50px;}
.yjcode .iright .stj .l1 img{width:40px;height:40px;border-radius:5px;}
.yjcode .iright .stj .l2{width:160px;line-height:20px;}
.yjcode .iright .stj .l2 a{font-weight:700;}


/*统计*/
.tjad{float:left;width:220px;height:140px;margin:10px 0 0 0;}
.tongji{float:left;width:920px;margin:10px 0 0 10px;height:140px;background-color:#F8F8F8;}
.tongji .u1{float:left;margin:13px 0 0 13px;width:894px;height:58px;text-align:left;}
.tongji .u1 li{float:left;}
.tongji .u1 .l1{background:url(../homeimg/tj1.gif) left top no-repeat;width:90px;font-size:16px;color:#1B85CC;height:39px;padding:8px 0 0 50px;}
.tongji .u1 .l2{margin:8px 0 0 0;border-right:#E8E8E8 solid 1px;height:20px;font-size:14px;color:#636363;padding:0 30px;}
.tongji .u1 .l2 strong{font-size:16px;color:#1B85CC;font-weight:700;}
.tongji .u2{float:left;margin:0 0 0 13px;width:894px;height:62px;text-align:left;}
.tongji .u2 li{float:left;}
.tongji .u2 .l1{background:url(../homeimg/tj2.gif) left top no-repeat;width:90px;font-size:16px;color:#1B85CC;height:39px;padding:8px 0 0 50px;margin:5px 0 0 0;}
.tongji .u2 .l2{width:714px;font-size:14px;margin:0 0 0 30px;}
.tongji .u2 .l2 a{float:left;width:357px;height:26px;}

/*推荐产品*/
.tjpro{float:left;width:1149px;margin:10px 0 0 0;text-align:left;border:#E9E9E9 solid 1px;border-left:0;}
.tjpro .u1{float:left;width:228px;height:283px;margin:0 0 0 0;border-left:#e9e9e9 solid 1px;}
.tjpro .u1 li{float:left;}
.tjpro .u1 .l1{width:200px;padding:14px;height:180px;}
.tjpro .u1 .l1 .djs{float:left;position:relative;width:200px;padding:5px 0 0 0;margin:-25px 0 0 0;height:20px;text-align:center;background:url(../img/bghui1.png) left top repeat;color:#fff;}
.tjpro .u1 .l1 .xs{float:left;margin:-195px 0 0 -15px;position:relative;}
.tjpro .u1 .l2{width:200px;padding:0 14px;height:40px;}
.tjpro .u1 .l3{width:114px;padding:3px 0 0 10px;color:#ff6600;font-size:14px;}
.tjpro .u1 .l4{width:100px;}
.tjpro .u1 .l4 a{float:right;color:#fff;width:60px;padding:4px 0 0 0;height:20px;border-radius:4px;text-align:center;font-family:Arial, Helvetica, sans-serif;background-color:#CC0000;}
.tjpro .u11{margin-left:0;width:232px;}
.tjpro .u21{background-color:#f9f9f9;}

/*产品列表*/
.icaplist{float:left;width:1150px;margin:15px 0 0 0;text-align:left;}
.icaplist .d1{float:left;width:180px;padding:0 0 0 10px;font-weight:700;font-size:20px;height:30px;}
.icaplist .u1{float:left;width:957px;border-bottom:#CC0000 solid 2px;height:35px;font-size:14px;}
.icaplist .u1 li{float:left;}
.icaplist .u1 .l1{width:140px;text-align:center;font-size:16px;padding:3px 0 0 0;height:32px;cursor:pointer;}
.icaplist .u1 .l11{color:#CC0000;background:url(../homeimg/icon.gif) center bottom no-repeat;}
.icaplist .u1 .l2{width:677px;text-align:right;padding:4px 0 0 0;}
.icaplist .u1 .l2 a:hover{color:#CC0000;text-decoration:none;}
.ilistleft{float:left;width:191px;border:#ddd solid 1px;border-top:#cc0000 solid 2px;margin-top:-2px;text-align:left;height:541px;}
.ilistleft .d1{float:left;background-color:#F7F7F7;width:181px;padding:7px 0 0 10px;height:23px;font-weight:700;}
.ilistleft .u1{float:left;margin:0 8px;width:175px;padding:9px 0;border-bottom:#dddddd dotted 1px;}
.ilistleft .u1 li{float:left;}
.ilistleft .u1 .l1{width:50px;}
.ilistleft .u1 .l2{width:125px;line-height:20px;}
.ilistleft .u1 .l2 a:hover{color:#cc0000;text-decoration:none;}
.ilistleft .u1 .l2 .s1{color:#ff0000;font-family:Arial, Helvetica, sans-serif;font-weight:700;}
.ilist{float:left;width:956px;border:#ddd solid 1px;border-left:0;height:541px;border-top:0;}
.ilist .d1{float:left;margin:20px 0 0 20px;width:167px;text-align:left;height:240px;}
.ilist .d1 .u1{float:left;width:167px;}
.ilist .d1 .u1 li{float:left;}
.ilist .d1 .u1 .l1{width:165px;border:#EDEDED solid 1px;height:165px;}
.ilist .d1 .u1 .l2{width:100px;height:25px;padding:10px 0 0 0;color:#CC0000;}
.ilist .d1 .u1 .l2 strong{font-size:16px;}
.ilist .d1 .u1 .l3{width:67px;height:20px;padding:15px 0 0 0;text-align:right;}
.ilist .d1 .u1 .l4{width:167px;line-height:20px;}
.ilist .d1 .u1 .l4 a{color:#666;}
.ilist .d1 .u1 .l4 a:hover{color:#cc0000;}


/*合作伙伴*/
.bolink{float:left;width:1148px;margin:10px 0 0 0;text-align:left;border:#D8D8D8 solid 1px;background-color:#F4F4F4;}
.bolink .u1{float:left;width:1128px;background-color:#fff;padding:10px;}
.bolink .u1 li{float:left;}
.bolink .u1 .l1{width:1128px;font-size:16px;font-weight:700;height:28px;border-bottom:#D8D8D8 dotted 1px;}
.bolink .u1 .l2{width:1128px;}
.bolink .u1 .l2 img{float:left;border:#E5E5E5 solid 1px;margin:10px 5px 0 4px;padding:4px;}
.bolink .u1 .l3{width:1128px;margin:10px 0 0 0;line-height:20px;}












