<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head>



	<meta charset="UTF-8">

	<meta name="renderer" content="webkit|ie-comp|ie-stand">

	<title>{$sbase.name}</title>

	<meta name="keywords" content="{$sbase.name}" />

	<link rel="shortcut icon" href="favicon.ico" />

	

	<link rel="stylesheet" type="text/css" href="/css/fwpublic.css" />

	<link rel="stylesheet" type="text/css" href="/css/fwheader-v2.css" />

	<link rel="stylesheet" type="text/css" href="/css/fwanimation.css" />

	<script type="text/javascript" src="/js/jquery.js"></script>

	<script type="text/javascript" src="/js/fwjquery.timer.js"></script>

	<script type="text/javascript" src="/js/fwpublic.js"></script>

	<script type="text/javascript" src="/js/fwslowscroll.js"></script>

	<script type="text/javascript" src="/js/fwcommon.js"></script>

	<style>
	.denglu{
		font-size: 14px;
	    border: 1px solid #fff;
	    color: #fff;
	    padding: 2px 11px;
	    border-radius: 3px;}
	.logo,.logo img{width:141px;height:31px;}
	</style>

</head>

<body>

	<div class="xiaochengxu-header">

		<div class="container">

			<div class="server_phone"><a class="denglu" href="{:Url('/Index')}">登录</a></div>

			<div class="server_phone"><em></em>&nbsp&nbsp{$sbase.ptel}&nbsp&nbsp&nbsp&nbsp{$sbase.tel}</div>

			<div class="logo-box">

				<a href="/"><img src="{$sbase.logo}" class="logo" alt="logo"></a>

			</div>

			<ul class="nav-list">

				<li class="nav-item index-link"><a class="link" href="/">首页</a></li>

				<li class="nav-item index-link"><a class="link" href="/">新闻中心</a></li>

				<li class="nav-item index-link"><a class="link" href="/">联系我们</a></li>

				<li class="nav-item index-link"><a class="link" href="/">代理加盟</a></li>

			</ul>

		</div>

	</div>

	<link rel="stylesheet" type="text/css" href="/css/xiaochengxu_index.css" />



	<div class="xiaochengxu-index symbol-page" data-code="index">

		<div class="banner" style="background: url('{$sbase.banner}') top center no-repeat"></div>

		<div class="col1">

			<div class="container">

				<div class="title-box">

					<div class="col-title">{$sbase.name}</div>

					<div class="title-desc">无需懂技术，各行业模板直接套用，3分钟一键生成，轻松帮助商家搭建小程序。</div>

				</div>

				<div class="point-group clearfix">

					<div class="point-item">

						<div class="icon-box icon1"></div>

						<div class="point-name">专属域名</div>

						<div class="point-desc">

							<p class="txt">绑定自己的域名，建立品牌形象</p>

							<p class="txt">提供了更多运营可能，模块间搭配</p>

							<p class="txt">使用，自由组合，让思路更开阔</p>

						</div>

					</div>

					<div class="point-item">

						<div class="icon-box icon2"></div>

						<div class="point-name">无需编程 一键生成</div>

						<div class="point-desc">

							<p class="txt">{$sbase.name}，在线快速制作生成小程序。无需编程经验，快速入门，快速制作，快速交付客户</p>

						</div>

					</div>

					<div class="point-item">

						<div class="icon-box icon3"></div>

						<div class="point-name">丰富场景 持续升级</div>

						<div class="point-desc desc3">

							<p class="txt">{$sbase.name}，提供各种行业解决方案，挖掘需求，解决行业痛点，持续更新功能，不断提升用户体验</p>

						</div>

					</div>

					<div class="point-item">

						<div class="icon-box icon4"></div>

						<div class="point-name">百变应用 自由组合</div>

						<div class="point-desc">

							<p class="txt">{$sbase.name}，提供了更多想像空间提供了更多运营可能，模块间搭配使用，自由组合，让思路更开阔</p>

						</div>

					</div>

					<div class="point-item point5">

						<div class="icon-box icon5"></div>

						<div class="point-name">独立后台 自主编辑</div>

						<div class="point-desc">

							<p class="txt">后台可以对自己账户下面每个小程</p>

							<p class="txt">序进行管理和编辑，小程序端及时</p>

							<p class="txt">更新。并且方便打包更新审核</p>

						</div>

					</div>

				</div>

			</div>

		</div>

		<div class="col2">

			<div class="container">

				<div class="title-box">

					<div class="col-title">小程序的应用场景</div>

					<div class="title-desc">营销型小程序覆盖众多行业场景 </div>

				</div>

				<div class="app-list clearfix">

					<div class="app-item">

						<div class="icon-box icon1"></div>

						<div class="app-name">电商</div>

					</div>

					<div class="app-item">

						<div class="icon-box icon2"></div>

						<div class="app-name">餐饮</div>

					</div>

					<div class="app-item">

						<div class="icon-box icon3"></div>

						<div class="app-name">美容美发</div>

					</div>

					<div class="app-item">

						<div class="icon-box icon4"></div>

						<div class="app-name">体育健身</div>

					</div>

					<div class="app-item">

						<div class="icon-box icon5"></div>

						<div class="app-name">酒店</div>

					</div>

					<div class="app-item">

						<div class="icon-box icon6"></div>

						<div class="app-name">政府</div>

					</div>

					<div class="app-item">

						<div class="icon-box icon7"></div>

						<div class="app-name">医疗</div>

					</div>

					<div class="app-item">

						<div class="icon-box icon8"></div>

						<div class="app-name">KTV</div>

					</div>

					<div class="app-item">

						<div class="icon-box icon9"></div>

						<div class="app-name">旅游</div>

					</div>

					<div class="app-item">

						<div class="icon-box icon10"></div>

						<div class="app-name">教育培训</div>

					</div>

					<div class="app-item">

						<div class="icon-box icon11"></div>

						<div class="app-name">母婴</div>

					</div>

					<div class="app-item">

						<div class="icon-box icon12"></div>

						<div class="app-name">其他</div>

					</div>

				</div>

			</div>

		</div>

		<div class="col3">

			<div class="container">

				<div class="title-box">

					<div class="col-title">一站式行业解决方案</div>

					<div class="title-desc">小程序，功能全面，简单易上手</div>

				</div>

				<div class="program-group clearfix">

					<div class="program-item program1">

						门店列表场景

					</div>

					<div class="program-item program2">

						门店地图显示场景

					</div>

					<div class="program-item program3">

						小程序官网场景

					</div>

					<div class="program-item program4">

						线上活动线下报名

					</div>

					<div class="program-item program5">

						产品或服务众筹场景

					</div>

					<div class="program-item program6">

						在线预约，一站式服务

					</div>

					<div class="program-item program7">

						线下课程一键预约

					</div>

					<div class="program-item program8">

						酒店预约服务场景

					</div>

					<div class="program-item program9">

						门票预约服务场景

					</div>

					<div class="program-item program10">

						旅游预约服务

					</div>

				</div>

			</div>

		</div>

		<div class="col4">

			<div class="container">

				<div class="title-box">

					<div class="col-title">加盟我们的8大优势</div>

				</div>

				<div class="advantage-group clearfix">

					<div class="adv-item">

						<div class="digit">1</div>

						<p class="txt">当前最热风口</p>

						<p class="txt">未来最大趋势</p>

					</div>

					<div class="adv-item">

						<div class="digit">2</div>

						<p class="txt">新一轮跑马圈地</p>

						<p class="txt">最佳机会</p>

					</div>

					<div class="adv-item">

						<div class="digit">3</div>

						<p class="txt">企业刚需必须</p>

						<p class="txt">找第三方开发</p>

					</div>

					<div class="adv-item">

						<div class="digit">4</div>

						<p class="txt">0技术经验</p>

						<p class="txt">超低推广成本</p>

					</div>

					<div class="adv-item">

						<div class="digit">5</div>

						<p class="txt">自由定价</p>

						<p class="txt">市场利润高</p>

					</div>

					<div class="adv-item">

						<div class="digit">6</div>

						<p class="txt">可快速复制</p>

						<p class="txt">快速获利</p>

					</div>

					<div class="adv-item">

						<div class="digit">7</div>

						<p class="txt">一次锁定客户</p>

						<p class="txt">多次后续收益</p>

					</div>

					<div class="adv-item">

						<div class="digit">8</div>

						<p class="txt">创研10年技术</p>

						<p class="txt">及服务品牌保证</p>

					</div>

				</div>

			</div>

		</div>

		<div class="col5">

			<div class="container">

				<div class="text-box clearfix">

					<p class="txt">抢占亿万市场第一桶金</p>

					<div class="phone-icon">

					</div>

					<p class="phone-num">{$sbase.tel}</p>

					<a href="javascript::void(0)" class="col5-btn" target="_self">立即咨询</a>

				</div>

			</div>

		</div>

		<div class="msg-part-list">

			<div class="warp">

				<div class="msg-part-item">

					<a class="section-tit" href="{:Url('Listnews/index')}?cate=1">小程序_常见问题</a>

					<div class="blue-line"></div>



					{if $news1}

						{foreach $news1 as $key=>$item}

							{if $key == 0}

								<a class="top-new" href="{:Url('Showart/index')}?newsid={$item.id}" target="_blank">

									<div class="new-img" style='background: url({$item.thumb}) center center no-repeat;width: 373px;height: 170px;background-size:100%;'></div>

									<div class="top-txt">[小程序]{$item.title}</div>

								</a>

							{else}

								<a class="other-ms-item" href="/news/1060.html" target="_blank" >

									<div class="msg-con f_l" style="padding:10px 0">[小程序]{$item.title}</div>

									<div class="msg-date f_l" style="padding:10px 0">[{$item.creattime}]</div>

									<div class="blank"></div>

								</a>

							{/if}

						{/foreach}

					{/if}



					<a href="{:Url('Listnews/index')}?cate=1" target="_blank" class="show-more-btn">查看更多</a>

				</div>

				<div class="msg-part-item">

					<a class="section-tit" href="{:Url('Listnews/index')}?cate=2">小程序_运营干货</a>

					<div class="blue-line"></div>

					{if $news2}

						{foreach $news2 as $key=>$item}

							{if $key == 0}

								<a class="top-new" href="{:Url('Showart/index')}?newsid={$item.id}" target="_blank">

									<div class="new-img" style='background: url({$item.thumb}) center center no-repeat;width: 373px;height: 170px;background-size:100%;'></div>

									<div class="top-txt">[小程序]{$item.title}</div>

								</a>

							{else}

								<a class="other-ms-item" href="/news/1060.html" target="_blank" >

									<div class="msg-con f_l" style="padding:10px 0">[小程序]{$item.title}</div>

									<div class="msg-date f_l" style="padding:10px 0">[{$item.creattime}]</div>

									<div class="blank"></div>

								</a>

							{/if}

						{/foreach}

					{/if}

					<a href="{:Url('Listnews/index')}?cate=2" target="_blank" class="show-more-btn">查看更多</a>

				</div>

				<div class="msg-part-item">

					<a class="section-tit" href="{:Url('Listnews/index')}?cate=3">快讯</a>

					<div class="blue-line"></div>

					{if $news3}

						{foreach $news3 as $key=>$item}

							{if $key == 0}

								<a class="top-new" href="{:Url('Showart/index')}?newsid={$item.id}" target="_blank">

									<div class="new-img" style='background: url({$item.thumb}) center center no-repeat;width: 373px;height: 170px;background-size:100%;'></div>

									<div class="top-txt">[小程序]{$item.title}</div>

								</a>

							{else}

								<a class="other-ms-item" href="/news/1060.html" target="_blank" >

									<div class="msg-con f_l" style="padding:10px 0">[小程序]{$item.title}</div>

									<div class="msg-date f_l" style="padding:10px 0">[{$item.creattime}]</div>

									<div class="blank"></div>

								</a>

							{/if}

						{/foreach}

					{/if}

					<a href="{:Url('Listnews/index')}?cate=3" target="_blank" class="show-more-btn">查看更多</a>

				</div>

				<div class="blank"></div>

			</div>

		</div>

	</div>

	<div class="footer">

		<div class="footer-top">

			<div class="wrap">

				<div class="footer-block w-29">

					<div class="logo">

						<img src="{$sbase.foot_logo}" alt="login">

					</div>

					<span class="partner">兴业资本&nbsp;&nbsp;战略投资企业</span>

				</div>

				<div class="footer-block w-25">

					<div class="footer-tit">服务热线</div>

					<div class="hot-line">{$sbase.ptel}</div>

					<p>售前咨询（{$sbase.ftime}）</p>

				</div>

				<div class="footer-block w-34">

					<div class="footer-tit">联系我们</div>

					<p style="margin-bottom: 10px;">{$sbase.address}</p>

					<p class="mb-10">

						<a  target="_blank">

							企业QQ：{$sbase.qq}

							<span class="foot-qq"></span>

						</a>

					</p>

					<p>企业邮箱：{$sbase.email}</p>

				</div>

				<div class="footer-block w-12">

					<div class="footer-tit">关注公众号</div>

					<div class="footer-ewm">

						<img src="{$sbase.erweima}" alt="ewm" style="width:101px;height: 101px">

					</div>

					<p class="ml">动态和资讯都在这里</p>

				</div>

				<div class="clear"></div>

			</div>

		</div>

		<div class="footer-bottom" style="height: auto;padding:10px 0;line-height: 20px;">

			{$sbase.beianxx}

		</div>

	</div>

	

	

</div>

</body>

</html>