{include file="public/new_left" /}

{include file="public/new_head" /}
<form id='my_upload' action="{:Url('Applet/upimg')}" method='post' enctype='multipart/form-data'>
    <input type="file" id="upload_photo" name="uploadfile" value="请点击上传图片"   style="display:none" />
</form>

<form id='edit_my_upload' action="{:Url('Applet/upimg')}" method='post' enctype='multipart/form-data'>
    <input type="file" id="edit_upload_photo" name="uploadfile" value="请点击上传图片"   style="display:none" />
</form>

<input type="hidden" id="choose" value="combo">

<div class="content">

    <div class="clearfix">

        <div class="content_title fl agent_list_title">我管理的功能套餐</div>

        <div class="overview_right fr">

            <div class="add_agent fl" onclick="add_combo()" style="cursor: pointer">添加功能套餐</div>

            <div class="agent_search hbj fl">

                <input class="agent_search_input flex1" type="" name="" id="keyworld" value="" placeholder="输入关键词" />

                <div class="agent_search_icon iconfont icon-sousuo" onclick="search()"></div>

            </div>

        </div>

    </div>

    <table class="time_meal_table" border="0" cellspacing="0" cellpadding="0">

        <thead>

        <tr>

            <th>ID</th>

            <th>套餐图标</th>

            <th>套餐名称</th>

            <th>微信价格</th>

            <th>百度价格</th>

            <th>支付宝价格</th>

            <th>创建时间</th>

            <th>操作</th>

        </tr>

        {volist name="combo" id="vo"}

        <tr>

            <td class="fontfamily-a">{$vo.id}</td>

            <td>

                {if $vo.icon}

                    <img src="{$vo.icon}" style="width: 50px; height: 50px"/>

                {else}

                    <div class="fun_meal_icon iconfont icon-taocan1"></div>

                {/if}

            </td>

            <td>{$vo.name}</td>

            <td class="fontfamily-a">{$vo.wx_price}</td>

           <td>{$vo.baidu_price}</td>

            <td>{$vo.ali_price}</td>

            <td class="fontfamily-a">{:date('Y-m-d ', $vo.createtime)}</td>

            <td>

                <a href="{:Url('Combo/rule')}?id={$vo.id}" style="display: inline-block;">

                    <input type="button" value="分配权限"  class="newbtn" style="cursor: pointer;">

                </a>
                <span class="linetd"></span>
                <div class="newbtn" style="cursor: pointer;display: inline-block;" onclick="edit_combo({$vo.id})">修改套餐</div>
                <span class="linetd"></span>
                <div class="newbtn" style="margin-right: 0; cursor: pointer;display: inline-block;" onclick="del_combo({$vo.id})">删除套餐</div>

            </td>

        </tr>

        {/volist}

        </thead>

    </table>

    <div class="list_page">

        {$combo->render()}

    </div>

</div>

<!--添加套餐-->

<div class="alertbox" style="display: none" id="add_combo">

    <div class="alert">

        <div class="alert_head">添加功能套餐

            <img src="/image/close_alert.png" onclick="close_combo()"/>

        </div>

        <div class="alert_content">

            <form action="{:Url('Combo/save_combo')}" id="form_sample_2"  method="post" enctype="multipart/form-data" onsubmit = "return checkinfo();">

                <div class="clearfix">

                    <div class="alert_form_left fl">

                        <div class="clearfix mb-30">

                            <div class="open_form_title fl">套餐名称<span>*</span></div>

                            <div class="alert_form_right fl">

                                <input class="open_form_text" type="text" name="name" id="name" value=""/>

                            </div>

                        </div>

                        <div class="clearfix mb-30">

                            <div class="open_form_title fl">图标</div>

                            <div class="alert_form_right hbj fl">

                                <img class="upimg" id="upimg" src="/image/upimg.png" />

                                <div class="up_imgbox">

                                    <div class="up_img_btn" onClick="upload_photo.click();">上传图片

                                        <input type="hidden" name="icon" id="icon" value="" />

                                    </div>

                                    <div class="up_img_bz">建议上传正方形图片</div>

                                </div>

                            </div>

                        </div>

                        <div class="clearfix mb-30">

                            <div class="open_form_title fl">微信价格<span>*</span></div>

                            <div class="alert_form_right fl">

                                <input class="open_form_text" type="text" name="wx_price" id="wx_price" value="" />

                                <div class="alert_form_dw">元/年</div>

                            </div>

                        </div>

                      <div class="clearfix">

                            <div class="open_form_title fl">百度价格<span>*</span></div>

                            <div class="alert_form_right fl">

                                <input class="open_form_text" type="text" name="baidu_price" id="baidu_price" value="" />

                                <div class="alert_form_dw">元/年</div>

                            </div>

                        </div>

                    </div>

                    <div class="alert_form_left fr">

                       <div class="clearfix mb-30">



                            <div class="alert_form_right fr">

                                <input class="open_form_text" type="text" name="ali_price" id="ali_price" value="" />

                                <div class="alert_form_dw">元/年</div>

                            </div>

                            <div class="open_form_title fr">支付宝价格<span>*</span></div>

                        </div>


                        <div class="clearfix">



                            <div class="alert_form_right fr">

                                <textarea class="alert_form_textarea" name="combo_desc" rows="" cols="" id="combo_desc"></textarea>

                            </div>

                            <div class="open_form_title fr">套餐简介</div>

                        </div>

                    </div>

                </div>

                <input class="alert_submit" type="submit" name="" value="确定" />

            </form>

        </div>

    </div>

</div>

<!--添加套餐-->

<!--编辑套餐-->

<div class="alertbox" style="display: none" id="edit_combo">

    <div class="alert" style="height: 460px;top: 0;bottom: 0">

        <div class="alert_head">修改功能套餐

            <img src="/image/close_alert.png" onclick="close_e_combo()"/>

        </div>

        <div class="alert_content">

            <form action="{:Url('Combo/save_edit_combo')}"   method="post" enctype="multipart/form-data" onsubmit = "return checkeditinfo();">

                <div class="clearfix">

                    <div class="alert_form_left fl">

                        <div class="clearfix mb-30">

                            <div class="open_form_title fl">套餐名称<span>*</span></div>

                            <div class="alert_form_right fl">

                                <input class="open_form_text" type="text" name="name" id="e_name" value=""/>

                            </div>

                        </div>

                        <div class="clearfix mb-30">

                            <div class="open_form_title fl">图标</div>

                            <div class="alert_form_right hbj fl">

                                <img class="upimg"  src="/image/upimg.png" id="edit_icon" />

                                <div class="up_imgbox">

                                    <div class="up_img_btn" onClick="edit_upload_photo.click();">上传图片

                                        <input type="hidden" name="icon" id="e_icon" value="" />

                                    </div>

                                    <div class="up_img_bz">建议上传正方形图片</div>

                                </div>

                            </div>

                        </div>

                        <div class="clearfix mb-30">

                            <div class="open_form_title fl">微信价格<span>*</span></div>

                            <div class="alert_form_right fl">

                                <input class="open_form_text" type="text" name="wx_price" id="e_wx_price" value="" />

                                <div class="alert_form_dw">元/年</div>

                            </div>

                        </div>

                       <div class="clearfix">

                            <div class="open_form_title fl">百度价格<span>*</span></div>

                            <div class="alert_form_right fl">

                                <input class="open_form_text" type="text" name="baidu_price" id="e_baidu_price" value="" />

                                <div class="alert_form_dw">元/年</div>

                            </div>

                        </div>

                    </div>

                    <div class="alert_form_left fr">

                       <div class="clearfix mb-30">



                            <div class="alert_form_right fr">

                                <input class="open_form_text" type="text" name="ali_price" id="e_ali_price" value="" />

                                <div class="alert_form_dw">元/年</div>

                            </div>

                            <div class="open_form_title fr">支付宝价格<span>*</span></div>

                        </div>


                        <div class="clearfix">



                            <div class="alert_form_right fr">

                                <textarea class="alert_form_textarea" name="combo_desc" rows="" cols="" id="e_combo_desc"></textarea>

                            </div>

                            <div class="open_form_title fr">套餐简介</div>

                        </div>

                    </div>

                </div>

                <input type="hidden" name="id" id="e_id">

                <input class="alert_submit" type="submit" name=""  value="确定" />

            </form>

        </div>

    </div>

</div>

<!--编辑套餐--> 

<!--删除提示-->

<div class="alertbox" style="display: none;" id="show_del">

    <div class="alert2" style="height: 160px;">

        <div class="alert2_head">删除套餐

            <img src="/image/close_alert.png" onclick="close_del()"/>

        </div>

        <div class="alert2_content hbj">

            <div class="alert2_content_text">确定要删除名为<span id="combo_name" style="color: #f73e4c;">王美丽</span>的套餐吗？</div>

            <input type="hidden" value="" name="id" id="id">

            <div class="alert2_content_btn1" onclick="del_ex()" style="cursor: pointer">确定</div>

            <div class="alert2_content_btn2" onclick="close_del()" style="cursor: pointer">取消</div>

        </div>

    </div>

</div>

<!--删除提示-->

<!--删除成功-->

<div class="alertbox" style="display: none;"  id="del_success">

    <div class="alert3">

        <div class="alert2_head">提示

            <img src="/image/close_alert.png" onclick="close_success()"/>

        </div>

        <div class="alert3_content">

            <div class="alert3_content_icon iconfont icon-chenggong"></div>

            <div class="alert3_content_text">删除成功！</div>

        </div>

    </div>

</div>

<!--删除成功-->

</body>

<script type="text/javascript">

    // 搜索功能

    function search(){

        var val = $("#keyworld").val();

        if(!val){

            alert("请输入搜索套餐名");

        }else{

            location.href="{:Url('Combo/index')}"+"?keyworld="+val;

        }

    }

    function del_user_conf(){

        if(confirm('您确定要删除该套餐嘛?')){

            return true;

        }else{

            return false;

        }

    }

    

    //添加套餐

    function add_combo() {

        $("#add_combo").show();

    }



    //关闭添加套餐

    function close_combo() {

        $("#add_combo").hide();

    }



    //检验提交

    function checkinfo(){

        var name = $("#name").val();



        var wx_price = $("#wx_price").val();

        var baidu_price = $("#baidu_price").val();

         var ali_price = $("#ali_price").val();





        if(!name){

            alert("请输入套餐名称！");

            return false;

        }else if(!wx_price){

            alert("请设置套餐微信价格！");

            return false;

        }
        else if(!baidu_price){

            alert("请设置套餐百度价格！");

            return false;

        }else if(!ali_price){

            alert("请设置套餐支付宝价格！");

            return false;

        }
        else{

            return true;

        }

    }



    //删除套餐

    function del_combo(id) {

        var id = id;

        //获取管理员名称

        $.post("{:Url('Combo/combo_name')}",{"id":id},function(data){

            $("#combo_name").html(data);

        });

        $("#id").val(id);

        $("#show_del").show();

    }



    //执行删除

    function del_ex() {

        $("#show_del").hide();

        var id = $("#id").val();

        $.post("{:Url('Combo/del_combo')}",{"id":id},function(data){

            if(data == 1){

                $("#del_success").show();

                setInterval(g, 2000);



            }else{

                return false;

            }

        })

    }



    //关闭删除提示

    function close_del() {

        $("#show_del").hide();

    }



    // //手动关闭成功提示框

    function close_success() {

        $("#del_success").hide();

    }



    function g() {

        location.reload();

    }



    //编辑套餐

    function edit_combo(id) {

        var id = id;

        $.post("{:Url('Combo/combo_info')}",{"id":id},function(data){

            $("#e_id").val(data['id']);

            $("#e_name").val(data['name']);

            $("#e_wx_price").val(data['wx_price']);

            $("#e_baidu_price").val(data['baidu_price']);

            $("#e_ali_price").val(data['ali_price']);

            if(data['icon']){

                $("#edit_icon").attr('src',data['icon']);

            }else{

                $("#edit_icon").attr('src','/image/upimg.png');

            }

            $("#e_combo_desc").html(data['combo_desc']);

        });

        $("#edit_combo").show();

    }



    //关闭套餐

    function close_e_combo (id) {

        $("#edit_combo").hide();

    }



    function checkeditinfo(){

        var name = $("#e_name").val();



        var wx_price = $("#e_wx_price").val();

        var baidu_price = $("#e_baidu_price").val();

        var ali_price = $("#e_ali_price").val();





        if(!name){

            alert("请输入套餐名称！");

            return false;

        }else if(!wx_price){

            alert("请设置套餐微信价格！");

            return false;

        }
        else if(!baidu_price){

            alert("请设置套餐百度价格！");

            return false;

        }else if(!ali_price){

            alert("请设置套餐支付宝价格！");

            return false;

        }
        else{

            return true;

        }

    }

    $("#upload_photo").change(function(){
        $("#my_upload").ajaxSubmit({ 
          dataType:  'json', //数据格式为json 
          success: function(data) {
            $("#icon").val(data);
            $("#upimg").attr("src",data);
          }
        }); 
    });

    $("#edit_upload_photo").change(function(){
        $("#edit_my_upload").ajaxSubmit({ 
          dataType:  'json', //数据格式为json 
          success: function(data) {
            $("#e_icon").val(data);
            $("#edit_icon").attr("src",data);
          }
        }); 
    });





</script>

</html>