{include file="public/top" /}
<title>关于我们</title>
<meta name="keywords" content="关于我们">
<meta name="description" content="关于我们">
<link rel="stylesheet" type="text/css" href="/com/css/icon/iconfont.css" />
<link rel="stylesheet" type="text/css" href="/com/css/swiper.min.css" />
<link rel="stylesheet" type="text/css" href="/com/css/index.css" />
<script src="/com/js/jquery.js" type="text/javascript" charset="utf-8"></script>
<script src="/com/js/jquery.SuperSlide.2.1.1.js" type="text/javascript" charset="utf-8"></script>
<script src="/com/js/swiper.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/com/js/index.js" type="text/javascript" charset="utf-8"></script>
<link rel="stylesheet" type="text/css" href="/com/css/wnmd.css"/>
<script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=qWmCfqDAdPBzy3YoHxGnimKT&s=1"></script>
<script src="/com/js/wnmd.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>

    {include file="public/head"}
    <div class="about_banner">
            <div class="profit_banner_div main">
                <p class="profit_banner_en">ABOUT US</p>
                <p class="profit_banner_cn">关于我们</p>
            </div>
        </div>
        <div class="introbox">
            <div class="intro main">
                <div class="clearfix">
                    <div class="intro_left">01</div>
                    <div class="intro_center">
                        <p class="intro_center_p1">公司介绍</p>
                        <p class="intro_center_p2">COMPANY INTRODUCTION</p>
                    </div>
                    <div class="intro_right">{if $info}{$info.descs}{/if}</div>
                </div>
            </div>
        </div>
        
        <div class="contact_content" style="padding-top: 0px">
            <div class="main2">
                <div class="clearfix">
                    <div class="contact_single fl hbj">
                        <img class="block" src="/com/img/contact_phone.png"/>
                        <div class="contact_single_right">
                            <div class="contact_single_right_div1">咨询热线：</div>
                            <div class="contact_single_right_div2">{if $info}{$info.hotline}{/if}</div>
                        </div>
                    </div>
                    <div class="contact_single fl hbj">
                        <img class="block" src="/com/img/contact_mail.png"/>
                        <div class="contact_single_right">
                            <div class="contact_single_right_div1">邮箱地址：</div>
                            <div class="contact_single_right_div2">{if $info}{$info.email}{/if}</div>
                        </div>
                    </div>
                    <div class="contact_single fl hbj">
                        <img class="block" src="/com/img/contact_qq.png"/>
                        <div class="contact_single_right">
                            <div class="contact_single_right_div1">客服QQ：</div>
                            <div class="contact_single_right_div2">{if $info}{$info.qq}{/if}</div>
                        </div>
                    </div>
                    <div class="contact_single fl hbj">
                        <img class="block" src="/com/img/sqsh.png"/>
                        <div class="contact_single_right">
                            <div class="contact_single_right_div1">售前咨询：</div>
                            <div class="contact_single_right_div2">{if $info}{$info.hotline}{/if}</div>
                        </div>
                    </div>
                    <div class="contact_single fl hbj">
                        <img class="block" src="/com/img/sqsh.png"/>
                        <div class="contact_single_right">
                            <div class="contact_single_right_div1">售后客服：</div> 
                            <div class="contact_single_right_div2">{if $info}{$info.after_sale}{/if}</div>
                        </div>
                    </div>
                </div>
                <div class="ditContent" id="dituContent"></div>
            </div>
        </div>
        <div class="introbox" style="padding-top: 0">
            <div class="intro main">
                <div class="clearfix">
                    <div class="intro_left">02</div>
                    <div class="intro_center">
                        <p class="intro_center_p1">团队介绍</p>
                        <p class="intro_center_p2">TEAM INTRODUCTION</p>
                    </div>
                    <div class="intro_right">{if $info}{$info.teamdesc}{/if}</div>
                </div>
                <div class="teambox">
                    <div class="teamhd">
                        <ul></ul>
                    </div>
                    {if $list}
                    <div class="prev iconfont icon-arrow-left"></div>
                    <div class="next iconfont icon-arrow-right"></div>
                    {/if}
                    <div class="teambd">
                        <div class="team clearfix">
                            {if $list}
                            {foreach $list as $rs}
                            <li class="teambd_single">
                                <div class="teambd_div">
                                    <div class="teambd_div_div">
                                        <img src="{$rs.pic}">
                                    </div>
                                </div>
                                <div class="name">{$rs.name}<span>{$rs.position}</span></div>
                            </li>
                            {/foreach}
                            {/if}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    {include file="public/foot"}
    <script type="text/javascript">
        //创建和初始化地图函数：
function initMap() {
    createMap(); //创建地图
    setMapEvent(); //设置地图事件
    addMapControl(); //向地图添加控件
    addMarker(); //向地图中添加marker
}

//创建地图函数：
function createMap() {
    var map = new BMap.Map("dituContent"); //在百度地图容器中创建一个地图
    var point = new BMap.Point({if $info}{$info.letloncen}{/if}); //定义一个中心点坐标
    map.centerAndZoom(point, 18); //设定地图的中心点和坐标并将地图显示在地图容器中
    window.map = map; //将map变量存储在全局
}

//地图事件设置函数：
function setMapEvent() {
    map.enableDragging(); //启用地图拖拽事件，默认启用(可不写)
    map.enableScrollWheelZoom(); //启用地图滚轮放大缩小
    map.enableDoubleClickZoom(); //启用鼠标双击放大，默认启用(可不写)
    map.enableKeyboard(); //启用键盘上下左右键移动地图
}

//地图控件添加函数：
function addMapControl() {
    //向地图中添加缩放控件
    var ctrl_nav = new BMap.NavigationControl({
        anchor: BMAP_ANCHOR_TOP_LEFT,
        type: BMAP_NAVIGATION_CONTROL_LARGE
    });
    map.addControl(ctrl_nav);
    //向地图中添加缩略图控件
    var ctrl_ove = new BMap.OverviewMapControl({
        anchor: BMAP_ANCHOR_BOTTOM_RIGHT,
        isOpen: 1
    });
    map.addControl(ctrl_ove);
    //向地图中添加比例尺控件
    var ctrl_sca = new BMap.ScaleControl({
        anchor: BMAP_ANCHOR_BOTTOM_LEFT
    });
    map.addControl(ctrl_sca);
}
{if $info}
var title = '{$info.name}';
var address = '{$info.address}';
var point = '{$info.letlon}';
{else}
var title = "";
var address = "";
var point = "";
{/if}
//标注点数组
var markerArr = [{
    title: title,
    content: address,
    point: point,
    isOpen: 1,
    icon: {
        w: 21,
        h: 21,
        l: 0,
        t: 0,
        x: 6,
        lb: 5
    }
}];
//创建marker
function addMarker() {
    for(var i = 0; i < markerArr.length; i++) {
        var json = markerArr[i];
        var p0 = json.point.split("|")[0];
        var p1 = json.point.split("|")[1];
        var point = new BMap.Point(p0, p1);
        var iconImg = createIcon(json.icon);
        var marker = new BMap.Marker(point, {
            icon: iconImg
        });
        var iw = createInfoWindow(i);
        var label = new BMap.Label(json.title, {
            "offset": new BMap.Size(json.icon.lb - json.icon.x + 10, -20)
        });
        marker.setLabel(label);
        map.addOverlay(marker);
        label.setStyle({
            borderColor: "#808080",
            color: "#333",
            cursor: "pointer"
        });

        (function() {
            var index = i;
            var _iw = createInfoWindow(i);
            var _marker = marker;
            _marker.addEventListener("click", function() {
                this.openInfoWindow(_iw);
            });
            _iw.addEventListener("open", function() {
                _marker.getLabel().hide();
            })
            _iw.addEventListener("close", function() {
                _marker.getLabel().show();
            })
            label.addEventListener("click", function() {
                _marker.openInfoWindow(_iw);
            })
            if(!!json.isOpen) {
                label.hide();
                _marker.openInfoWindow(_iw);
            }
        })()
    }
}
//创建InfoWindow 
function createInfoWindow(i) {
    var json = markerArr[i];
    var iw = new BMap.InfoWindow("<b class='iw_poi_title' title='" + json.title + "'>" + json.title + "</b><div class='iw_poi_content'>" + json.content + "</div>");
    return iw;
}
//创建一个Icon
function createIcon(json) {
    var icon = new BMap.Icon("/image/ico_map.png", new BMap.Size(json.w, json.h), {
        imageOffset: new BMap.Size(-json.l, -json.t),
        infoWindowOffset: new BMap.Size(json.lb + 5, 1),
        offset: new BMap.Size(json.x, json.h)
    })
    return icon;
}

initMap(); //创建和初始化地图
    </script>
</body> 
</html>