@charset "gb2312";

/*切换*/
.banner{float:left;height:454px;overflow:hidden;width:100%;}
.banner .d1{float:left;width:100%;min-width:1150px;height:454px;display:block;position:absolute;left:0px;z-index:1;}
.banner .d2{float:left;width:100%;min-width:1150px;height:30px;clear:both;position:absolute;z-index:2;left:0px;margin-top:434px;}
.banner .d2 ul{float:left;position:absolute;left:50%;display:inline;}
.banner .d2 li{width:80px;height:5px;overflow:hidden;cursor:pointer;background-color:#C1C1C1;float:left;margin:0 3px;display:inline;}
.banner .d2 li.nuw{background-color:#FC7878;}
.qhad{float:left;width:1150px;}
.qhad .ad1{float:left;width:222px;height:130px;margin-left:10px;}
.qhad .ad1:first-child{margin-left:0;}
.qhad .ad1 img{width:220px;height:128px;border:0;border:#EEEEEE solid 1px;}


/*标签*/
.biaoqian{float:left;text-align:left;margin:30px 0 0 0;width:1150px;}
.biaoqian a{float:left;width:383px;height:47px;font-size:16px;color:#A0A0A0;text-align:center;background:url(../homeimg/bq2.gif) left top no-repeat;padding:8px 0 0 0;}
.biaoqian .a1{color:#fff;background:url(../homeimg/bq1.gif) left top no-repeat;}
.biaoqian a:hover{text-decoration:none;}
.biaoqianm{float:left;text-align:left;width:1150px;margin:20px 0 0 0;}
.biaoqianm a{float:left;border:#eee solid 1px;border-left:0;}
.biaoqianm .a1{border-left:#eee solid 1px;}
.biaoqianm img{width:229px;height:380px;}
.biaoqianm .a5 img{width:228px;}


/*登录*/
#idlno{float:right;width:218px;height:260px;background-color:#E8E9EC;padding:1px;z-index:101;margin:-278px 0 0 0;position:relative;clear:both;}
#idlno .u1{float:left;width:218px;height:260px;text-align:center;}
#idlno .u1 li{float:left;width:218px;}
#idlno .u1 .l1{padding:30px 0 0 0;height:32px;font-size:16px;}
#idlno .u1 .l3 a{float:left;color:#fff;font-size:16px;width:180px;padding:8px 0 0 0;height:32px;margin:10px 0 0 19px;background-color:#188EEE;}
#idlno .u1 .l3 a:hover{background-color:#117DD5;text-decoration:none;}
#idlyes{float:right;width:218px;background-color:#fff;padding:1px;z-index:101;margin:-298px 0 0 0;position:relative;clear:both;}
#idlyes .u1{float:left;width:186px;border:#D4D4D4 solid 1px;padding:15px;text-align:left;}
#idlyes .u1 li{float:left;}
#idlyes .u1 .l1{width:186px;border-bottom:#CCCCCC solid 1px;height:25px;font-weight:700;color:#00a2ca;font-size:14px;}
#idlyes .u1 .l2{line-height:30px;padding:10px 0 7px 0;width:186px;}
#idlyes .u1 .l2 span{font-weight:700;font-size:14px;font-family:Arial, Helvetica, sans-serif;}
#idlyes .u1 .l3{text-align:center;padding:10px 0 0 0;border-top:#ccc solid 1px;width:186px;}
#idlyes .u1 .l3 a{color:#00A2CA;}
#idlyes .u1 .l3 a:hover{color:#ff6600;}

/*标题*/
.procap{float:left;width:1150px;margin:20px 0 0 0;text-align:left;height:40px;border-bottom:#DDDDDD solid 1px;}
.procap li{float:left;}
.procap .l1{width:200px;font-size:21px;color:#000;}
.procap .l2{width:950px;text-align:right;padding:9px 0 0 0;}
.procap .l2 a{font-size:14px;}

/*热销商品*/
.dtj{float:left;width:1150px;margin:10px 0 0 0;height:310px;}
.dtj .u1{float:left;width:205px;padding:7px;border:#fff solid 1px;height:281px;margin:6px 0 0 10px;text-align:left;}
.dtj .u1 li{float:left;}
.dtj .u1 .l1{width:205px;height:215px;}
.dtj .u1 .l1 img{width:205px;height:205px;}
.dtj .u1 .l1 .djs{float:left;position:relative;width:205px;padding:5px 0 0 0;margin:-25px 0 0 0;height:20px;text-align:center;background:url(../img/bghui1.png) left top repeat;color:#fff;}
.dtj .u1 .l2{width:205px;height:45px;font-size:14px;line-height:20px;}
.dtj .u1 .l2 a:hover{color:#62B4F7;text-decoration:none;}
.dtj .u1 .l3{width:80px;height:21px;font-size:14px;color:#E85308;font-weight:700;}
.dtj .u1 .l4{width:125px;height:21px;text-align:right;}
.dtj .u1 .l4 a{color:#999;}
.dtj .u1:hover{border:#DDDDDD solid 1px;box-shadow:0 0 10px rgba(0,0,0,.3);}
.dtj .u11{margin-left:0;}

/*产品列表*/
.bfbtype1{background-color:#F9F9F9;padding:35px 0 35px 0;}
.bfbtype2{background-color:#fff;padding:35px 0 55px 0;}
.typecap{float:left;text-align:left;width:1150px;height:45px;background:url(../homeimg/bg.gif) left bottom repeat-x;}
.typecap li{float:left;}
.typecap .l1{width:220px;font-size:21px;color:#000;padding:5px 0 0 0;}
.typecap .l2{width:928px;height:45px;font-size:14px;padding-left:2px;}
.typecap .l2 a{float:left;padding:12px 15px 0 15px;height:33px;}
.typecap .l2 a:hover{text-decoration:none;}
.typecap .l2 .a1{border-bottom:#188EEE solid 2px;color:#188EEE;height:32px;}
.leftgg{float:left;width:220px;height:420px;}
.leftgg .gg1{float:left;width:220px;height:160px;margin:10px 0 0 0;}
.pdright{float:left;width:672px;margin:9px 0 0 8px;}
.pdright .u1{float:left;width:199px;padding:7px;border:#fff solid 1px;height:275px;margin:6px 0 0 9px;text-align:left;}
.pdright .u1 li{float:left;}
.pdright .u1 .l1{width:199px;height:209px;}
.pdright .u1 .l1 img{width:199px;height:199px;}
.pdright .u1 .l2{width:199px;height:45px;font-size:14px;line-height:20px;}
.pdright .u1 .l2 a:hover{color:#62B4F7;text-decoration:none;}
.pdright .u1 .l3{width:80px;height:21px;font-size:14px;color:#E85308;font-weight:700;}
.pdright .u1 .l4{width:119px;height:21px;text-align:right;}
.pdright .u1 .l4 a{color:#999;}
.pdright .u1:hover{border:#DDDDDD solid 1px;box-shadow:0 0 10px rgba(0,0,0,.3);}
.bfbtype1 .pdright .u1{border:#f9f9f9 solid 1px;}
.rxph{float:right;width:235px;margin:20px 0 0 0;}
.rxph .u1{float:left;width:211px;margin:0 0 15px 12px;}
.rxph .u1 li{float:left;}
.rxph .u1 .l1{width:105px;height:32px;border-bottom:#188EEE solid 1px;font-size:16px;text-align:center;}
.rxph .u1 .l2{width:106px;height:32px;border-bottom:#DFDFDF solid 1px;}
.rxph .u2{float:left;width:189px;padding:6px 0 0 46px;text-align:left;}
.rxph .u2 li{float:left;}
.rxph .u2 .l1{width:189px;height:26px;font-size:14px;}
.rxph .u2 .l1 a:hover{text-decoration:none;color:#62B4F7;}
.rxph .u2 .l2{width:189px;height:65px;font-size:14px;color:#888;line-height:25px;}
.rxph .u2 .l2 img{height:50px;width:50px;margin-right:10px;}
.rxph .u2 .l2 a{color:#999999;}
.rxph .u2 .l2 strong{color:#E85308;}
.rxph .u21{background:url(../homeimg/ph1.gif) no-repeat;background-position:12px 8px;}
.rxph .u22{background:url(../homeimg/ph2.gif) no-repeat;background-position:12px 8px;}
.rxph .u23{background:url(../homeimg/ph3.gif) no-repeat;background-position:12px 8px;}
.rxph .u2:hover{box-shadow:0 0 10px rgba(0,0,0,.3);}
.rxph .u3{float:left;width:211px;height:27px;text-align:left;padding:7px 12px 0 12px;}
.rxph .u3 li{float:left;}
.rxph .u3 .l1{width:34px;}
.rxph .u3 .l2{width:177px;font-size:14px;}
.rxph .u3 .l2 a{color:#333;}
.rxph .u3 .l2 a:hover{color:#62B4F7;text-decoration:none;}
.rxph .u3:hover{background:rgba(229,229,229,1);-webkit-transition:background-color 0.3s linear;-moz-transition:background-color 0.3s linear;-o-transition:background-color 0.3s linear;transition:background-color 0.3s linear;}

/*资讯*/
.syy{float:left;width:1150px;margin:40px 0 0 0;text-align:left;}
.syy .cap{float:left;width:1150px;font-size:25px;text-align:center;}
.syy .u1{float:left;width:1150px;margin:40px 0 0 0;}
.syy .u1 li{float:left;}
.syy .u1 .l1{width:150px;text-align:center;border-bottom:#eee solid 1px;height:42px;font-size:20px;cursor:pointer;}
.syy .u1 .l11{color:#1564E4;border-bottom:#1564E4 solid 2px;}
.syy .u1 .l2{width:700px;font-size:14px;border-bottom:#eee solid 1px;text-align:right;height:33px;padding:9px 0 0 0;}
.syy .ssym{float:left;width:1150px;margin:20px 0 0 0;}
.syy .ssym .u2{float:left;width:271px;height:400px;margin-right:14px;border:#EEEEEE solid 1px;}
.syy .ssym .u2 li{float:left;}
.syy .ssym .u2 .l1{width:271px;height:145px;}
.syy .ssym .u2 .l1 img{width:271px;height:145px;}
.syy .ssym .u2 .l2{padding:11px 14px 0 14px;width:243px;height:65px;font-size:18px;line-height:30px;}
.syy .ssym .u2 .l2 a:hover{color:#1564E4;text-decoration:none;}
.syy .ssym .u2 .l3{padding:0 14px 0 14px;width:243px;font-size:14px;line-height:28px;color:#999;}
.syy .ssym .u2:hover{background-color:#f2f2f2;}
.ssygg{float:left;width:1150px;margin:20px 0 0 0;}
.ssygg .ad1{margin-left:57px;}
.ssygg .ad1:first-child{margin-left:0;}

/*合作伙伴*/
.bfbhz{background-color:#444546;text-align:left;}
.bfbhz .u1{float:left;width:1150px;padding:35px 0 15px 0;border-bottom:#4A4B4C solid 1px;}
.bfbhz .u1 li{float:left;}
.bfbhz .u1 .l1{width:1150px;font-size:20px;height:45px;color:#999999;}
.bfbhz .u1 .l2{width:1150px;}
.bfbhz .u1 .l2 img{float:left;border:#E5E5E5 solid 1px;margin:10px 5px 0 4px;padding:4px;}
.bfbhz .u1 .l3{width:1150px;font-size:14px;}
.bfbhz .u1 .l3 a{color:#999;float:left;margin:0 40px 0 0;height:32px;}











