{include file="public/head" /}
{include file="public/top" /}
<script type="text/javascript" src="/js/jscolor.js"></script>
<style type="text/css">
    .chongdingy{
        background-color:#f5f5f5;
        padding:13px 0;
    }
    .chongdingywz{
        text-align: left !important;
        font-size: 16px;
        padding-left: 20px;
    }

    .jscolor{
        width: 30px;
        height: 30px;
        border: 1px solid #dedede;
        outline: none;
    }
    .m-wrap{
        outline: none;
        padding-left: 10px;
    }

</style>

<input type="hidden" id="nowhtml" value="navModel" class="navModel1">

<ul class="breadcrumb">
    <li>
        <i class="icon-home"></i>
        客服设置--{$applet.name}
    </li>
</ul>

<p class="ql-long-24836828" style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    <span class="ql-author-24836828">1、公众平台小程序后台：开发 - 开发</span><span class="ql-author-i2754562723">设</span><span class="ql-author-24836828">置 - 消息推送；配置相关信息；</span>
</p>
<p style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    &nbsp;
</p>
<p class="ql-long-24836828" style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    <span class="ql-author-24836828">&nbsp;URL（服务器地址）：</span><a class="ql-link ql-author-24836828" href="https://域名/index/customer/index" target="_blank" style="color: rgb(112, 177, 231);">https://域名/index/customer/index</a>
</p>
<p class="ql-long-24836828" style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    <span class="ql-author-24836828">Token（令牌）：</span><span class="ql-author-i2934629180">kefu</span>
</p>
<p class="ql-long-i3051305517" style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    <span class="ql-author-i3051305517"> &nbsp; &nbsp; </span>
</p>
<p class="ql-long-24836828" style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    <span class="ql-author-24836828">EncodingAESKey（消息加密秘钥）：生成；</span>
</p>
<p class="ql-long-24836828" style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    <span class="ql-author-24836828">消息加密方式：明文模式；</span>
</p>
<p class="ql-long-24836828" style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    <span class="ql-author-24836828">数据格式：JSON&nbsp;</span>
</p>
<p style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    &nbsp;
</p>
<p class="ql-long-24836828" style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    <span class="ql-author-24836828">
 &nbsp; &nbsp; &nbsp; &nbsp;<img width="1709" height="auto" src="https://uploader.shimo.im/f/DmPdjvJ1WjEriRde!thumbnail"/>
 &nbsp; &nbsp; &nbsp;</span>
</p>
<p style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    &nbsp;
</p>
<p style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    &nbsp;
</p>
<p class="ql-long-24836828" style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    <span class="ql-author-24836828">2、小程序系统后台：；</span>
</p>
<p class="ql-long-24836828" style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    <span class="ql-author-24836828">
 &nbsp; &nbsp; &nbsp; &nbsp;<img width="1254" height="auto" src="https://uploader.shimo.im/f/EFz1Xfi0WP4fGzA4!thumbnail"/>
 &nbsp; &nbsp; &nbsp;</span>
</p>
<p class="ql-long-6557071" style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    <span class="ql-author-6557071">好了，到这里客服就设置成功了，下面我们来设置自动回复功能（客户从小程序点击客服按钮进入客服会话窗口时自动回复信息），如果后台不设置，默认回复文本“您好，有什么可以帮助您？”</span>
</p>
<p style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    &nbsp;
</p>
<p style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    &nbsp;
</p>
<p class="ql-long-6557071" style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    <strong class="ql-author-6557071">客服发送消息操作</strong>
</p>
<p class="ql-long-6557071" style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    <span class="ql-author-6557071">客户发消息过来后，消息类型为两种：</span>
</p>
<p class="ql-long-6557071" style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    <span class="ql-author-6557071">一、如果是文本消息，消息显示格式：“[id]微信昵称：消息内容”</span>
</p>
<p class="ql-long-6557071" style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    <span class="ql-author-6557071">客服回复格式：“</span><span class="ql-author-24836828">id:内容</span><span class="ql-author-6557071">”&nbsp;&nbsp;&nbsp;</span><span class="ql-author-6557071" style="color: rgb(255, 0, 0);color: #ff0000;">请注意“:为英文冒号”</span>
</p>
<p class="ql-long-6557071" style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    <span class="ql-author-6557071">二、如果为图片消息，客服得到的消息格式为两条，一条文本消息，说明是发过来的，一张图片消息，就是客户发过来的内容</span>
</p>
<p class="ql-long-6557071" style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    <span class="ql-author-6557071">“[id]微信昵称：用户图片如下”</span>
</p>
<p class="ql-long-6557071" style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    <span class="ql-author-6557071">“图片”</span>
</p>
<p class="ql-long-6557071" style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    <span class="ql-author-6557071">客服回复方式：</span>
</p>
<p class="ql-long-6557071" style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    <span class="ql-author-6557071">先发送一条文本消息“</span><span class="ql-author-24836828">id:发送图片</span><span class="ql-author-6557071">”，然后再发送一张图片即可</span>
</p>
<p>
    <img width="269px" height="443px" src="https://images-cdn.shimo.im/26rJC7z4Hbc6scqn/image.blob!thumbnail"/>
    &nbsp; &nbsp; &nbsp;
</p>
<p style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    &nbsp;
</p>
<p style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    &nbsp;
</p>
<p style="line-height: 1.7;margin-bottom: 0pt;margin-top: 0pt;font-size: 11pt;color: #494949;">
    &nbsp;
</p>
<p>
    <br/>
</p>


{include file="public/foot_more" /}