{include file="public/head" /}

{include file="public/top" /}

<style type="text/css">

	form {

	     margin: 0 !important; 

	    display: inline-block !important;

	}	

</style>



<input type="hidden" id="nowhtml" value="navModel">



	<ul class="breadcrumb">

		<li>

			<i class="icon-home"></i>

			自动回复列表--{$applet.name}

		</li>

	</ul>



	<div class="row-fluid">



	<div class="span12">





		<div class="portlet box ">



<style>
.chongdingy{padding:13px;}
.chongdingywz{text-align: left !important;
    font-size: 16px;
    padding-left: 20px;}
</style>

			<div class="portlet-body">


				<div class="control-group chongdingy" style="background-color:#fcf8e3; margin-bottom:20px !important">

					<label class="control-label chongdingywz" style="background-color:#fcf8e3; color:#8a6d3b;">客服相关设置，操作步骤，点击链接<a href="{:Url('customers/help')}?appletid=<?php echo $_GET['appletid']?>">[客服设置操作步骤]</a>查看</label>
					<label class="control-label chongdingywz" style="background-color:#fcf8e3; color:#8a6d3b">自动回复启用多条,会同时回复多条</label>
					

				</div>


				<div class="input-box" style="margin-bottom: 10px; position: relative;">



					<div class="btn-group" style="float:right">



						<a href="{:Url('Customers/add')}?appletid=<?php echo $_GET['appletid']?>" >

						<button id="sample_editable_1_new" class="btn green">

						添加自动回复 <i class="icon-plus"></i>

						</button>

						</a>



					</div>

				</div>



				<table class="table table-striped table-hover table-bordered" id="sample_editable_1">



					<thead>



						<tr>
							<th style="width: 50px;">类型</th>
							<th style="width: 300px;">内容</th>
							<th style="width: 200px;">状态/类型</th>
							<th width="200px;">操作</th>
						</tr>
					</thead>

					<tbody>

						{if $nav}

							{foreach $nav as $item}

								<tr>

									<td>
			
										{if $item.type ==1}文本{/if}
										{if $item.type ==2}图片{/if}
										{if $item.type ==3}小程序卡片{/if}
										{if $item.type ==4}图文{/if}

									</td>

									<td style="width:300px">
										{$item.content}

									</td>

									<td>

										{if $item.flag ==2}

											<font color="red">关闭</font>

										{else}

											<font color="green">开启</font>

										{/if}

									</td>

									<td>

										<a href="{:Url('Customers/add')}?appletid=<?php echo $_GET['appletid']?>&id={$item.id}"><button class="btn green">编辑</button></a>

										<form action="{:Url('Customers/delete')}?appletid=<?php echo $_GET['appletid']?>&id={$item.id}"  method="post" enctype="multipart/form-data" onsubmit = "return del()">

											<button class="btn red" type="submit">删除</button>

										</form>

									</td>

								</tr>

							{/foreach}

						{/if}

					</tbody>



				</table>



				

				<!-- 分页 -->

				<div>

					<div class="fenye_left">


					</div>

					<div class="fenye_right">


					</div>

				</div>

				

			</div>



		</div>

		



	</div>



</div>





<script type="text/javascript">

	function del(){

		if(confirm('该删除操作不可逆，请谨慎操作?')){

			return true;

		}else{
			return false;
		}

	}

</script>



{include file="public/foot_more" /}