{include file="public/head" /}

{include file="public/top" /}

<!--侧边栏end-->
<!--主体start-->
<style type="text/css">
		.editors{
			max-width: 770px;
			min-height: 600px;
			margin-left: 20px;
		}
		.w-e-text-container{
			min-height: 600px !important;
		}
		.weiz{
			margin-left:20px;
			margin-top: 40px;
			margin-bottom: 20px;
		}
		.chongdingy{
			background-color:#f5f5f5; 
			padding:10px 0;
		}
		.chongdingywz{
			text-align: left !important;
			font-size: 16px;
			padding-left: 20px;
		}
	</style>

<input type="hidden" id="nowhtml" value="navSystem" class="navSystem1">



	<ul class="breadcrumb">

		<li>

			<i class="icon-home"></i>

			基础信息管理--{$applet.name}

		</li>

	</ul>



	



	<div class="row-fluid">



		<div class="portlet box">





			<div class="portlet-body form">



				<!-- BEGIN FORM-->



				<form action="{:Url('Index/save')}?appletid=<?php echo $_GET['appletid']?>" id="form_sample_2" class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit = "return checkinfo();">



					<div class="control-group chongdingy">

						<label class="control-label chongdingywz">小程序相关配置</label>

					</div>
					<div class="control-group">

						<label class="control-label">小程序原始id<span style="color:red">*</span></label>

						<div class="controls">
							<input name="xcxId" type="text" id="xcxId" class="span3 m-wrap" value="{if $applet}{$applet.xcxId}{/if}" style="height: 35px !important;">
							<span style="color:#999999; line-height:40px; margin-left:20px;">请在小程序后台查看原始id</span>
						</div>
					</div>
					<div class="control-group">

						<label class="control-label">微信小程序AppId<span style="color:red">*</span></label>

						<div class="controls">
							<input name="appID" type="text" id="appID" class="span3 m-wrap" value="{if $applet}{$applet.appID}{/if}" style="height: 35px !important;">
							<span style="color:#999999; line-height:40px; margin-left:20px;">应用ID,以wx开头,请正确填写</span>
						</div>
					</div>
					<div class="control-group">

						<label class="control-label">微信小程序AppSecret<span style="color:red">*</span></label>

						<div class="controls">
							<input name="appSecret" id="appSecret" type="text" class="span3 m-wrap" value="{if $applet}{$applet.appSecret}{/if}" style="height: 35px !important;">
							<span style="color:#999999; line-height:40px; margin-left:20px;">应用密钥,请正确填写</span>
						</div>
					</div>
					<div class="control-group">

						<label class="control-label">普通商户商户号</label>

						<div class="controls">
							<input name="mchid" type="text" class="span3 m-wrap" value="{if $applet}{$applet.mchid}{/if}" style="height: 35px !important;">
							<span style="color:#999999; line-height:40px; margin-left:20px;">不填写则无法使用微信支付</span>
						</div>
					</div>
					<div class="control-group">

						<label class="control-label">微信支付秘钥<font style="color:red">*</font></label>

						<div class="controls">

							<input name="signkey" type="text" class="span5 m-wrap"  id="signkey" value="{if $applet}{$applet.signkey}{/if}" />
							<div class="ssssd" onclick="shenc()" style="line-height: 28px">生成新的秘钥</div>
							
						</div>
						<style type="text/css">
							.ssssd{
								display: inline-block;
								border:1px solid #dedede; 
								text-align:center;
								line-height: 38px;
								padding: 0 10px;
								cursor:pointer;
								background-color: #efefef;
							}
						</style>

					</div>
					

					<div class="control-group chongdingy">

						<label class="control-label chongdingywz">基础信息</label>

					</div>
					<div class="control-group">



						<label class="control-label">门店名称<font style="color:red">*</font></label>



						<div class="controls">



							<input name="name" type="text" class="span3 m-wrap" value="{if $bases}{$bases.name}{/if}"  style="height: 35px !important;" />

							<span style="color:#999999; line-height:40px; margin-left:20px;">请输入门店名称</span>

						</div>



					</div>
					<div class="control-group" style="margin-bottom:0px !important;">

						<label class="control-label">幻灯片</label>
						<div class="controls">
							<div id="xztpan" class="btn commonchangepic" style="background-color:#e5e5e5; color:#333333" data-type="2">
							选择图片
							<input type="hidden" name="commonuploadslide">
							</div>
							<span style="color:#999999; line-height:40px; margin-left:20px;">建议上传750*330大小图片</span>
						</div>
						
					</div>
					
					<div class="control-group" style="padding-top:10px">

						<label class="control-label"></label>
						<div class="controls commonuploadslide" id="imgzs" style="font-size:0">
							{if $slide}
							{foreach  $slide as  $k => $res}
								<div class="paiwei" onmousemove="xians(this)" onmouseout="gb(this)" id="li{$res['id']}">
									<img src="{$res['slide']}" style="width: 140px; height:90px;">
									<div class="beijingys">
							
									</div>
									<div class="sancann" onclick="del({$res['id']})">
										<span class="cancel">删除</span>
									</div>
								</div>
							{/foreach}
							{/if}
						</div>
						
					</div>
					<div class="control-group">



						<label class="control-label">顶部logo</label>



						<div class="controls">



							<div class="fileupload fileupload-new" data-provides="fileupload">



								<div class="fileupload-new thumbnail commonuploadpic1" style="width: 140px; height:90px;">

									{if $bases && $bases.logo2}

									<img src="{$bases.logo2}"/>

									{else}

									<img src="/image/noimage.jpg" alt="" />

									{/if}

								</div>



								<div class="fileupload-preview fileupload-exists thumbnail" style="width:140px; height:90px;">

									

								</div>



								<div>
									<span class="btn btn-file"><span class="fileupload-new commonchangepic" data-type="1">选择图片<input type="hidden" name="commonuploadpic1" ></span></span>	



								</div>



								<div class="zphpx"><font color="#999999">最顶部长方形LOGO（200px X 70px）</font></div>



							</div>



						</div>

					</div>

					<div class="control-group">



						<label class="control-label">门店背景</label>



						<div class="controls">



							<div class="fileupload fileupload-new" data-provides="fileupload">



								<div class="fileupload-new thumbnail commonuploadpic2" style="width: 140px; height:90px;">

									{if $bases && $bases.banner}

									<img src="{$bases.banner}"/>

									{else}

									<img src="/image/noimage.jpg" alt="" />

									{/if}

								</div>



								<div class="fileupload-preview fileupload-exists thumbnail" style="width:140px; height:90px;">

									

								</div>



								<div>
									<span class="btn btn-file"><span class="fileupload-new commonchangepic" data-type="1">选择图片<input type="hidden" name="commonuploadpic2" ></span></span>	

								</div>



								<div class="zphpx"><font color="#999999">建议上传750*330大小图片</font></div>



							</div>



						</div>

					</div>





					<div class="control-group">



						<label class="control-label">门店LOGO</label>



						<div class="controls">



							<div class="fileupload fileupload-new" data-provides="fileupload">



								<div class="fileupload-new thumbnail commonuploadpic3" style="width: 140px; height:140px;">

									{if $bases && $bases.logo}

									<img src="{$bases.logo}"/>

									{else}

									<img src="/image/noimage_1.png" alt="" />

									{/if}

								</div>



								<div class="fileupload-preview fileupload-exists thumbnail" style="width:140px; height:140px;">

									

								</div>



								<div>
<span class="btn btn-file"><span class="fileupload-new commonchangepic" data-type="1">选择图片<input type="hidden" name="commonuploadpic3" ></span></span>	

								</div>



								<div class="zphpx"><font color="#999999">请上传门店logo（正方形）</font></div>



							</div>



						</div>

					</div>



					<div class="control-group">



						<label class="control-label">门店视频</label>



						<div class="controls">



							<input name="video" type="text" class="span3 m-wrap" value="{if $bases}{$bases.video}{/if}"  style="height: 35px !important;" />

							<span style="color:#999999; line-height:40px; margin-left:20px;">请输入远程视频地址（.mp4格式或者腾讯视频）</span>

						</div>



					</div>





					<div class="control-group">



						<label class="control-label">视频默认图片</label>



						<div class="controls">



							<div class="fileupload fileupload-new" data-provides="fileupload">



								<div class="fileupload-new thumbnail commonuploadpic4" style="width: 140px; height:90px;">

									{if $bases && $bases.v_img}

									<img src="{$bases.v_img}"/>

									{else}

									<img src="/image/noimage.jpg" alt="" />

									{/if}

								</div>



								<div class="fileupload-preview fileupload-exists thumbnail" style="width:140px; height:90px;">

									

								</div>



								<div>
<span class="btn btn-file"><span class="fileupload-new commonchangepic" data-type="1">选择图片<input type="hidden" name="commonuploadpic4" ></span></span>	

								</div>



								<div class="zphpx"><font color="#999999">默认黑屏（大小720x410）</font></div>



							</div>



						</div>

					</div>





					





					<div class="control-group">



						<label class="control-label">门店特色</label>



						<div class="controls">



							<input name="desc" type="text" class="span3 m-wrap" value="{if $bases}{$bases.desc}{/if}"  style="height: 35px !important;" />

							<span style="color:#999999; line-height:40px; margin-left:20px;">请输入一句话介绍</span>

						</div>



					</div>





					<div class="control-group">



						<label class="control-label">门店地址</label>



						<div class="controls">



							<input name="address" type="text" class="span3 m-wrap" value="{if $bases}{$bases.address}{/if}"  style="height: 35px !important;" />

							<span style="color:#999999; line-height:40px; margin-left:20px;">请输入门店地址</span>

						</div>



					</div>





					<div class="control-group">



						<label class="control-label">营业时间</label>



						<div class="controls">



							<input name="time" type="text" class="span3 m-wrap" value="{if $bases}{$bases.time}{/if}"  style="height: 35px !important;" />

							<span style="color:#999999; line-height:40px; margin-left:20px;">请输入营业时间</span>

						</div>



					</div>





					<div class="control-group">



						<label class="control-label">联系电话</label>



						<div class="controls">



							<input name="tel" type="text" class="span3 m-wrap" value="{if $bases}{$bases.tel}{/if}"  style="height: 35px !important;" />

							<span style="color:#999999; line-height:40px; margin-left:20px;">请输入联系电话</span>

						</div>



					</div>





					<div class="control-group">



						<label class="control-label">经纬度 <font color="red">勿填反</font></label>



						<div class="controls">



							<input name="latitude" type="text" class="span1 m-wrap" value="{if $bases}{$bases.latitude}{/if}"  style="height: 35px !important;" />

							<span style="margin-right:20px;">例：纬度:30.88888</span>

							<input name="longitude" type="text" class="span1 m-wrap" value="{if $bases}{$bases.longitude}{/if}"  style="height: 35px !important;" />

							<span>例：经度:120.6666</span>

							<span style="color:#999999; line-height:40px; margin-left:20px;"><a href="http://lbs.qq.com/tool/getpoint/" target="_blank">经纬度查询</a></span>

						</div>



					</div>





					<div class="control-group">



						<label class="control-label">门店简介</label>



						<div class="controls">



							<textarea class="span3 m-wrap" style="height:150px;" name="about">{if $bases}{$bases.about}{/if}</textarea>

						</div>



					</div>
					<div class="control-group">



						<label class="control-label">门店公告</label>



						<div class="controls">



							<textarea class="span3 m-wrap" style="height:150px;" name="gonggao">{if $bases}{$bases.gonggao}{/if}</textarea>
							<span style="color:#999999; line-height:40px; margin-left:20px;">请输门店公告，不填则不显示</span>

						</div>



					</div>

					<div class="control-group">



						<label class="control-label">公告链接</label>



						<div class="controls">



							<input name="gonggaoUrl" type="text" class="span3 m-wrap" value="{if $bases}{$bases.gonggaoUrl}{/if}"  style="height: 35px !important;" />

							<span style="color:#999999; line-height:40px; margin-left:20px;">公告的小程序链接页面</span>

						</div>



					</div>





		<!-- 			<div class="control-group">



						<label class="control-label">介绍板块栏目名</label>



						<div class="controls">



							<input name="aboutCN" type="text" class="span2 m-wrap" value="{if $bases}{$bases.aboutCN}{/if}"  style="height: 35px !important;" />



							<span style=" line-height:30px; margin-left:20px; margin-right:20px;">

								英文名称

							</span>



							<input name="aboutCNen" type="text" class="span2 m-wrap" value="{if $bases}{$bases.aboutCNen}{/if}"  style="height: 35px !important;" />



						</div>



					</div>



					

					<div class="control-group">



						<label class="control-label">横排推荐块中文名</label>



						<div class="controls">



							<input name="catename_x" type="text" class="span2 m-wrap" value="{if $bases}{$bases.catename_x}{/if}"  style="height: 35px !important;" />



							<span style=" line-height:30px; margin-left:20px; margin-right:20px;">

								英文名称

							</span>



							<input name="catenameen_x" type="text" class="span2 m-wrap" value="{if $bases}{$bases.catenameen_x}{/if}"  style="height: 35px !important;" />



						</div>



					</div>





					<div class="control-group">



						<label class="control-label">竖排推荐块中文名</label>



						<div class="controls">



							<input name="catename" type="text" class="span2 m-wrap" value="{if $bases}{$bases.catename}{/if}"  style="height: 35px !important;" />



							<span style=" line-height:30px; margin-left:20px; margin-right:20px;">

								英文名称

							</span>



							<input name="catenameen" type="text" class="span2 m-wrap" value="{if $bases}{$bases.catenameen}{/if}"  style="height: 35px !important;" />



						</div>



					</div>
 -->




					<div class="form-actions">



						<button type="submit" class="btn green">确定</button>



					</div>



				</form>



				<!-- END FORM-->



			</div>



		</div>



	</div>



	

	

	<style type="text/css">

		.modal{

			width: 795px !important;

			margin-left: -397px !important;

			min-height: 290px !important;

		}

	</style>

	<div id="stack2" class="modal fade" tabindex="-1" data-focus-on="input:first" style="width:795px !important; margin-left:-400px;">



		<div class="modal-header">



			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>



			<h3>图片上传</h3>



		</div>

		

		<div class="controls">

			<div class="uploader-list-container" >

				<div class="queueList">

					<div id="dndArea" class="placeholder">

						<div id="filePicker-2"></div>

					</div>

				</div>

				<div class="statusBar" style="display:none;">

					<div class="progress"> <span class="text">0%</span> <span class="percentage"></span> </div>

					<div class="info"></div>

					<div class="btns">

						<div id="filePicker2"></div>

						<div class="uploadBtn">开始上传</div>

					</div>

				</div>

			</div>



		</div>



	</div>

<script src="/js/jquery.js"></script> 

<script type="text/javascript" src="/webuploader/js/webuploader.min.js"></script>

<script type="text/javascript" >
function checkinfo(){
	var xcxId = $("#xcxId").val();
	var appID = $("#appID").val();
	var appSecret = $("#appSecret").val();
	if(!xcxId){
		alert("请设置小程序原始id！");
		return false;
	}else if(!appID){
		alert("请设置小程序AppId！");
		return false;
	}else if(!appSecret){
		alert("请设置小程序AppSecret！");
		return false;
	}else{
		return true;
	}
}

function shenc(){


	len = 32;  
    var $chars = 'ABCDEFGHJKMNPQRSTWXYZabcdefhijkmnprstwxyz2345678'; // 默认去掉了容易混淆的字符oOLl,9gq,Vv,Uu,I1  
    var maxPos = $chars.length;  
    var pwd = '';  
    for (i = 0; i < len; i++) {  
        pwd += $chars.charAt(Math.floor(Math.random() * maxPos));  
    }  

    $("#signkey").val(pwd);

}

function del(id){
	if(confirm('你确定要删除这张图片嘛?')){



		$("#li"+id).remove();

		$.post("{:Url('Index/del')}",{"id":id},function(data){
				
		})

	}else{
	        return false;
	    }



}

function xians(me){

	var b = $(me).find("div[class='beijingys']");

	var s = $(me).find("div[class='sancann']");

	$(b).show();

	$(s).show();

}

function gb(me){

	var b = $(me).find("div[class='beijingys']");

	var s = $(me).find("div[class='sancann']");

	$(b).hide();

	$(s).hide();

}


(function( $ ){

    // 当domReady的时候开始初始化

    $(function() {
        var $wrap = $('.uploader-list-container'),
            // 图片容器

            $queue = $( '<ul class="filelist" id="filelist"></ul>' )

                .appendTo( $wrap.find( '.queueList' ) ),

            // 状态栏，包括进度和控制按钮

            $statusBar = $wrap.find( '.statusBar' ),

            // 文件总体选择信息。

            $info = $statusBar.find( '.info' ),

            // 上传按钮

            $upload = $wrap.find( '.uploadBtn' ),

            // 没选择文件之前的内容。

            $placeHolder = $wrap.find( '.placeholder' ),
            $progress = $statusBar.find( '.progress' ).hide(),

            // 添加的文件数量

            fileCount = 0,

            // 添加的文件总大小

            fileSize = 0,



            // 优化retina, 在retina下这个值是2

            ratio = window.devicePixelRatio || 1,



            // 缩略图大小

            thumbnailWidth = 180 * ratio,

            thumbnailHeight = 120 * ratio,



            // 可能有pedding, ready, uploading, confirm, done.

            state = 'pedding',



            // 所有文件的进度信息，key为file id

            percentages = {},

            // 判断浏览器是否支持图片的base64

            isSupportBase64 = ( function() {

                var data = new Image();

                var support = true;

                data.onload = data.onerror = function() {

                    if( this.width != 1 || this.height != 1 ) {

                        support = false;

                    }

                }

                data.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==";

                return support;

            } )(),



            // 检测是否已经安装flash，检测flash的版本

            flashVersion = ( function() {

                var version;



                try {

                    version = navigator.plugins[ 'Shockwave Flash' ];

                    version = version.description;

                } catch ( ex ) {

                    try {

                        version = new ActiveXObject('ShockwaveFlash.ShockwaveFlash')

                                .GetVariable('$version');

                    } catch ( ex2 ) {

                        version = '0.0';

                    }

                }

                version = version.match( /\d+/g );

                return parseFloat( version[ 0 ] + '.' + version[ 1 ], 10 );

            } )(),



            supportTransition = (function(){

                var s = document.createElement('p').style,

                    r = 'transition' in s ||

                            'WebkitTransition' in s ||

                            'MozTransition' in s ||

                            'msTransition' in s ||

                            'OTransition' in s;

                s = null;

                return r;

            })(),



            // WebUploader实例

            uploader;







        // 实例化

        uploader = WebUploader.create({

            pick: {

                id: '#filePicker-2',

                label: '点击选择图片'

            },

            formData: {

                uid: 123

            },

            dnd: '#dndArea',

            paste: '#uploader',

            swf: '/webuploader/Uploader.swf',

            chunked: false,

            chunkSize: 512 * 1024,

            server: '{:Url('Index/imgupload')}?appletid=<?php echo $_GET['appletid']?>',

            // runtimeOrder: 'flash',



            // accept: {

            //     title: 'Images',

            //     extensions: 'gif,jpg,jpeg,bmp,png',

            //     mimeTypes: 'image/*'

            // },



            // 禁掉全局的拖拽功能。这样不会出现图片拖进页面的时候，把图片打开。

            disableGlobalDnd: false,

            fileNumLimit: 8,

            fileSizeLimit: 200 * 1024 * 1024,    // 200 M

            fileSingleSizeLimit: 50 * 1024 * 1024    // 50 M

        });



        // 拖拽时不接受 js, txt 文件。

        uploader.on( 'dndAccept', function( items ) {

            var denied = false,

                len = items.length,

                i = 0,

                // 修改js类型

                unAllowed = 'text/plain;application/javascript ';



            for ( ; i < len; i++ ) {

                // 如果在列表里面

                if ( ~unAllowed.indexOf( items[ i ].type ) ) {

                    denied = true;

                    break;

                }

            }



            return !denied;

        });



        uploader.on('dialogOpen', function() {

            console.log('here');

        });

        // 添加“添加文件”的按钮，

        uploader.addButton({

            id: '#filePicker2',

            label: '继续添加'

        });



        uploader.on('ready', function() {

            window.uploader = uploader;

        });



        // 当有文件添加进来时执行，负责view的创建

        function addFile( file ) {

            var $li = $( '<li id="' + file.id + '">' +

                    '<p class="imgWrap"></p>'+                

                    '</li>' ),



                $btns = $('<div class="file-panel">' +

                    '<span class="cancel">删除</span>' +

					'</div>').appendTo( $li ),

                $prgress = $li.find('p.progress span'),

                $wrap = $li.find( 'p.imgWrap' ),

                $info = $('<p class="error"></p>'),



                showError = function( code ) {

                    switch( code ) {

                        case 'exceed_size':

                            text = '文件大小超出';

                            break;



                        case 'interrupt':

                            text = '上传暂停';

                            break;



                        default:

                            text = '上传失败，请重试';

                            break;

                    }



                    $info.text( text ).appendTo( $li );

                };



            if ( file.getStatus() === 'invalid' ) {

                showError( file.statusText );

            } else {

                // @todo lazyload

                $wrap.text( '预览中' );

                uploader.makeThumb( file, function( error, src ) {

                    var img;



                    if ( error ) {

                        $wrap.text( '不能预览' );

                        return;

                    }



                    if( isSupportBase64 ) {

                        img = $('<img src="'+src+'">');

                        $wrap.empty().append( img );

                    } else {

                        $.ajax('/webuploader/server/preview.php', {

                            method: 'POST',

                            data: src,

                            dataType:'json'

                        }).done(function( response ) {

                            if (response.result) {

                                img = $('<img src="'+response.result+'">');

                                $wrap.empty().append( img );

                            } else {

                                $wrap.text("预览出错");

                            }

                        });

                    }

                }, thumbnailWidth, thumbnailHeight );



                percentages[ file.id ] = [ file.size, 0 ];

                file.rotation = 0;

            }



            file.on('statuschange', function( cur, prev ) {

                if ( prev === 'progress' ) {

                    $prgress.hide().width(0);

                } else if ( prev === 'queued' ) {

                    $li.off( 'mouseenter mouseleave' );

                    $btns.remove();

                }



                // 成功

                if ( cur === 'error' || cur === 'invalid' ) {

                    console.log( file.statusText );

                    showError( file.statusText );

                    percentages[ file.id ][ 1 ] = 1;

                } else if ( cur === 'interrupt' ) {

                    showError( 'interrupt' );

                } else if ( cur === 'queued' ) {

                    percentages[ file.id ][ 1 ] = 0;

                } else if ( cur === 'progress' ) {

                    $info.remove();

                    $prgress.css('display', 'block');

                } else if ( cur === 'complete' ) {

                    $li.append( '<span class="success"></span>' );

                }



                $li.removeClass( 'state-' + prev ).addClass( 'state-' + cur );

            });



            $li.on( 'mouseenter', function() {

                $btns.stop().animate({height: 30});

            });



            $li.on( 'mouseleave', function() {

                $btns.stop().animate({height: 0});

            });



            $btns.on( 'click', 'span', function() {

                var index = $(this).index(),

                    deg;



                switch ( index ) {

                    case 0:

                        uploader.removeFile( file );

                        return;



                    case 1:

                        file.rotation += 90;

                        break;



                    case 2:

                        file.rotation -= 90;

                        break;

                }



                if ( supportTransition ) {

                    deg = 'rotate(' + file.rotation + 'deg)';

                    $wrap.css({

                        '-webkit-transform': deg,

                        '-mos-transform': deg,

                        '-o-transform': deg,

                        'transform': deg

                    });

                } else {

                    $wrap.css( 'filter', 'progid:DXImageTransform.Microsoft.BasicImage(rotation='+ (~~((file.rotation/90)%4 + 4)%4) +')');

                    // use jquery animate to rotation

                    // $({

                    //     rotation: rotation

                    // }).animate({

                    //     rotation: file.rotation

                    // }, {

                    //     easing: 'linear',

                    //     step: function( now ) {

                    //         now = now * Math.PI / 180;



                    //         var cos = Math.cos( now ),

                    //             sin = Math.sin( now );



                    //         $wrap.css( 'filter', "progid:DXImageTransform.Microsoft.Matrix(M11=" + cos + ",M12=" + (-sin) + ",M21=" + sin + ",M22=" + cos + ",SizingMethod='auto expand')");

                    //     }

                    // });

                }





            });



            $li.appendTo( $queue );

        }



        // 负责view的销毁

        function removeFile( file ) {

            var $li = $('#'+file.id);



            delete percentages[ file.id ];

            updateTotalProgress();

            $li.off().find('.file-panel').off().end().remove();

        }



        function updateTotalProgress() {

            var loaded = 0,

                total = 0,

                spans = $progress.children(),

                percent;



            $.each( percentages, function( k, v ) {

                total += v[ 0 ];

                loaded += v[ 0 ] * v[ 1 ];

            } );



            percent = total ? loaded / total : 0;





            spans.eq( 0 ).text( Math.round( percent * 100 ) + '%' );

            spans.eq( 1 ).css( 'width', Math.round( percent * 100 ) + '%' );

            updateStatus();

        }



        function updateStatus() {

            var text = '', stats;



            if ( state === 'ready' ) {

                text = '选中' + fileCount + '张图片，共' +

                        WebUploader.formatSize( fileSize ) + '。';

            } else if ( state === 'confirm' ) {

                stats = uploader.getStats();

                if ( stats.uploadFailNum ) {

                    text = '已成功上传' + stats.successNum+ '张照片至XX相册，'+

                        stats.uploadFailNum + '张照片上传失败，<a class="retry" href="#">重新上传</a>失败图片或<a class="ignore" href="#">忽略</a>'

                }



            } else {

                stats = uploader.getStats();

                text = '共' + fileCount + '张（' +

                        WebUploader.formatSize( fileSize )  +

                        '），已上传' + stats.successNum + '张';



                if ( stats.uploadFailNum ) {

                    text += '，失败' + stats.uploadFailNum + '张';

                }

            }



            $info.html( text );

        }



        function setState( val ) {

            var file, stats;



            if ( val === state ) {

                return;

            }



            $upload.removeClass( 'state-' + state );

            $upload.addClass( 'state-' + val );

            state = val;



            switch ( state ) {

                case 'pedding':
                console.log("pedding");
                    $placeHolder.removeClass( 'element-invisible' );

                    $queue.hide();

                    $statusBar.addClass( 'element-invisible' );

                    uploader.refresh();

                    break;



                case 'ready':
                console.log("ready");
                    $placeHolder.addClass( 'element-invisible' );

                    $( '#filePicker2' ).removeClass( 'element-invisible');

                    $queue.show();

                    $statusBar.removeClass('element-invisible');

                    uploader.refresh();

                    break;



                case 'uploading':
                console.log("uploading");
                    $( '#filePicker2' ).addClass( 'element-invisible' );

                    $progress.show();

                    $upload.text( '暂停上传' );

                    break;



                case 'paused':
                console.log("paused");
                    $progress.show();

                    $upload.text( '继续上传' );

                    break;



                case 'confirm':
                console.log("confirm");
                    $progress.hide();

                    $( '#filePicker2' ).removeClass( 'element-invisible' );

                    $upload.text( '开始上传' );



                    stats = uploader.getStats();

                    if ( stats.successNum && !stats.uploadFailNum ) {

                        setState( 'finish' );

                        return;

                    }

                    break;

                case 'finish':
                console.log("finish");
                    stats = uploader.getStats();

                    if ( stats.successNum ) {

                        

                        $.post("{:Url('Index/getimg')}",{"id":<?php echo $_GET['appletid']?>},function(data){

                        	var str="";

                        	if(data){



                        		for(var i=0; i<data.length; i++){



                        			str+=	"<div class='paiwei' onmousemove='xians(this)' onmouseout='gb(this)' id='li"+data[i].id+"'>"+

												"<img src='"+data[i].url+"' style='width: 140px; height:90px;'>"+

												"<div class='beijingys'>"+

										

												"</div>"+

												"<div class='sancann' onclick='del("+data[i].id+")'>"+

													"<span class='cancel'>删除</span>"+

												"</div>"+

											"</div>"

                        		}

                        		$("#imgzs").html(str);

                        	}

                        })



                        alert( '上传成功' );

                    } else {

                        // 没有成功的图片，重设

                        state = 'done';

                    }

                    break;

            }



            updateStatus();

        }



        uploader.onUploadProgress = function( file, percentage ) {

            var $li = $('#'+file.id),

                $percent = $li.find('.progress span');



            $percent.css( 'width', percentage * 100 + '%' );

            percentages[ file.id ][ 1 ] = percentage;

            updateTotalProgress();

        };



        uploader.onFileQueued = function( file ) {

            fileCount++;

            fileSize += file.size;



            if ( fileCount === 1 ) {

                $placeHolder.addClass( 'element-invisible' );

                $statusBar.show();

            }



            addFile( file );

            setState( 'ready' );

            updateTotalProgress();

        };



        uploader.onFileDequeued = function( file ) {

            fileCount--;

            fileSize -= file.size;



            if ( !fileCount ) {

                setState( 'pedding' );

            }



            removeFile( file );

            updateTotalProgress();



        };



        uploader.on( 'all', function( type ) {

            var stats;

            switch( type ) {

                case 'uploadFinished':

                    setState( 'confirm' );

                    break;



                case 'startUpload':

                    setState( 'uploading' );

                    break;



                case 'stopUpload':

                    setState( 'paused' );

                    break;



            }

        });



        uploader.onError = function( code ) {

            alert( 'Eroor: ' + code );

        };



        $upload.on('click', function() {

            if ( $(this).hasClass( 'disabled' ) ) {

                return false;

            }



            if ( state === 'ready' ) {

                uploader.upload();

            } else if ( state === 'paused' ) {

                uploader.upload();

            } else if ( state === 'uploading' ) {

                uploader.stop();

            }

        });



        $info.on( 'click', '.retry', function() {

            uploader.retry();

        } );



        $info.on( 'click', '.ignore', function() {

            alert( 'todo' );

        } );



        $upload.addClass( 'state-' + state );

        updateTotalProgress();

    });



})( jQuery );

</script>



{include file="public/foot_more" /}