{include file="public/head" /}

{include file="public/top" /}

<input type="hidden" id="nowhtml" value="navModel" class="navModel3-2">



	<ul class="breadcrumb">

		<li>

			<i class="icon-home"></i>

			积分产品添加--{$applet.name}

		</li>

	</ul>

	

	<style type="text/css">

		.chongdingy{

			background-color:#f5f5f5; 

			padding:10px 0;

		} 

		.chongdingywz{

			text-align: left !important;

			font-size: 16px;

			padding-left: 20px;

		}

	</style>





	<div class="row-fluid">



		<div class="portlet box">



			

			<div class="portlet-body form">





				<form action="{:Url('Exchangegoods/save')}?appletid=<?php echo $_GET['appletid']?>&pid={if $products}{$products.id}{/if}" id="form_sample_2" class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit = "return checkinfo();">
					<input type="hidden" id="onlyid" name="onlyid" value="{if $products}{$products.onlyid}{/if}">
					<div class="control-group chongdingy">

						<label class="control-label chongdingywz">栏目基础内容</label>

					</div>

					<div class="control-group">
						<label class="control-label">序号</label>
						<div class="controls">
							<input name="num" type="text" class="span1 m-wrap" value="{if $products}{$products.num}{/if}"  style="height: 35px !important;" />
							<span style="color:#999999; line-height:40px; margin-left:20px;">序号越大越靠前</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">所属栏目</label>
						<div class="controls">
							<select name="cid" class="span3 m-wrap" id="cid">
							{volist name="$cate" id="vo"}
									<option value="{$vo['id']}" {if $products}{if $vo['id'] == $products['cid']} selected="selected" {/if}{/if}>{$vo['name']}</option>
							{/volist}
							</select>
							<span style="color:#999999; line-height:40px; margin-left:20px;">选择所属栏目</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">访问量</label>
						<div class="controls">
							<input name="hits" type="text" class="span2 m-wrap" value="{if $products}{$products.hits}{/if}"  style="height: 35px !important;" />
							<span style=" line-height:30px; margin-left:20px; margin-right:20px;">
								虚拟销量
							</span>
							<input name="sale_num" type="text" class="span2 m-wrap" value="{if $products}{$products.sale_num}{/if}"  style="height: 35px !important;" />
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">所需积分</label>
						<div class="controls">
							<input name="price" type="text" class="span2 m-wrap" value="{if $products}{$products.price}{/if}"  style="height: 35px !important;" />
							<span style="line-height:30px;">积分</span>
							<span style=" line-height:30px; margin-left:20px; margin-right:20px;">
								原价
							</span>
							<input name="market_price" type="text" class="span2 m-wrap" value="{if $products}{$products.market_price}{/if}"  style="height: 35px !important;" />
							<span style="line-height:30px;">元</span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">库存</label>
						<div class="controls">
							<input name="pro_kc" type="text" class="span2 m-wrap" value="{if $products}{$products.pro_kc}{/if}"  style="height: 35px !important;" />
							<span style=" line-height:30px; margin-left:20px; margin-right:20px;">
								真实已兑
							</span>
							<input name="sale_tnum" type="text" class="span2 m-wrap" readonly value="{if $products}{$products.sale_tnum}{/if}"  style="height: 35px !important;" />
							<span style="color:#999999; line-height:40px; margin-left:20px;">库存默认为-1表示不限制</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">缩略图</label>
						<div class="controls">
							<div class="fileupload fileupload-new" data-provides="fileupload">
								<div class="fileupload-new thumbnail commonuploadpic" style="width: 140px; height:140px;">
									{if $products}
									<img src="{$products.thumb}" alt="" />
									{else}
									<img src="/image/noimage_1.png" alt="" />
									{/if}
								</div>

								<div class="fileupload-preview fileupload-exists thumbnail" style="width:140px; height:140px;">

								</div>

								<div>
									<span class="btn btn-file"><span class="fileupload-new commonchangepic" data-type="1">选择图片<input type="hidden" name="commonuploadpic" ></span></span>
								</div>
								<div class="zphpx"><font color="#999999">最宽750px，高度随意</font></div>
							</div>
						</div>

					</div>
					<div class="control-group" style="margin-bottom:0px !important;">

						<label class="control-label">商品主图</label>
						<div class="controls">
							<div id="xztpan" class="btn commonchangepic" style="background-color:#e5e5e5; color:#333333" data-type="2">
							选择图片
							<input type="hidden" name="commonuploadslide">
							</div>
							<span style="color:#999999; line-height:40px; margin-left:20px;">先传的排在后面</span>
						</div>
						
					</div>
					<div class="control-group" style="padding-top:10px">

						<label class="control-label"></label>
						<div class="controls commonuploadslide" id="imgzs" style="font-size:0">
						{if $allimg}
							{foreach  $allimg as $res}
								<div class="paiwei" onmousemove="xians(this)" onmouseout="gb(this)" id="li{$res.id}">
									<img src="{$res.url}" style="width: 140px; height:90px;">
									<div class="beijingys">
							
									</div>
									<div class="sancann" onclick="del({$res.id})">
										<span class="cancel">删除</span>
									</div>
								</div>
							{/foreach}
						{/if}				
						</div>
						
					</div>

					<div class="control-group">
						<label class="control-label">商品标签</label>
						<div class="controls">

							<input name="labels" type="text" class="span3 m-wrap" value="{if $products}{$products.labels}{/if}" style="height: 35px !important;">

							<span style="color:#999999; line-height:40px; margin-left:20px;">设置商品标签，多个用英文","隔开</span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">标题</label>
						<div class="controls">

							<input name="title" id="title" type="text" class="span3 m-wrap" value="{if $products}{$products.title}{/if}" style="height: 35px !important;">

							<span style="color:#999999; line-height:40px; margin-left:20px;">请填写标题</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label" >简介</label>
						<div class="controls">

							<textarea name="desc" class="span3 m-wrap" rows="3">{if $products}{$products.desk}{/if}</textarea> 
							<span style="color:#999999; line-height:40px; margin-left:20px;">请输入简介</span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label" >商品详情</label>
						<div class="controls">

							<div class="editors">

								<script id="editor" name="text" type="text/plain">{if $products}{$products.product_txt}{/if}</script>

						    </div>
						</div>
					</div>


					<div class="form-actions">

						<button type="submit" class="btn green">确定</button>



					</div>





				</form>



			</div>



		</div>



	</div>


	<script type="text/javascript" charset="utf-8" src="/plugin/ueditor/ueditor.config.js"></script>

    <script type="text/javascript" charset="utf-8" src="/plugin/ueditor/ueditor.all.min.js"> </script>

    <script type="text/javascript" charset="utf-8" src="/plugin/ueditor/lang/zh-cn/zh-cn.js"></script>

	

    <script type="text/javascript">



        $(function() {

	    	var ue = UE.getEditor('editor');

		});



    	function checkinfo(){



    		var lanmu = $("#cid").val();

        	if(lanmu==0){

        		alert("请选择所属栏目");

        		return false;

        	}


	        var title = $("#title").val();
	        console.log(title);
	        if(title==""){
	            alert("标题不能为空");
	            return false;
	        }



	    	

    		val = $("#ueditor_textarea_text").val();

    		if(!val){

        		alert("请输入内容");

        		return false;

        	}else{

        		$("#text").val(val);

        	}

	    }

    </script>

	<div id="stack2" class="modal fade" tabindex="-1" data-focus-on="input:first" style="width:795px !important; margin-left:-400px;">



		<div class="modal-header">



			<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>



			<h3>图片上传</h3>



		</div>

		

		<div class="controls">

			<div class="uploader-list-container" >

				<div class="queueList">

					<div id="dndArea" class="placeholder">

						<div id="filePicker-2"></div>

					</div>

				</div>

				<div class="statusBar" style="display:none;">

					<div class="progress"> <span class="text">0%</span> <span class="percentage"></span> </div>

					<div class="info"></div>

					<div class="btns">

						<div id="filePicker2"></div>

						<div class="uploadBtn">开始上传</div>

					</div>

				</div>

			</div>



		</div>



	</div>

<script src="/js/jquery.js"></script> 

<script type="text/javascript" src="/webuploader/js/webuploader.min.js"></script>


    <script type="text/javascript">



        $(function() {

	    	var ue = UE.getEditor('editor');

		});


        // 多图上传

        var date = new Date();

    	var stronly = String(date.getFullYear())+String(date.getMonth())+String(date.getDate())+String(date.getHours())+String(date.getMinutes())+String(date.getSeconds())+String(Math.floor(Math.random()*1000+1));

    	//判断URL中有没有栏目ID

    	var newsid = {$pid};

    	if(newsid==0){

    		$("#onlyid").val(stronly);

    	}



        function del(id){

			if(confirm('你确定要删除这张图片嘛?')){
				$("#li"+id).remove();

				$.post("{:Url('Pictures/del_img')}",{"id":id},function(data){

				})

			}else{
				return false;
			}



		}

		function xians(me){

			var b = $(me).find("div[class='beijingys']");

			var s = $(me).find("div[class='sancann']");

			$(b).show();

			$(s).show();

		}

		function gb(me){

			var b = $(me).find("div[class='beijingys']");

			var s = $(me).find("div[class='sancann']");

			$(b).hide();

			$(s).hide();

		}









    (function( $ ){

    // 当domReady的时候开始初始化

    $(function(){

    	jzsc();

    })



	})( jQuery );





	function jzsc(){



        var $wrap = $('.uploader-list-container'),



            // 图片容器

            $queue = $( '<ul class="filelist" id="filelist"></ul>' )

                .appendTo( $wrap.find( '.queueList' ) ),



            // 状态栏，包括进度和控制按钮

            $statusBar = $wrap.find( '.statusBar' ),



            // 文件总体选择信息。

            $info = $statusBar.find( '.info' ),



            // 上传按钮

            $upload = $wrap.find( '.uploadBtn' ),



            // 没选择文件之前的内容。

            $placeHolder = $wrap.find( '.placeholder' ),



            $progress = $statusBar.find( '.progress' ).hide(),



            // 添加的文件数量

            fileCount = 0,



            // 添加的文件总大小

            fileSize = 0,



            // 优化retina, 在retina下这个值是2

            ratio = window.devicePixelRatio || 1,



            // 缩略图大小

            thumbnailWidth = 180 * ratio,

            thumbnailHeight = 120 * ratio,



            // 可能有pedding, ready, uploading, confirm, done.

            state = 'pedding',



            // 所有文件的进度信息，key为file id

            percentages = {},

            // 判断浏览器是否支持图片的base64

            isSupportBase64 = ( function() {

                var data = new Image();

                var support = true;

                data.onload = data.onerror = function() {

                    if( this.width != 1 || this.height != 1 ) {

                        support = false;

                    }

                }

                data.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==";

                return support;

            } )(),



            // 检测是否已经安装flash，检测flash的版本

            flashVersion = ( function() {

                var version;



                try {

                    version = navigator.plugins[ 'Shockwave Flash' ];

                    version = version.description;

                } catch ( ex ) {

                    try {

                        version = new ActiveXObject('ShockwaveFlash.ShockwaveFlash')

                                .GetVariable('$version');

                    } catch ( ex2 ) {

                        version = '0.0';

                    }

                }

                version = version.match( /\d+/g );

                return parseFloat( version[ 0 ] + '.' + version[ 1 ], 10 );

            } )(),



            supportTransition = (function(){

                var s = document.createElement('p').style,

                    r = 'transition' in s ||

                            'WebkitTransition' in s ||

                            'MozTransition' in s ||

                            'msTransition' in s ||

                            'OTransition' in s;

                s = null;

                return r;

            })(),



            // WebUploader实例

            uploader;







        // 实例化

        uploader = WebUploader.create({

            pick: {

                id: '#filePicker-2',

                label: '点击选择图片'

            },

            formData: {

                uid: 123

            },

            dnd: '#dndArea',

            paste: '#uploader',

            swf: '/webuploader/Uploader.swf',

            chunked: false,

            chunkSize: 512 * 1024,

            server: '{:Url('Exchangegoods/imgupload_duo')}?randid='+$("#onlyid").val(),

            // runtimeOrder: 'flash',



            // accept: {

            //     title: 'Images',

            //     extensions: 'gif,jpg,jpeg,bmp,png',

            //     mimeTypes: 'image/*'

            // },



            // 禁掉全局的拖拽功能。这样不会出现图片拖进页面的时候，把图片打开。

            disableGlobalDnd: false,

            fileNumLimit: 8,

            fileSizeLimit: 200 * 1024 * 1024,    // 200 M

            fileSingleSizeLimit: 50 * 1024 * 1024    // 50 M

        });



        // 拖拽时不接受 js, txt 文件。

        uploader.on( 'dndAccept', function( items ) {

            var denied = false,

                len = items.length,

                i = 0,

                // 修改js类型

                unAllowed = 'text/plain;application/javascript ';



            for ( ; i < len; i++ ) {

                // 如果在列表里面

                if ( ~unAllowed.indexOf( items[ i ].type ) ) {

                    denied = true;

                    break;

                }

            }



            return !denied;

        });



        uploader.on('dialogOpen', function() {

            console.log('here');

        });



        // uploader.on('filesQueued', function() {

        //     uploader.sort(function( a, b ) {

        //         if ( a.name < b.name )

        //           return -1;

        //         if ( a.name > b.name )

        //           return 1;

        //         return 0;

        //     });

        // });



        // 添加“添加文件”的按钮，

        uploader.addButton({

            id: '#filePicker2',

            label: '继续添加'

        });



        uploader.on('ready', function() {

            window.uploader = uploader;

        });



        // 当有文件添加进来时执行，负责view的创建

        function addFile( file ) {

            var $li = $( '<li id="' + file.id + '">' +

                    '<p class="imgWrap"></p>'+                

                    '</li>' ),



                $btns = $('<div class="file-panel">' +

                    '<span class="cancel">删除</span>' +

					'</div>').appendTo( $li ),

                $prgress = $li.find('p.progress span'),

                $wrap = $li.find( 'p.imgWrap' ),

                $info = $('<p class="error"></p>'),



                showError = function( code ) {

                    switch( code ) {

                        case 'exceed_size':

                            text = '文件大小超出';

                            break;



                        case 'interrupt':

                            text = '上传暂停';

                            break;



                        default:

                            text = '上传失败，请重试';

                            break;

                    }



                    $info.text( text ).appendTo( $li );

                };



            if ( file.getStatus() === 'invalid' ) {

                showError( file.statusText );

            } else {

                // @todo lazyload

                $wrap.text( '预览中' );

                uploader.makeThumb( file, function( error, src ) {

                    var img;



                    if ( error ) {

                        $wrap.text( '不能预览' );

                        return;

                    }



                    if( isSupportBase64 ) {

                        img = $('<img src="'+src+'">');

                        $wrap.empty().append( img );

                    } else {

                        $.ajax('/webuploader/server/preview.php', {

                            method: 'POST',

                            data: src,

                            dataType:'json'

                        }).done(function( response ) {

                            if (response.result) {

                                img = $('<img src="'+response.result+'">');

                                $wrap.empty().append( img );



                            } else {

                                $wrap.text("预览出错");

                            }

                        });

                    }

                }, thumbnailWidth, thumbnailHeight );



                percentages[ file.id ] = [ file.size, 0 ];

                file.rotation = 0;

            }



            file.on('statuschange', function( cur, prev ) {

                if ( prev === 'progress' ) {

                    $prgress.hide().width(0);

                } else if ( prev === 'queued' ) {

                    $li.off( 'mouseenter mouseleave' );

                    $btns.remove();

                }



                // 成功

                if ( cur === 'error' || cur === 'invalid' ) {

                    console.log( file.statusText );

                    showError( file.statusText );

                    percentages[ file.id ][ 1 ] = 1;

                } else if ( cur === 'interrupt' ) {

                    showError( 'interrupt' );

                } else if ( cur === 'queued' ) {

                    percentages[ file.id ][ 1 ] = 0;

                } else if ( cur === 'progress' ) {

                    $info.remove();

                    $prgress.css('display', 'block');

                } else if ( cur === 'complete' ) {

                    $li.append( '<span class="success"></span>' );

                }



                $li.removeClass( 'state-' + prev ).addClass( 'state-' + cur );

            });



            $li.on( 'mouseenter', function() {

                $btns.stop().animate({height: 30});

            });



            $li.on( 'mouseleave', function() {

                $btns.stop().animate({height: 0});

            });



            $btns.on( 'click', 'span', function() {

                var index = $(this).index(),

                    deg;



                switch ( index ) {

                    case 0:

                        uploader.removeFile( file );

                        return;



                    case 1:

                        file.rotation += 90;

                        break;



                    case 2:

                        file.rotation -= 90;

                        break;

                }



                if ( supportTransition ) {

                    deg = 'rotate(' + file.rotation + 'deg)';

                    $wrap.css({

                        '-webkit-transform': deg,

                        '-mos-transform': deg,

                        '-o-transform': deg,

                        'transform': deg

                    });

                } else {

                    $wrap.css( 'filter', 'progid:DXImageTransform.Microsoft.BasicImage(rotation='+ (~~((file.rotation/90)%4 + 4)%4) +')');

                    // use jquery animate to rotation

                    // $({

                    //     rotation: rotation

                    // }).animate({

                    //     rotation: file.rotation

                    // }, {

                    //     easing: 'linear',

                    //     step: function( now ) {

                    //         now = now * Math.PI / 180;



                    //         var cos = Math.cos( now ),

                    //             sin = Math.sin( now );



                    //         $wrap.css( 'filter', "progid:DXImageTransform.Microsoft.Matrix(M11=" + cos + ",M12=" + (-sin) + ",M21=" + sin + ",M22=" + cos + ",SizingMethod='auto expand')");

                    //     }

                    // });

                }





            });



            $li.appendTo( $queue );

        }



        // 负责view的销毁

        function removeFile( file ) {

            var $li = $('#'+file.id);



            delete percentages[ file.id ];

            updateTotalProgress();

            $li.off().find('.file-panel').off().end().remove();

        }



        function updateTotalProgress() {

            var loaded = 0,

                total = 0,

                spans = $progress.children(),

                percent;



            $.each( percentages, function( k, v ) {

                total += v[ 0 ];

                loaded += v[ 0 ] * v[ 1 ];

            } );



            percent = total ? loaded / total : 0;





            spans.eq( 0 ).text( Math.round( percent * 100 ) + '%' );

            spans.eq( 1 ).css( 'width', Math.round( percent * 100 ) + '%' );

            updateStatus();

        }



        function updateStatus() {

            var text = '', stats;



            if ( state === 'ready' ) {

                text = '选中' + fileCount + '张图片，共' +

                        WebUploader.formatSize( fileSize ) + '。';

            } else if ( state === 'confirm' ) {

                stats = uploader.getStats();

                if ( stats.uploadFailNum ) {

                    text = '已成功上传' + stats.successNum+ '张照片至XX相册，'+

                        stats.uploadFailNum + '张照片上传失败，<a class="retry" href="#">重新上传</a>失败图片或<a class="ignore" href="#">忽略</a>'

                }



            } else {

                stats = uploader.getStats();

                text = '共' + fileCount + '张（' +

                        WebUploader.formatSize( fileSize )  +

                        '），已上传' + stats.successNum + '张';



                if ( stats.uploadFailNum ) {

                    text += '，失败' + stats.uploadFailNum + '张';

                }

            }



            $info.html( text );

        }



        function setState( val ) {

            var file, stats;



            if ( val === state ) {

                return;

            }



            $upload.removeClass( 'state-' + state );

            $upload.addClass( 'state-' + val );

            state = val;



            switch ( state ) {

                case 'pedding':

                    $placeHolder.removeClass( 'element-invisible' );

                    $queue.hide();

                    $statusBar.addClass( 'element-invisible' );

                    uploader.refresh();

                    break;



                case 'ready':

                    $placeHolder.addClass( 'element-invisible' );

                    $( '#filePicker2' ).removeClass( 'element-invisible');

                    $queue.show();

                    $statusBar.removeClass('element-invisible');

                    uploader.refresh();

                    break;



                case 'uploading':

                    $( '#filePicker2' ).addClass( 'element-invisible' );

                    $progress.show();

                    $upload.text( '暂停上传' );

                    break;



                case 'paused':

                    $progress.show();

                    $upload.text( '继续上传' );

                    break;



                case 'confirm':

                    $progress.hide();

                    $( '#filePicker2' ).removeClass( 'element-invisible' );

                    $upload.text( '开始上传' );



                    stats = uploader.getStats();

                    if ( stats.successNum && !stats.uploadFailNum ) {

                        setState( 'finish' );

                        return;

                    }

                    break;

                case 'finish':

                    stats = uploader.getStats();

                    if ( stats.successNum ) {



                    	$.post("{:Url('Pictures/getimg')}",{"id":$("#onlyid").val()},function(data){

                        	var str="";

                        	if(data){



                        		for(var i=0; i<data.length; i++){



                        			str+=	"<div class='paiwei' onmousemove='xians(this)' onmouseout='gb(this)' id='li"+data[i].id+"'>"+

												"<img src='"+data[i].url+"' style='width: 140px; height:90px;'>"+

												"<div class='beijingys'>"+

										

												"</div>"+

												"<div class='sancann' onclick='del("+data[i].id+")'>"+

													"<span class='cancel'>删除</span>"+

												"</div>"+

											"</div>"

                        		}

                        		$("#imgzs").html(str);

                        		jzsc();

                        	}

                        })



                        alert( '上传成功' );

                    } else {

                        // 没有成功的图片，重设

                        state = 'done';

                    }

                    break;

            }



            updateStatus();

        }



        uploader.onUploadProgress = function( file, percentage ) {

            var $li = $('#'+file.id),

                $percent = $li.find('.progress span');



            $percent.css( 'width', percentage * 100 + '%' );

            percentages[ file.id ][ 1 ] = percentage;

            updateTotalProgress();

        };



        uploader.onFileQueued = function( file ) {

            fileCount++;

            fileSize += file.size;



            if ( fileCount === 1 ) {

                $placeHolder.addClass( 'element-invisible' );

                $statusBar.show();

            }



            addFile( file );

            setState( 'ready' );

            updateTotalProgress();

        };



        uploader.onFileDequeued = function( file ) {

            fileCount--;

            fileSize -= file.size;



            if ( !fileCount ) {

                setState( 'pedding' );

            }



            removeFile( file );

            updateTotalProgress();



        };



        uploader.on( 'all', function( type ) {

            var stats;

            switch( type ) {

                case 'uploadFinished':

                    setState( 'confirm' );

                    break;



                case 'startUpload':

                    setState( 'uploading' );

                    break;



                case 'stopUpload':

                    setState( 'paused' );

                    break;



            }

        });



        uploader.onError = function( code ) {

            alert( 'Eroor: ' + code );

        };



        $upload.on('click', function() {

            if ( $(this).hasClass( 'disabled' ) ) {

                return false;

            }



            if ( state === 'ready' ) {

                uploader.upload();

            } else if ( state === 'paused' ) {

                uploader.upload();

            } else if ( state === 'uploading' ) {

                uploader.stop();

            }

        });



        $info.on( 'click', '.retry', function() {

            uploader.retry();

        } );



        $info.on( 'click', '.ignore', function() {

            alert( 'todo' );

        } );



        $upload.addClass( 'state-' + state );

        updateTotalProgress();



	}



    </script>

{include file="public/foot_more" /}