{template 'common/header'}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel=title">
            增加小程序
        </h3>
    </div>
    <div class="panel-body">
        <form action="{php echo $this->createWebUrl('tuijian');}&method=add" method="POST" class="form-horizontal"
            role="form">
    
            <div class="form-group">
                <label for="firstname" class="col-sm-2 control-label">小程序id</label>
                <div class="col-sm-10">
                    <input name="appid" type="text" class="form-control" id="firstname" 
                        placeholder="请输入小程序id 这个不填写自动识别为跳转网页">
                </div>
            </div>
            <div class="form-group">
                <label for="firstname" class="col-sm-2 control-label">小程序名字/标题</label>
                <div class="col-sm-10">
                    <input name="appname" type="text" class="form-control" id="firstname" 
                        placeholder="请输入小程序名字或者推荐语">
                </div>
            </div>
            <div class="form-group">
                <label for="firstname" class="col-sm-2 control-label">小程序路径/网址</label>
                <div class="col-sm-10">
                    <input name="path" type="text" class="form-control" id="firstname" 
                        placeholder="请输入小程序路径或网址，如果为空打开的是该小程序的首页">
                </div>
            </div>

            <div class="form-group">
                <label for="firstname" class="col-sm-2 control-label">图片</label>
                <div class="col-sm-10">
                    {php echo tpl_form_field_image('img');}
                    <span class="help-block">最佳尺寸：640*320</span>
                </div>
               
                </div>
                
    

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">提交</button>
                </div>
            </div>

        </form>
    </div>
</div>


{template 'common/footer'}