{template 'common/header'}
<table class="table table-bordered">
  <caption>卡密兑换订单</caption>  
  <thead>
    <tr>
      <th style="width:6%">序号</th>
      <th style="width:5%">头像</th>
      <th style="width:15">用户名</th>
      <th style="width:20">卡密</th>
      <th style="width:10">天数/次数</th>
      <th style="width:25%">兑换时间</th>
    </tr>
  </thead>

  <tbody>
        {loop $orderdata $key $row}
        {php $n--;}
    <tr >
        <td>{$n}</td>
        <td><img src="{$row['headimg']}" height="25px" width="25px"></td>
        <td>{$row['nickname']}</td>
        <td>{$row['key']}</td>
        <td>{$row['day']} {php echo substr($row['key'],0,6) == "addnum" || substr($row['key'],0,6) == "tommie"?"<font style='color:red;'>次</font>":"天";}</td>
        <td>{php echo date("Y-m-d H:i:s",$row['t']);}</td>
    </tr>
 {/loop}
  </tbody>
</table>

{$pager}
{template 'common/footer'}