{template 'common/header'}
<form action="{php echo $this->createWebUrl('member');}" method="POST" class="form-horizontal" role="form">
    <div class="col-xs-8">
      <input type="text" name="name" class="form-control" value="{$_GPC['name']}" placeholder="请输入要搜索的微信名，支持模糊搜索！" />
    </div>	
    <div class="form-group">				
      <div class="col-xs-12 col-sm-2 col-md-1 col-lg-1" >
        <button class="btn btn-default"><i class="fa fa-search"></i> 搜索</button>					
      </div>
    </div>			
  </form>
<table class="table table-bordered">
  <caption>会员列表</caption>
  <!-- <a class="btn btn-primary" style="float: right;" href="{php echo $this->createWebUrl('member');}&method=add">增加</a> -->
          
  <thead>
    <tr>
      <th style="width:6%">序号</th>
      <th style="width:5%">头像</th>
      <th style="width:15%">微信名</th>
      <th style="width:5%">性别</th>
      <th style="width:25%">到期时间</th>
      <th style="width:25%">修改时间</th>
      <th style="width:14%">操作</th>
    </tr>
  </thead>
  <tbody>
    {loop $orderdata $key $row}
    {php $n--;}
    <tr>
      <td>{$n}</td>
      <!-- {$_W['attachurl']}  这代码可以获取图片根网址，自动识别远程或者本地服务器-->
      <td>
      <!-- {if strpos($row['headingimg'],'http') !== false}<img src="{$row['headingimg']}" height="20px" width="20px">{else}<img src="{$_W['attachurl']}{$row['headingimg']}" height="20px" width="20px">{/if} -->
      <img src="{if strpos($row['headimg'],'http') !== false}{$row['headimg']}{else}{$htis->w['attachurl']}{$row['headimg']}{/if}" height="20px" width="20px">   
      </td> 
      <td style="max-width:160px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">{$row['nickname']}</td>
      <td>  {if $row['sex'] == 1}男{elseif $row['sex'] == 2}女{else}未知 {/if}</td>
      <td>{php echo date("Y-m-d H:i:s",$row['end_time']);}</td>
      <td>{php echo date("Y-m-d H:i:s",$row['t']);}</td>
      <td>
        <a href="{php echo $this->createWebUrl('editmember');}&openid={$row['openid']}" class="btn btn-success btn-xs"><i class="fa fa-edit"></i>&nbsp;编辑</a>
        <a class="btn btn-danger btn-xs delete" href="#" onclick="window.confirm('确定删除吗？')?this.href='{php echo $this->createWebUrl('member');}&method=delete&openid={$row['openid']}':this.href='javascript:void()';"><i class="fa fa-trash"></i>&nbsp;删除</a>
</td>
    </tr>
    {/loop}

  </tbody>
</table>
{$pager}
{template 'common/footer'}