/*通用元素CSS*/
* {
	margin: 0;
	padding: 0;
}
body {
	color: #e64340;
	background: #efeff4 none repeat scroll 0% 0%;
	font: 14px/1.5 Verdana,"Microsoft YaHei",Tahoma,"Simsun",sans-serif;
	min-width: 320px;
}
a {
	text-decoration: none;
	color: #e64340;
}

li,ul,dl {
	list-style-type: none;
}

img {
	border: 0;
	vertical-align: top;
}

i,em{
	font-style: normal
}
.height40{
	height:40px;
}
.height55{
	height:55px;
}
.padding15{
	padding:15px;
}
.margintop0{
	margin-top: 0 !important;
}
.w100b{
	width:100%;
}
.none{
	display:none;
}
.block{
	display:block;
}
/*顶部*/
.header{
  height: 40px;
  background: #e64340;
  color: #fff;
  line-height: 40px;
  position: fixed;
  width: 100%;
  font-size:14px;
  z-index: 1;
}
.header .header_l{
	padding-left: 3%;
	width: 12%;
	display: block;
	float: left;
}
.header .header_c{
	text-align: center;
	width: 70%;
	display: block;
	float: left;
}
.header .header_r{
	text-align: right;
	padding-right: 3%;
	width: 12%;
	display: block;
	float: left;
}
.header i{
  font-size: 20px;
  line-height: 40px;
  color: #fff;
}
/*底部*/
.footer{
	width: 100%;
  height: 50px;
	background-color: #000;
	position: fixed;
	bottom: 0px;
    left: 0px;
    z-index: 2;
border-top: 1px solid #DBDBDB; 
	font-size: 13px;
    color: #ffffff;
}
.footer li{
	width:25%;
	float:left;
	text-align:center;
}
.footer li>a{
  height: 100%;
  width: 100%;
    margin-top: 5px;
  text-align: center;
  line-height: 20px;
  color: #ffffff;
}
.footer li i{
	display:block;
	font-size:20px;
	margin:0 auto;
}
/*goods*/
.goods_title {
    font-size: 15px;
    background: #fff;
    padding: 10px;
    font-weight: 200;
    color: #272727;
}
.goods_jg{
	line-height: 30px;
    font-size: 14px;
    padding: 10px 0;
}
.goods_jg span {
    width: 20%;
    display: inline-block;
    text-align: right;
    padding-right: 5px;
}
.goods_jg_yj{
	text-decoration: line-through;
}
.goods_jg_xj{
	vertical-align: bottom;
	color: #c00;
    font-size: 22px;
}
.goods_jg_xj b{
	font-size: 16px;
}
.goods_sl{
	background: #fff;
    overflow: hidden;
    padding: 15px 10px;
}
.shuliang{
	float: right;
}
.goods_sl span{
	float:left;
	line-height:28px;
}
.shuliang .add, .shuliang input, .shuliang .reduce {
	float: left;
	margin-right: -1px;
	position: relative;
	z-index: 0;
}
.shuliang .add, .shuliang .reduce {
	height: 28px;
	width: 28px;
	border: 1px solid #e5e5e5;
	background: #f0f0f0;
	text-align: center;
	line-height: 28px;
	color: #444;
}
.shuliang input {
	width: 80px;
	height: 20px;
	line-height: 20px;
	border: 1px solid #aaa;
	color: #343434;
	text-align: center;
	padding: 4px 0;
	background-color: #fff;
	z-index: 2;
}
.goods_gm{
	background:#fff;

	border-top: 1px dashed #C2C2C2;
}
.tuwenxq {
    min-height: 120px;
    background: #fff;
    overflow: hidden;
}
.tuwenxq a {
    margin: 30px;
    display: block;
    height: 60px;
    line-height: 60px;
    border: 1px dashed #C2C2C2;
    border-radius: 5px;
    text-align: center;
}
.tuwenxq  img{
	width:100%;
}
/*title*/
.hu_title {
    height: 38px;
    line-height: 38px;
    margin-top: 10px;
    font-size: 15px;
    border-bottom: 1px solid #E0E0E0;
    background: #fff;
}
.hu_title span{
	padding-left:20px;
	border-left: 3px solid #C30D23;
}
/*flow*/
.flow {
    text-align: right;
    line-height: 28px;
    padding: 20px 20px 0px;
}
.flow_zong{
	font-weight: bold;
    color: #FF7800;
    font-size: 22px;
}
/*user*/
.user_tx {
    padding: 20px 10px;

    background-color: #B52A00;
    background-size: 100%;
    overflow: hidden;
}
.user_tx img {
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
.user_tx p {
    color: #fff;
    line-height: 25px;
    padding-left: 20px;
    float: left;
    font-size: 14px;
}
.user_tx div{
    float: left;
    width: 80px;
}
.user_tx div span {
    display: block;
    width: 80px;
    text-align: center;
    color: #FFF;
    line-height: 20px;
    font-size: 13px;
}

.user_sy {
    overflow: hidden;
    padding: 10px 0;
    margin-top: 15px;
}
.user_sy li {
    width: 50%;
    float: left;
    text-align: center;
    font-size: 18px;
}
.user_sy li a {
    color: #e64340;
}
.user_sy span {
    display: block;
    color: #A9A9A9;
    font-size: 14px;
}

.xgxg{
	color: #e64340 !important;
}
.xgxg:after{
	display:none !important;
}
.weui_cell .fa {
    padding-right: 10px;
    font-size: 20px;
    vertical-align: top;
    display: block;
    width: 25px;
}

.zhul{
	background:#fff;
}
/*我的粉丝*/
.dd_list {
  margin-top: 15px;
  overflow: hidden;
  background-color: #fff;
}
.dd_list li {
  padding: 10px;
  border-bottom: 1px solid #E0E0E0;
  overflow: hidden;
}
.dd_list li img {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  float: left;
}
.dd_list li div {
  float: left;
  padding-left: 10px;
  line-height: 25px;
    display:block;
    width:80%;
}
.dd_list li p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.dd_list li p{
  font-size: 14px;
}

.fs_list{
	background:#fff;
	overflow:hidden;
	height:45px;
	line-height:45px;
}
.fs_list li a{ 
	display: block;
}
.fs_list li{
	width:33.3%;
	text-align:center;
	float:left;
}
.fs_on{
	background: #F7F7F7;
}
/*order*/
.order{
	
}
.order li {
    margin-top: 10px;
    background: #fff;
    overflow: hidden;
}
.order li img {
    width: 60px;
    height: 60px;
    padding: 10px;
    float: left;
}
.order .order_title {
    line-height: 35px;
    border-bottom: 1px solid #DEDEDE;
    padding: 0 10px;
}
.order .order_goods {
    height: 60px;
    line-height: 30px;
    padding: 10px 0;
    width: 70%;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.order .order_goods span {
    display: block;
    text-align: right;
    padding-right: 14px;
    color: #C53E3E;
    font-size: 15px;
}
.order .order_goods span b{
	font-size: 13px;
	color: #ccc;
	padding-left: 5px;
}
.order .order_con{
    line-height: 30px;
    padding: 10px;
}

