body{margin:0;font-size:12px;text-align:center;color:#333;word-wrap:break-word;}
p{margin:2pt 0 0 0;}
*{margin:0 auto;padding:0;}
ul{list-style-type:none;margin:0;padding:0;}
a{color:#333;text-decoration:none;}
a:hover{text-decoration:underline;}
form{margin:0;}
table{font-size:12px;}
input{outline:medium;}
.bfb{float:left;width:100%;}
.yjcode{width:1150px;}
.fontyh{font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;color:#000;}
.ad1{margin:10px 0 0 0;float:left;}
.ad{float:left;}
.adf{float:left;margin:-10px 0 0 0;}
.adbottom .ad1{float:left;margin:0 0 8px 0;}
.red{color:#f00;}
.feng{color:#ff6600;}
.blue{color:#2255DD;}
.hui{color:#999;}
.green{color:#008800;}
.redony{background-color:#CFF;border:#999 solid 1px;color:red;}

/*全站主题颜色 同一系列，从深到浅*/
.g_ac0{color:#333;}
.g_ac0_h{color:#188EEE;}
.g_ac0:hover{color:#188EEE;}
.g_ac1{color:#333;}
.g_ac1_h{color:#188EEE;}
.g_ac1:hover{color:#188EEE;}
.g_ac2{color:#188EEE;}
.g_ac2_h{color:#188EEE;}
.g_ac2:hover{color:#FF5D56;}
.g_ac3{color:#2255DD;}
.g_ac3_h{color:#FF6600;}
.g_ac3:hover{color:#FF5D56;}

.g_ac98_h{color:#FF5D56;} /*过渡色，通用色*/
.g_ac98:hover{color:#FF5D56;} /*过渡色，通用色*/
.g_ac99_h{color:#B90505;} /*过渡色，通用色*/
.g_ac99:hover{color:#B90505;} /*过渡色，通用色*/

.g_bc0{border-color:#ccc;}
.g_bc0_h{border-color:#188EEE;}
.g_bc0:hover{border-color:#188EEE;}

.g_bg0{background-color:#369EC5;color:#fff;}
.g_bg1{background-color:#0477C0;color:#fff;}
/*全站主题色结束*/


.openw{float:left;width:302px;z-index:200;position:absolute;padding:10px;background:url(../img/bghui.png) left top repeat;}
.openw .kf{float:left;width:300px;border:#908B8B solid 1px;background-color:#fff;}
.openw .kf #tangts{float:left;width:280px;padding:20px 10px 20px 10px;text-align:center;line-height:25px;color:#0059C4;}

.topbanner_hj{width:100%;min-width:1150px;float:left;}
.topbanner_hj a{display:block;width:100%;height:100%;}

.bfbtop{float:left;width:100%;border-bottom:#EEEEEE solid 1px;height:27px;background-color:#FAFAFA;}
.bfbtop .top{float:left;width:1150px;height:27px;text-align:left;}
.bfbtop .top .u1{float:left;width:1150px;}
.bfbtop .top .u1 li{float:left;}
.bfbtop .top .u1 .l0{border-right:#ddd solid 1px;height:14px;width:3px;margin:7px 0 0 0;}
.bfbtop .top .u1 .l1{padding:7px 0 0 0;width:655px;}
.bfbtop .top .u1 .l1 #yesuid{font-family:Arial, Helvetica, sans-serif;font-weight:700;}
.bfbtop .top .u1 .l1 .s1{float:left;}
.bfbtop .top .u1 .l1 .s2{float:left;margin:-3px 0 0 10px;}
.bfbtop .top .u1 .l2{margin:7px 0 0 0;width:76px;text-align:center;border-right:#ddd solid 1px;}
.bfbtop .top .u1 .l21{width:48px;}
.bfbtop .top .u1 .l3{margin:1px 0 0 3px;border:#FAFAFA solid 1px;border-bottom:0;width:70px;padding:5px 0 0 10px;height:20px;background:url(../homeimg/icon1.gif) no-repeat;background-position:65px 9px;}
.bfbtop .top .u1 .l3h{background-color:#fff;border:#DDDDDD solid 1px;border-bottom:0;}
.bfbtop .top .u1 .l3 .a1{float:left;}
.bfbtop .top .u1 .umenu{float:left;border:#DDDDDD solid 1px;border-top:0;background-color:#fff;position:relative;clear:both;width:80px;margin:6px 0 0 -11px;}
.bfbtop .top .u1 .umenu a{float:left;width:70px;padding:7px 0 0 10px;height:18px;}

.bfbtop1{float:left;width:100%;background-color: #fff;border-bottom:#188EEE solid 1px;}
.bfbtop1 .top1{float:left;width:1150px;text-align:left;}
.bfbtop1 .top1 .logo{float:left;width:530px;padding:20px 0;}
.bfbtop1 .top1 .u1{float:left;border:#188EEE solid 1px;width:364px;height:40px;margin:35px 0 0 0;}
.bfbtop1 .top1 .u1 li{float:left;}
.bfbtop1 .top1 .u1 .l1{width:60px;height:40px;border-right:#188EEE solid 1px;font-size:14px;}
.bfbtop1 .top1 .u1 .l1 #topnwd{float:left;width:55px;height:27px;padding:13px 0 0 5px;background:url(../homeimg/jian2.gif) no-repeat;background-position:43px 17px;cursor:pointer;}
.bfbtop1 .top1 .u1 .l1 #topdiv{float:left;width:60px;border:#188EEE solid 1px;border-top:0;background-color:#fff;position:absolute;z-index:100;margin:40px 0 0 -1px;}
.bfbtop1 .top1 .u1 .l1 #topdiv a{float:left;width:53px;height:22px;padding:8px 0 0 7px;}
.bfbtop1 .top1 .u1 .l1 #topdiv a:hover{background-color:#F8F8F8;text-decoration:none;}
.bfbtop1 .top1 .u1 .l2{width:263px;}
.bfbtop1 .top1 .u1 .l2 input{float:left;width:258px;height:27px;border:0;padding:13px 0 0 5px;font-size:14px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.bfbtop1 .top1 .u1 .l2 input{width:263px;height:40px;padding-top:0;}
}
.bfbtop1 .top1 .u1 .l3{width:40px;}
.bfbtop1 .top1 .topsad{float:left;width:250px;margin:19px 0 0 0;}
.bfbtop1 .top1 .menu{float:left;width:1150px;height:48px;}
.bfbtop1 .top1 .menu .m1{float:left;width:220px;}
.bfbtop1 .top1 .menu .m1 .t{float:left;width:177px;height:35px;color:#fff;background:url(../homeimg/lie.gif) no-repeat;font-size:16px;padding:13px 0 0 43px;background-color:#188EEE;text-align:left;background-position:15px 16px;}
.bfbtop1 .top1 .menu .m1 .menun{float:left;width:220px;text-align:left;position:relative;z-index:900;background-color:#fff;}
.bfbtop1 .top1 .menu .m1 .menun .menu1{float:left;border-bottom:#1681C4 dotted 1px;height:70px;width:220px;background:url(../homeimg/mk1.gif) no-repeat;background-position:200px 17px;background-color:#0477C0;}
.bfbtop1 .top1 .menu .m1 .menun .menu1 .lu1{float:left;width:220px;height:70px;}
.bfbtop1 .top1 .menu .m1 .menun .menu1 .lu1 li{float:left;}
.bfbtop1 .top1 .menu .m1 .menun .menu1 .lu1 .l1{padding:11px 0 0 15px;width:205px;font-size:16px;color:#666666;height:23px;}
.bfbtop1 .top1 .menu .m1 .menun .menu1 .lu1 .l1 a{color:#fff;}
.bfbtop1 .top1 .menu .m1 .menun .menu1 .lu1 .l2{padding:0 0 0 15px;width:205px;font-size:14px;}
.bfbtop1 .top1 .menu .m1 .menun .menu1 .lu1 .l2 a{float:left;margin:8px 10px 0 0;color:#97D2F7;}
.bfbtop1 .top1 .menu .m1 .menun .menu2{background:url(../homeimg/mk2.gif) no-repeat;background-position:200px 17px;background-color:#0264A3;-webkit-transition:background-color 0.3s linear;-moz-transition:background-color 0.3s linear;-o-transition:background-color 0.3s linear;transition:background-color 0.3s linear;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu{float:left;text-align:left;background:url(../homeimg/bg.png) left top repeat;position:relative;width:651px;margin-left:220px;padding:2px 10px 0 30px;border:#09699C solid 2px;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .ru1{float:left;width:651px;color:#666;border-bottom:#E5E5E5 dotted 1px;padding:13px 0 10px 0;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .ru1 li{float:left;line-height:23px;font-size:14px;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .ru1 .l1{width:114px;font-weight:700;text-align:left;font-weight:700;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .ru1 .l1 a{color:#039AE3;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .ru1 .l2{width:537px;padding:0 0 0 0;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .ru1 .l2 a:hover{text-decoration:none;color:#039AE3;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .ru1 .l2 span{float:left;margin:0 25px 0 0;}
.bfbtop1 .top1 .menu .m2{float:left;width:930px;height:48px;}
.bfbtop1 .top1 .menu .m2 a{float:left;font-size:16px;color:#333333;padding:13px 10px 0 10px;margin-left:10px;}
.bfbtop1 .top1 .menu .m2 a:hover{color:#188EEE;text-decoration:none;}

.dqwz{float:left;width:1150px;height:25px;margin:15px 0 0 0;text-align:left;font-size:14px;}
.dqwz .u1{float:left;width:1150px;}
.dqwz .u1 li{float:left;}
.dqwz .u1 .l1{width:950px;color:#7F7F7F;}
.dqwz .u1 .l1 a{color:#7F7F7F;}

.bfbbot{background-color:#444546;}
.bfbbot .bq{float:left;width:1150px;color:#777777;text-align:center;line-height:23px;padding:20px 0 10px 0;}
.bfbbot .bq a{color:#777777;}

/*客服*/
.rightfd{position:fixed;bottom:20px;width:55px;right:15px;}
.rightfd .d1{float:left;width:55px;height:65px;border-bottom:#5C5D6E solid 1px;background-color:#646577;}
.rightfd .d1 .s1{float:left;width:55px;height:21px;padding:44px 0 0 0;text-align:center;color:#fff;background:url(../homeimg/zxicon.png) no-repeat;background-position:13px 10px;}
.rightfd .d1 .sd1{position:absolute;left:-120px;top:0px;width:120px;background-color:#e40231;display:none;padding:10px 0 7px 0;color:#fff;}
.rightfd .d1 .sd1 a{float:left;padding:3px 0 0 30px;background:url(../homeimg/qq4.gif) left top no-repeat;width:72px;height:21px;text-align:left;margin:0 0 6px 9px;}
.rightfd .d1 .sd1 a:hover{text-decoration:none;color:red;}
.rightfd .d1 .sd1 strong{color:#fff;}
.rightfd .d1:hover .sd1{display:block;}
.rightfd .d1:hover{background-color:#e40231;}
.rightfd .d2{float:left;width:55px;height:65px;border-bottom:#5C5D6E solid 1px;background-color:#646577;}
.rightfd .d2 .s1{float:left;width:55px;height:21px;padding:44px 0 0 0;text-align:center;color:#fff;background:url(../homeimg/kficon.png) no-repeat;background-position:13px 10px;}
.rightfd .d2 .sd1{position:absolute;left:-120px;top:0px;width:120px;height:129px;background-color:#e40231;display:none;padding:10px 0 0 0;color:#fff;}
.rightfd .d2 .sd1 img{margin:0 0 5px 0;}
.rightfd .d2:hover .sd1{display:block;}
.rightfd .d2:hover{background-color:#e40231;}
.rightfd .d3{float:left;width:55px;height:65px;background-color:#646577;cursor:pointer;}
.rightfd .d3 .s1{float:left;width:55px;height:21px;padding:44px 0 0 0;text-align:center;color:#fff;background:url(../homeimg/fanhui.png) no-repeat;background-position:17px 10px;}
.rightfd .d3:hover{background-color:#e40231;}

#page{float:right;margin:10px 0 0 0;width:740px;padding:0;clear:both;}
#page ul{float:right;}
#page ul li{font-size:14px;float:left;margin:0 3px 0 0;font-family:Verdana, Geneva, sans-serif;}
#page ul li a{float:left;border:#DDDDDD solid 1px;padding:8px 12px 9px 11px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
#page ul li a:hover{text-decoration:none;background-color:#ff6600;color:#fff;}
#page ul .ohave{padding:8px 12px 9px 11px;color:#ff6600;}
