<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

    <head>
    <title>确认支付</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
      <link rel="stylesheet" href="https://css.letvcdn.com/lc04_yinyue/201612/19/20/00/bootstrap.min.css">
  <script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  <link rel="icon" href="/favicon.ico"  type="image/x-icon">
  <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <style>
   .price{
		height: 50px;
		line-height: 70px;
		text-align: center;
		font-size: 24px;color:red
	}
  </style>
  </head>
  <body>
  <div class="container" style="padding-top:70px;">
    <div class="col-xs-12 col-sm-10 col-lg-8 center-block" style="float: none;">
      <div class="panel panel-primary">
        <div class="panel-body">
        <form name="alipayment" action="{:U('Mh/payChinaxing')}" method="post">
            <div class="input-group">
            <div class="price" > 支付金额：¥&nbsp;{$info.money}</div>          
            </div>  
        
  
                        
<br/> 
<center>
<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group"  >
  <input type="hidden" name="sn" value="{$info.sn}">
    <div>请选择支付方式</div>
    <button type="radio" name="type" value="alipay" class="btn btn-primary" style="margin-top:10px">支付宝</button>
  
    <button type="radio" name="type" value="qqpay" class="btn btn-success" style="margin-top:10px">QQ</button>
 
 
    <button type="radio" name="type" value="wxpay" class="btn btn-info" style="margin-top:10px">微信</button>
  </div>
</div>
 </div>
</center> </div>
          </form>
        </div>
      </div>      
    </div>
  </div>
</body>
</html>
 