{include file="public/head" /}
{include file="public/top" /}
<style type="text/css">
	form {
	     margin: 0 !important; 
	    display: inline-block !important;
	}	
</style>

<input type="hidden" id="nowhtml" value="navCon" class="navCon9-1">

	<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i>
			文章底部导航组管理--{$applet.name}
		</li>
	</ul>

	<div class="row-fluid">

	<div class="span12">


		<div class="portlet box ">


			<div class="portlet-body">


				<div class="input-box" style="margin-bottom: 10px; position: relative;">

					<div class="btn-group" style="float:right">
						<a href="{:Url('News/navsadd')}?appletid=<?php echo $_GET['appletid']?>" >
						<button id="sample_editable_1_new" class="btn green">
						添加导航组 <i class="icon-plus"></i>
						</button>
						</a>
					</div>
				</div>

				<table class="table table-striped table-hover table-bordered" id="sample_editable_1">

					<thead>

						<tr>
							
							<th style="width: 50px;">排序</th>

							<th style="width: 150px;">导航名称</th>

							<th style="width: 200px;">状态</th>
							
							<th width="200px;">操作</th>

						</tr>

					</thead>

					<tbody>
					{if $list}
						{foreach $list as $item}
							<tr>
								<td>
									{$item.num}
								</td>
								<td>
									{$item.title}
								</td>
								<td>
									{if $item['flag']==0}
			                            <span class='label label-danger'>关闭</span>
			                        {elseif $item['flag']==1}
			                            <span class='label label-success'>开启</span>
			                        {/if} 
								</td>
		
								<td>
									<a href="{:Url('News/navsadd')}?appletid=<?php echo $_GET['appletid']?>&newsid={$item.id}"><button class="btn btncolor">编辑</button></a>
									<form action="{:Url('News/navsdel')}?appletid=<?php echo $_GET['appletid']?>&newsid={$item.id}"  method="post" enctype="multipart/form-data" onsubmit = "return del()">
										<button class="btn btncolor" type="submit">删除</button>
									</form>
								</td>
							</tr>
						{/foreach}
					{/if}
					</tbody>

				</table>


				<!-- 分页 -->



			</div>

		</div>
		

	</div>

</div>


<script type="text/javascript">
	function del(){
		if(confirm('该删除操作不可逆，请谨慎操作?')){
			return true;
		}else{
	        return false;
	    }
	}
</script>
























{include file="public/foot_more" /}