.yjcode #toplsad{margin:auto;float:left;overflow:hidden;}

.yjcode .left{float:left;width:200px;height:231px;}

.yjcode .qh{float:left;width:680px;height:221px;margin:10px 0 0 10px;}
.yjcode .qh .container{width:680px; height:221px; overflow:hidden;position:relative;}
.yjcode .qh .slider{position:absolute;}
.yjcode .qh .slider li{ list-style:none;display:inline;}
.yjcode .qh .slider img{ width:680px; height:221px; display:block;}
.yjcode .qh .slider2{width:2000px;}
.yjcode .qh .slider2 li{float:left;}
.yjcode .qh .num{ position:absolute; right:5px; bottom:5px;}
.yjcode .qh .num li{float: left;color: #FF7300;text-align: center;line-height: 16px;width: 16px;height: 16px;font-family: Arial;font-size: 12px;cursor: pointer;overflow: hidden;margin: 3px 1px;border: 1px solid #FF7300;background-color: #fff;}
.yjcode .qh .num li.on{color: #fff;line-height: 21px;width: 21px;height: 21px;font-size: 16px;margin: 0 1px;border: 0;background-color: #FF7300;font-weight: bold;}

.yjcode .iright{float:left;width:250px;text-align:left;margin:10px 0 0 10px;height:221px;}
.yjcode .iright .ksdl{float:left;width:248px;border:#EEEEEE solid 1px;height:84px;}
.yjcode .iright .ksdl li{float:left;}
.yjcode .iright .ksdl .l1 a{float:left;width:109px;height:34px;margin:10px 0 0 10px;}
.yjcode .iright .ksdl .l1 .a1{background:url(../homeimg/dl1.gif) left top no-repeat;}
.yjcode .iright .ksdl .l1 .a2{background:url(../homeimg/zc1.gif) left top no-repeat;}
.yjcode .iright .ksdl .l2{padding:15px 0 0 19px;width:111px;color:#666;height:25px;}
.yjcode .iright .ksdl .l3{padding:11px 0 0 0;width:118px;height:29px;}
.yjcode .iright .ksdl2{float:left;width:228px;border:#EEEEEE solid 1px;height:84px;padding:0 10px;color:#666;}
.yjcode .iright .ksdl2 li{float:left;}
.yjcode .iright .ksdl2 .l1{padding:10px 0 0 0;height:45px;width:228px;}
.yjcode .iright .ksdl2 .l1 img{margin:0 10px 0 0;}
.yjcode .iright .ksdl2 .l1 .s1{font-size:14px;font-weight:700;}
.yjcode .iright .ksdl2 .l1 .s2{font-size:14px;font-weight:700;color:#ff6600;}
.yjcode .iright .ksdl2 .l3{padding:8px 0 0 0;height:20px;border-top:#dddddd dotted 1px;width:228px;text-align:center;}
.yjcode .iright .ksdl2 .l3 a:hover{color:#ff6600;}
.yjcode .iright .u1{float:left;width:248px;border:#EEEEEE solid 1px;border-top:0;height:103px;}
.yjcode .iright .u1 li{float:left;}
.yjcode .iright .u1 .cap{font-weight:700;padding:6px 0 0 10px;height:20px;font-size:14px;width:178px;color:#666;background-color:#FAFAFA;border-bottom:#EEEEEE solid 1px;}
.yjcode .iright .u1 .mo{width:55px;text-align:right;padding:7px 5px 0 0;background-color:#FAFAFA;border-bottom:#EEEEEE solid 1px;height:19px;}
.yjcode .iright .u1 .l1{padding:10px 0 0 10px;height:12px;width:190px;}
.yjcode .iright .u1 .l1 a:hover{color:#ff6600;}
.yjcode .iright .u1 .l2{padding:10px 5px 0 0;height:12px;width:43px;}
.yjcode .iright .u2{float:left;border:#eee solid 1px;border-top:0;width:248px;height:92px;background:url(../img/zhishu.gif) no-repeat;}
.yjcode .iright .u2 li{float:left;padding-left:25px;}
.yjcode .iright .u2 li strong{color:#FF6600;font-size:14px;font-family:Arial, Helvetica, sans-serif;}
.yjcode .iright .u2 .l1{height:19px;padding-top:9px;width:109px;}
.yjcode .iright .u2 .l2{height:19px;padding-top:9px;width:89px;}
.yjcode .iright .u2 .l3{height:19px;padding-top:11px;width:109px;}
.yjcode .iright .u2 .l4{height:19px;padding-top:11px;width:89px;}
.yjcode .iright .u2 .l5{height:19px;padding-top:10px;width:109px;}
.yjcode .iright .u2 .l6{height:19px;padding-top:10px;width:89px;}

.yjcode .newjy{float:left;width:680px;margin:10px 0 0 210px;border:#DDDDDD solid 1px;height:50px;background-color:#EEEEEE;text-align:left;background-position:100px 0;}
.yjcode .newjy .s1{float:left;width:64px;padding:17px 0 0 10px;background:url(../img/jy.gif) left center no-repeat;text-align:left;height:33px;color:#000;}
.yjcode .newjy .s2{float:left;background:url(../img/call.gif) no-repeat;background-color:#FFFFFF;width:48px;border-top:#CCCCCC solid 1px;border-bottom:#CCCCCC solid 1px;height:42px;margin:3px 0 0 0;}
.yjcode .newjy #rolltxt{list-style:outside none none;float:left;width:554px;margin:3px 0 0 0;background-color:#FFFFFF;border:#CCCCCC solid 1px;border-left:0;overflow:hidden;height:34px;padding:3px 0 5px 0;}
.yjcode .newjy #rolltxt li{float:left;display:inline;margin:3px 0;height:16px;width:100%;}
.yjcode .newjy #rolltxt li a{color:#0D69B1;}
.yjcode .newjy #rolltxt li a:hover{color:#ff6600;}
.yjcode .newjy #rolltxt li strong{color:#ff6600;}

.yjcode .tuancap{float:left;width:1150px;border-bottom:#C50B0B solid 2px;margin:10px 0 0 0;text-align:left;text-align:left;}
.yjcode .tuancap .u1{float:left;width:1150px;height:40px;}
.yjcode .tuancap .u1 li{float:left;}
.yjcode .tuancap .u1 .l1{width:241px;font-size:25px;color:#C50B0B;background:url(../homeimg/icon2.png) left top no-repeat;padding:0 0 0 40px;height:40px;}
.yjcode .tuancap .u1 .l2{width:869px;text-align:right;padding:6px 0 0 0;font-size:14px;}

.yjcode .tuan{float:left;width:1150px;margin:10px 0 0 0;text-align:left;}
.yjcode .tuan .u1{float:left;width:272px;border:#E9E9E9 solid 1px;margin:0 13px 0 0;}
.yjcode .tuan .u1 li{float:left;}
.yjcode .tuan .u1 .l1{width:272px;height:296px;}
.yjcode .tuan .u1 .l1 .tp{float:left;margin:8px 0 0 8px;}
.yjcode .tuan .u1 .l1 .djs{float:left;width:272px;font-family:Arial, Helvetica, sans-serif;padding:6px 0 0 0;height:20px;background:url(../img/icon7.png) no-repeat;background-position:20px 3px;background-color:#FEF2EE;text-align:center;font-size:14px;font-weight:700;}
.yjcode .tuan .u1 .l2{width:256px;padding:0 8px;font-size:14px;height:45px;}
.yjcode .tuan .u1 .l3{width:187px;padding:0 0 0 8px;font-size:14px;font-family:Arial, Helvetica, sans-serif;color:#DE0909;height:32px;}
.yjcode .tuan .u1 .l3 strong{font-size:22px;}
.yjcode .tuan .u1 .l3 .hui{font-size:12px;}
.yjcode .tuan .u1 .l4{width:69px;padding:10px 8px 0 0;height:22px;text-align:right;}
.yjcode .tuan .u1 .l5{height:18px;width:167px;padding:6px 0 0 8px;background-color:#FEF2EE;}
.yjcode .tuan .u1 .l5 a{color:#999;}
.yjcode .tuan .u1 .l6{height:18px;width:89px;padding:6px 8px 0 0;background-color:#FEF2EE;text-align:right;color:#999;}
.yjcode .tuan .u11{background-color:#F8F8F6;}

.yjcode .ilistcap{float:left;width:1150px;margin:10px 0 0 0;text-align:left;}
.yjcode .ilistcap .u1{float:left;width:1150px;}
.yjcode .ilistcap .u1 li{float:left;}
.yjcode .ilistcap .u1 .l1{width:61px;height:47px;font-size:25px;color:#fff;text-align:center;padding:7px 0 0 0;}
.yjcode .ilistcap .u1 .l2{width:152px;height:40px;font-size:22px;text-align:center;padding:8px 0 0 0;background-color:#f9f9f9;}
.yjcode .ilistcap .u1 .l3{width:157px;height:48px;color:#666;padding:12px 0 0 0;height:35px;text-align:center;font-size:14px;cursor:pointer;border-left:#E9E9E9 solid 1px;border-bottom:#E9E9E9 solid 1px;background-color:#f9f9f9;}
.yjcode .ilistcap .u1 .l4{width:145px;height:48px;color:#666;padding:12px 0 0 0;height:35px;text-align:center;font-size:14px;border:#E9E9E9 solid 1px;border-top:0;background:url(../img/jianright.gif) no-repeat;background-position:85px 18px;background-color:#f9f9f9;}
.yjcode .ilistcap .u1 .l31{background-color:#fff;border-bottom:0;}

.yjcode .isj{float:left;border-top:#CB0404 solid 2px;margin:10px 0 0 0;width:1150px;text-align:left;}
.yjcode .isj .u1{float:left;border:#ddd solid 1px;border-top:0;width:913px;height:167px;}
.yjcode .isj .u1 li{float:left;}
.yjcode .isj .u1 .l1{width:15px;text-align:left;background-color:#EEEEEE;height:121px;border:#ddd solid 1px;border-left:0;padding:20px 0 0 3px;line-height:17px;margin:13px 2px 0 0;}
.yjcode .isj .u1 .l2{width:118px;border:#ddd solid 1px;text-align:center;margin:13px 0 0 6px;height:141px;font-weight:700;}
.yjcode .isj .u1 .l2 img{border:0;margin:0 0 7px 0;}
.yjcode .isj .u1 .l2 a{float:left;width:118px;height:136px;text-align:center;padding:5px 0 0 0;}
.yjcode .isj .u1 .l2 a:hover{text-decoration:none;background-color:#F5F5F5;}
.yjcode .isj .u2{float:left;width:234px;border-right:#ddd solid 1px;height:167px;border-bottom:#ddd solid 1px;}
.yjcode .isj .u2 .l1{border-bottom:#ddd solid 1px;text-align:center;font-size:14px;font-weight:700;width:234px;padding:8px 0 0 0;height:21px;}
.yjcode .isj .u2 .l2{width:224px;padding:8px 0 0 10px;height:19px;color:#5F5F5F;}
.yjcode .isj .u2 .l21{background-color:#F3F3F3;}
.yjcode .isj .u2 .l2 a{color:#5B8EDC;}
.yjcode .isj .u2 .l2 a:hover{color:#BE1700;}

.yjcode .yjplist{float:left;width:1150px;margin:10px 0 0 0;text-align:left;}
.yjcode .yjplist .u1{float:left;width:220px;height:321px;margin:11px 10px 7px 0;border:#E9E9E9 solid 1px;}
.yjcode .yjplist .u1 li{float:left;}
.yjcode .yjplist .u1 .l1{width:210px;height:210px;padding:5px;}
.yjcode .yjplist .u1 .l2{width:210px;padding:0 5px;height:50px;line-height:18px;}
.yjcode .yjplist .u1 .l3{width:120px;height:38px;color:#ff6600;font-family:Tahoma, Geneva, sans-serif;font-size:14px;font-weight:700;padding:12px 0 0 5px;background-color:#F9F9F9;border-top:#E9E9E9 solid 1px;}
.yjcode .yjplist .u1 .l3 strong{font-family:Arial, Helvetica, sans-serif;font-size:20px;}
.yjcode .yjplist .u1 .l4{width:90px;padding:6px 5px 0 0;height:44px;background-color:#F9F9F9;border-top:#E9E9E9 solid 1px;}
.yjcode .yjplist .u1 .l4 .s1{float:right;border:#F1B305 solid 1px;background-color:#F3C43F;color:#fff;font-family:Arial, Helvetica, sans-serif;padding:1px;}
.yjcode .yjplist .u1 .l4 .s2{float:right;clear:both;margin:6px 0 0 0;font-family:Arial, Helvetica, sans-serif;color:#999999;width:90px;text-align:right;}
.yjcode .yjplist .u11{border:#FF9600 solid 1px;}
.yjcode .yjplist .u12{margin-right:0;}

.yjcode .pl{float:left;width:1150px;margin:10px 0 0 0;background-color:#EEEEEE;border-top:#CB0404 solid 2px;text-align:left;padding:0 0 12px 0;}
.yjcode .pl .gdmain{float:left;margin:12px 0 0 12px;width:368px;background-color:#fff;}
.yjcode .pl .gdmain .u1{float:left;width:368px;height:34px;border-bottom:#ddd solid 1px;}
.yjcode .pl .gdmain .u1 li{float:left;}
.yjcode .pl .gdmain .u1 .l1{margin:10px 0 0 10px;width:300px;font-size:14px;font-weight:700;}
.yjcode .pl .gdmain .u1 .l2{width:48px;padding:11px 0 0 0;text-align:right;}
.yjcode .pl .gdmain .igd{float:left;width:358px;margin:0 0 0 4px;overflow:hidden;height:202px;}
.yjcode .pl .gdmain .igd .gd{float:left;border-bottom:#eee solid 1px;height:65px;padding:1px 0 0 0;}
.yjcode .pl .gdmain .igd .gd .tp{border:#ddd solid 1px;}
.yjcode .pl .u2{float:left;margin:12px 0 0 12px;width:368px;background-color:#fff;padding:0 0 5px 0;height:232px;}
.yjcode .pl .u2 li{float:left;}
.yjcode .pl .u2 .l1{border-bottom:#ddd solid 1px;margin:10px 0 4px 10px;width:300px;font-size:14px;font-weight:700;height:24px;}
.yjcode .pl .u2 .l2{border-bottom:#ddd solid 1px;width:48px;padding:11px 0 0 0;margin:0 0 4px 0;height:23px;text-align:right;}
.yjcode .pl .u2 .l3{height:18px;padding:6px 0 0 10px;width:346px;margin:0 0 0 12px;background:url(../img/icon4.gif) left center no-repeat;}

.bfbbot{margin:10px 0 0 0;}

.bolink{float:left;width:1128px;margin:10px 0 0 0;text-align:left;border:#D8D8D8 solid 1px;padding:10px;background-color:#F4F4F4;}
.bolink .u1{float:left;width:1108px;background-color:#fff;padding:10px;}
.bolink .u1 li{float:left;}
.bolink .u1 .l1{width:1108px;font-size:16px;font-weight:700;height:28px;border-bottom:#D8D8D8 dotted 1px;}
.bolink .u1 .l2{width:1108px;}
.bolink .u1 .l2 img{float:left;border:#E5E5E5 solid 1px;margin:10px 5px 0 4px;padding:4px;}
.bolink .u1 .l3{width:1108px;margin:10px 0 0 0;line-height:20px;}




















