{extend name="base" /} {block name="css"}
<link rel="stylesheet" href="__ADMIN__/css/form.css"> {/block} {block name="body"}
<div class="admin-main layui-form">
    <div class="layui-field-box">
        <div class="layui-box-searchber" style="overflow: visible">
            <button class="layui-btn layui-btn-sm" data-url="{:url('admin/forum/alldelete')}" lay-submit lay-filter="alldelete">删除选中</button>
            <form class="layui-form-pane" action="{:url('admin/forum/index')}" method="get">

                <div class="layui-form">
                    <div class="layui-inline" style="width:100px">
                        <select name="tid" lay-filter="selecttid">
                                <option value="">栏目分类</option>
                           
                                {volist name="category_level_list" id="vo"}
                                <option {if condition="$tid eq $vo['id']"}selected="selected"{/if} value="{$vo.id}">{neq name="vo.level" value="1"}|{php}for($i=1;$i<$vo['level'];$i++){echo ' --';}{/php}{/neq}{$vo.name}</option>
                                {/volist}
                              </select>
                    </div>
                    <div class="layui-inline" style="width:100px">
                        <select name="open" lay-filter="selectopen">
                                <option  value="">状态</option>
                                <option {if condition="$open eq '0'"}selected="selected"{/if} value="0">隐藏</option>
                                <option {if condition="$open eq 1"}selected="selected"{/if} value="1">显示</option>
                              </select>
                    </div>
                    <div class="layui-inline" style="width:100px">
                        <input type="text" placeholder="开始日期" value="{$startdate}" name="startdate" class="layui-input" id="startdate">
                    </div>
                    <div class="layui-inline" style="width:100px">
                        <input type="text" placeholder="结束日期" value="{$enddate}" name="enddate" class="layui-input" id="enddate">
                    </div>
                    <div class="layui-inline" style="width:100px">
                        <select name="settop" lay-filter="selectopen">
                                <option  value="">是否置顶</option>
                                <option {if condition="$settop eq 1"}selected="selected"{/if} value="1">置顶</option>
                                <option {if condition="$settop eq '0'"}selected="selected"{/if} value="0">普通</option>
                              </select>
                    </div>
                    <div class="layui-inline" style="width:100px">
                        <select name="choice" lay-filter="selectopen">
                                <option  value="">是否精选</option>
                                <option {if condition="$choice eq 1"}selected="selected"{/if} value="1">精选</option>
                                <option {if condition="$choice eq '0'"}selected="selected"{/if} value="0">一般</option>
                              </select>
                    </div>
                    <div class="layui-inline" style="width:100px">
                        <select name="memo" lay-filter="selectmemo">
                                <option  value="">是否备忘</option>
                                <option {if condition="$memo eq 1"}selected="selected"{/if} value="1">备忘</option>
                                <option {if condition="$memo eq '0'"}selected="selected"{/if} value="0">平常</option>
                              </select>
                    </div>

                    <div class="layui-inline" style="width:100px">
                        <input type="text" name="keyword" value="{$keyword}" placeholder="关键词" class="layui-input">
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">每页条数</label>
                        <div class="layui-inline" style="width:50px"><input type="number" name="perpage" value="{$perpage}" title placeholder="每页条数" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn  layui-btn-sm">搜索</button>
                    </div>
                </div>



            </form>
        </div>
        <hr>

        <table class="layui-table admin-table">
            <thead>
                <tr>
                    <th width="5%" align="center"><input  type="checkbox" lay-skin="primary" name="checkAll" lay-filter="checkAll"></th>
                    <th width="5%" align="center">ID</th>
                    <th align="center">帖子标题</th>
                    <th width="60px" style="text-align:center">作者</th>
                    <th width="60px" align="center">是否显示</th>
                    <th width="60px" align="center">是否顶置</th>
                    <th width="60px" align="center">是否精选</th>
                    <th width="60px" align="center">设置备忘</th>
                    <th width="70px" style="text-align:center">所属栏目</th>
                    <th width="80px" style="text-align:center">更新时间</th>
                    <th width="170px" style="text-align:center">操作</th>
                </tr>
            </thead>
            <tbody id="content">
                {volist name="user_list" id="vo"}
                <tr>
                    <td align="center"><input type="checkbox" lay-skin="primary" name="ids[{$vo.id}]" lay-filter="checkOne" value="{$vo.id}"></td>
                    <td align="center">{$vo.id}</td>
                    <td style="padding-left: 20px;"><a target="_blank" href=" {:routerurl('bbs/index/thread',array('id'=>$vo.id))}">{$vo.title}</a></td>
                    <td align="center">{$vo.username}</td>
                    <td align="center">
                        <input type="checkbox" name="show" lay-skin="switch" lay-text="显示|隐藏" lay-filter="switchopen" value="{$vo['id']}" {php}echo $vo[ 'open']==1 ? 'checked' : '';{/php}>
                    </td>
                    <td align="center">
                        <input type="checkbox" name="show" lay-skin="switch" lay-text="置顶|置顶" lay-filter="switchsettop" value="{$vo['id']}" {php}echo $vo[ 'settop']==1 ? 'checked' : '';{/php}>
                    </td>
                    <td align="center">
                        <input type="checkbox" name="show" lay-skin="switch" lay-text="精选|精选" lay-filter="switchchoice" value="{$vo['id']}" {php}echo $vo[ 'choice']==1 ? 'checked' : '';{/php}>
                    </td>
                    <td align="center">
                        <input type="checkbox" name="memo" lay-skin="switch" lay-text="备忘|备忘" lay-filter="switchmemo" value="{$vo['id']}" {php}echo $vo[ 'memo']==1 ? 'checked' : '';{/php}>
                    </td>
                    <td align="center"><a target="_blank" href="{:url('bbs/index/cate',array('cate_alias'=>$vo.alias))}">{$vo.name}</a></td>
                    <td align="center">{$vo.time|friendlyDate}</td>
                    <td align="center">
                        <button class="layui-btn layui-btn-danger layui-btn-sm {if $vo.open neq 1}layui-btn-disabled{/if} reward" data-uid="{$vo.uid}" data-id="{$vo.id}" data-url="{:url('articles/edit',array('id'=>$vo['uid']))}" {if $vo.open neq 1}disabled="disabled" {/if} title="奖励作者积分">奖励</button>

                        <a class="layui-btn layui-btn-normal layui-btn-sm" href="{:url('forum/edit',array('id'=>$vo['id']))}">修改</a>
                        <a class="elementdel layui-btn layui-btn-danger layui-btn-sm" href="javascript:;" data-id="{$vo.id}" data-url="{:url('admin/forum/delete',array('id'=>$vo['id']))}" title="删除">删除</a>
                    </td>
                </tr>
                {/volist}
            </tbody>
        </table>
    </div>


</div>
{/block} {block name="page"}
<div class="btable-paged">
    <div class="layui-main">
        {$user_list->render()}
    </div>
</div>
{/block} {block name="js"}
<script type="text/javascript" src="__ADMIN__/js/delelement.js"></script>
{/block} {block name="script"}

<script>
    layui.use(['form', 'laydate'], function() {
        var form = layui.form,
            laydate = layui.laydate,
            $form = $('form'),
            jq = layui.jquery;
        form.on('select()', function(data) {
            $form.submit();
        });

        laydate.render({
            elem: '#startdate' //指定元素
                ,
            done: function(value, date) {
                $form.submit();
            }
        });
        laydate.render({
            elem: '#enddate' //指定元素
                ,
            done: function(value, date) {
                $form.submit();
            }
        });
        var status = 0;
        form.on('switch(switchopen)', function(data) {
            loading = layer.load(2, {
                shade: [0.2, '#000']
            });
            if (data.elem.checked) {
                status = 1;
            } else {
                status = 0;
            }
            var url = "{:url('admin/forum/toggle')}?id=" + data.value + '&status=' + status + '&name=open';


            jq.get(url, function(data) {

                if (data.code == 200) {
                    layer.close(loading);
                    layer.msg(data.msg, {
                        icon: 1,
                        time: 1000
                    });
                } else {
                    layer.close(loading);
                    layer.msg(data.msg, {
                        icon: 2,
                        anim: 6,
                        time: 1000
                    });
                }
            });
            return false;
        });

        form.on('switch(switchchoice)', function(data) {
            loading = layer.load(2, {
                shade: [0.2, '#000']
            });
            if (data.elem.checked) {
                status = 1;
            } else {
                status = 0;
            }
            var url = "{:url('admin/forum/toggle')}?id=" + data.value + '&status=' + status + '&name=choice';


            jq.get(url, function(data) {

                if (data.code == 200) {
                    layer.close(loading);
                    layer.msg(data.msg, {
                        icon: 1,
                        time: 1000
                    }, function() {
                        //  location.reload();
                    });
                } else {
                    layer.close(loading);
                    layer.msg(data.msg, {
                        icon: 2,
                        anim: 6,
                        time: 1000
                    });
                }
            });
            return false;
        });
        form.on('switch(switchsettop)', function(data) {
            loading = layer.load(2, {
                shade: [0.2, '#000']
            });
            if (data.elem.checked) {
                status = 1;
            } else {
                status = 0;
            }
            var url = "{:url('admin/forum/toggle')}?id=" + data.value + '&status=' + status + '&name=settop';


            jq.get(url, function(data) {

                if (data.code == 200) {
                    layer.close(loading);
                    layer.msg(data.msg, {
                        icon: 1,
                        time: 1000
                    }, function() {
                        //  location.reload();
                    });
                } else {
                    layer.close(loading);
                    layer.msg(data.msg, {
                        icon: 2,
                        anim: 6,
                        time: 1000
                    });
                }
            });
            return false;
        });
        form.on('switch(switchmemo)', function(data) {
            loading = layer.load(2, {
                shade: [0.2, '#000']
            });
            if (data.elem.checked) {
                status = 1;
            } else {
                status = 0;
            }
            var url = "{:url('admin/forum/toggle')}?id=" + data.value + '&status=' + status + '&name=memo';


            jq.get(url, function(data) {

                if (data.code == 200) {
                    layer.close(loading);
                    layer.msg(data.msg, {
                        icon: 1,
                        time: 1000
                    }, function() {
                        //  location.reload();
                    });
                } else {
                    layer.close(loading);
                    layer.msg(data.msg, {
                        icon: 2,
                        anim: 6,
                        time: 1000
                    });
                }
            });
            return false;
        });
        $(".reward").on('click', function() {
            var author = $(this).parent().parent().find("td").eq(3).text();
            var fid = $(this).data('id');
            var uid = $(this).data('uid');
            layer.prompt({
                title: '奖励作者' + author
            }, function(val, index) {
                var ival = parseInt(val);
                var url = "{:url('admin/point_note/reward')}";
                if (!isNaN(ival)) {

                    jq.post(url, {
                            type: 'rewardForumAuthor',
                            score: $.trim(val),
                            fid: fid,
                            uid: uid
                        },
                        function(data) {

                            if (data.code == 200) {

                                layer.msg(data.msg, {
                                    icon: 1,
                                    time: 1000
                                }, function() {
                                    //  location.reload();
                                });
                            } else {

                                layer.msg(data.msg, {
                                    icon: 2,
                                    anim: 6,
                                    time: 1000
                                });
                            }
                            layer.close(index);
                        });
                } else {
                    layer.msg(val + "不是数字");

                }
            });

        });


    })
</script>
{/block}