@charset "gb2312";
/* 一淘模板提示请不要倒卖否则停止更新*/
/*大图切换*/
.banner{float:left;height:450px;overflow:hidden;width:100%;min-width: 1200px;}
.banner .d1{float:left;width:100%;height:450px;}
.banner .d2{float:left;width:100%;min-width:1150px;height:30px;clear:both;position:absolute;z-index:1;left:0px;margin-top:403px;}
.banner .d2 ul{float:left;position:absolute;left:50%;display:inline;}
.banner .d2 li{width:8px;height:8px;border-radius:8px;overflow:hidden;cursor:pointer;border:#fff solid 1px;float:left;margin:0 3px;display:inline;}
.banner .d2 li.nuw{background-color:#fff;}
/* 一淘模板提示请不要倒卖否则停止更新*/
/*登录*/
.index_login{float:right;width:190px;height:420px;margin:-440px 0 0 0;position: relative;z-index:9;text-align:left;}
.index_login .indetail{float: right;width: 190px;height: 403px;position: relative;top: 13px;background: url(../images/indetail.png) no-repeat center top #fff;}
.index_login .indetail .user{padding-top: 10px;text-align: center;}
.index_login .indetail .user img{width: 65px;height: 65px;border-radius:33px;}
.index_login .indetail .h2tit{text-align: center;font-size: 14px;line-height: 29px;color: #fff;font-weight: normal;}
.index_login .indetail .h2tit a{color: #fff}
.index_login .indetail .login_re{height: 24px;margin-bottom: 34px;}
.index_login .indetail .login_re a{float: left;width: 68px;height: 24px;line-height: 24px;color: #ff6c00;font-size: 14px;background: #fff;border-radius: 5px;text-align: center;-webkit-transition:all 1.2s;-o-transition:all 1.2s;-moz-transition:all 1.2s;-ms-transition:all 1.2s;transition:all 1.2s;}
.index_login .indetail .login_re a:hover{-webkit-transform: rotateX(360deg);-moz-transform: rotateX(360deg);-ms-transform: rotateX(360deg);-o-transform: rotateX(360deg);transform: rotateX(360deg);}
.index_login .indetail .login_re a.mr{margin-left: 24px;margin-right: 6px;}
.index_login .indetail .webinfor{height: 25px;line-height: 25px;color: #333333;font-size: 14px;background: url(../images/ld.png) no-repeat 24px center;text-indent:70px;margin-bottom: 10px;}
.index_login .indetail .list{border-top: 1px solid #ff6c00;padding-top: 9px;padding-left: 24px;padding-right: 24px;}
.index_login .indetail .list li{line-height: 26px;overflow: hidden;height: 26px;font-size: 14px;}
.index_login .indetail .list li a{color: #333333;}
.index_login .indetail .list li a:hover{color: #FF6C00}

/* 一淘模板提示请不要倒卖否则停止更新*/

/*标题*/
.procap{float:left;width:1150px;margin:20px 0 0 0;text-align:left;height:40px;border-bottom:#DDDDDD solid 1px;}
.procap li{float:left;}
.procap .l1{width:200px;font-size:21px;color:#000;}
.procap .l2{width:950px;text-align:right;padding:9px 0 0 0;}
.procap .l2 a{font-size:14px;}
/*统计*/
.bfbtoj{text-align:left;background-color:#fff;height:50px;margin:0 0 10px 0;}
.bfbtoj .d1{float:right;font-size:14px;padding:15px 5px 0 0;}
.bfbtoj .d1 strong{color:#FF7257;}
.bfbtoj .d1 .right{float:left;}
.bfbtoj .d1 .right .icons{float: left; margin-top: 1px; width: 20px; height: 20px; background: url(../homeimg/focus2018.png) no-repeat; background-position: -218px -483px;}
.bfbtoj .d1 .right span{float: left; font-size: 14px; margin: 0px 0 0 4px; line-height: 20px; height: 28px;}

.bfbtoj .d2{float:left;width:500px;}
.bfbtoj .d3{float: left; width: 24px; height: 24px; background: url(../homeimg/focus2018.png) no-repeat; background-position: -193px -480px; margin:11px 3px 0 3px}
.bfbtoj .d4{float: left; height: 28px; line-height: 47px; font-size: 14px; color: #333;}
.bfbtoj .newjy{float:left;font-size:14px;margin:6px 0 0 0;}
.bfbtoj .newjy #rolltxt{float:left;list-style:outside none none;width:400px;overflow:hidden;height:33px;}
.bfbtoj .newjy #rolltxt li{float:left;display:inline;height:17px;margin:8px 0;width:100%;}
.bfbtoj .newjy #rolltxt li a{color:#0D69B1;}
.bfbtoj .newjy #rolltxt li a:hover{color:#ff6600;}
.bfbtoj .newjy #rolltxt li strong{color:#ff6600;}
.bfbtoj .newjy #rolltxt li div{float:left;width:100%;height:17px;overflow:hidden;}


/* 一淘模板提示请不要倒卖否则停止更新*/

/*热销商品*/
.dtj{float:left;width:1150px;margin:10px 0 0 0;height:310px;}
.dtj .u1{float:left;width:205px;padding:7px;border:#fff solid 1px;height:281px;margin:6px 0 0 10px;text-align:left;}
.dtj .u1 li{float:left;}
.dtj .u1 .l1{width:205px;height:215px;}
.dtj .u1 .l1 img{width:205px;height:205px;}
.dtj .u1 .l1 .djs{float:left;position:relative;width:205px;padding:5px 0 0 0;margin:-25px 0 0 0;height:20px;text-align:center;background:url(../img/bghui1.png) left top repeat;color:#fff;}
.dtj .u1 .l2{width:205px;height:45px;font-size:14px;line-height:20px;}
.dtj .u1 .l2 a:hover{color:#62B4F7;text-decoration:none;}
.dtj .u1 .l3{width:80px;height:21px;font-size:14px;color:#E85308;font-weight:700;}
.dtj .u1 .l4{width:125px;height:21px;text-align:right;}
.dtj .u1 .l4 a{color:#999;}
.dtj .u1:hover{border:#DDDDDD solid 1px;box-shadow:0 0 10px rgba(0,0,0,.3);}
.dtj .u11{margin-left:0;}

/*产品列表*/
.bfbtype1{background-color:#F9F9F9;padding:35px 0 55px 0;}
.bfbtype2{background-color:#fff;padding:35px 0 55px 0;}
.typecap{float:left;text-align:left;width:1150px;height:45px;background:url(../homeimg/bg.gif) left bottom repeat-x;}
.typecap li{float:left;}
.typecap .l1{width:220px;font-size:21px;color:#000;padding:5px 0 0 0;}
.typecap .l2{width:928px;height:45px;font-size:14px;padding-left:2px;}
.typecap .l2 a{float:right;padding:12px 15px 0 15px;height:33px;}
.typecap .l2 a:hover{text-decoration:none;}
.typecap .l2 .a1{border-bottom:#188EEE solid 2px;color:#188EEE;height:32px;}
.leftgg{float:left;width:220px;height:420px;}
.leftgg .gg1{float:left;width:220px;height:160px;margin:10px 0 0 0;}
.pdright{float:left;width:672px;margin:9px 0 0 8px;}
.pdright .u1{float:left;width:199px;padding:7px;border:#fff solid 1px;height:275px;margin:6px 0 0 9px;text-align:left;}
.pdright .u1 li{float:left;}
.pdright .u1 .l1{width:199px;height:209px;}
.pdright .u1 .l1 img{width:199px;height:199px;}
.pdright .u1 .l2{width:199px;height:45px;font-size:14px;line-height:20px;}
.pdright .u1 .l2 a:hover{color:#62B4F7;text-decoration:none;}
.pdright .u1 .l3{width:80px;height:21px;font-size:14px;color:#E85308;font-weight:700;}
.pdright .u1 .l4{width:119px;height:21px;text-align:right;}
.pdright .u1 .l4 a{color:#999;}
.pdright .u1:hover{border:#DDDDDD solid 1px;box-shadow:0 0 10px rgba(0,0,0,.3);}
.bfbtype1 .pdright .u1{border:#f9f9f9 solid 1px;}
.rxph{float:right;width:235px;margin:20px 0 0 0;}
.rxph .u1{float:left;width:211px;margin:0 0 15px 12px;}
.rxph .u1 li{float:left;}
.rxph .u1 .l1{width:105px;height:32px;border-bottom:#188EEE solid 1px;font-size:16px;text-align:center;}
.rxph .u1 .l2{width:106px;height:32px;border-bottom:#DFDFDF solid 1px;}
.rxph .u2{float:left;width:189px;padding:6px 0 0 46px;text-align:left;}
.rxph .u2 li{float:left;}
.rxph .u2 .l1{width:189px;height:26px;font-size:14px;}
.rxph .u2 .l1 a:hover{text-decoration:none;color:#62B4F7;}
.rxph .u2 .l2{width:189px;height:65px;font-size:14px;color:#888;line-height:25px;}
.rxph .u2 .l2 img{height:50px;width:50px;margin-right:10px;}
.rxph .u2 .l2 a{color:#999999;}
.rxph .u2 .l2 strong{color:#E85308;}
.rxph .u21{background:url(../homeimg/ph1.gif) no-repeat;background-position:12px 8px;}
.rxph .u22{background:url(../homeimg/ph2.gif) no-repeat;background-position:12px 8px;}
.rxph .u23{background:url(../homeimg/ph3.gif) no-repeat;background-position:12px 8px;}
.rxph .u2:hover{box-shadow:0 0 10px rgba(0,0,0,.3);}
.rxph .u3{float:left;width:211px;height:27px;text-align:left;padding:7px 12px 0 12px;}
.rxph .u3 li{float:left;}
.rxph .u3 .l1{width:34px;}
.rxph .u3 .l2{width:177px;font-size:14px;}
.rxph .u3 .l2 a{color:#333;}
.rxph .u3 .l2 a:hover{color:#62B4F7;text-decoration:none;}
.rxph .u3:hover{background:rgba(229,229,229,1);-webkit-transition:background-color 0.3s linear;-moz-transition:background-color 0.3s linear;-o-transition:background-color 0.3s linear;transition:background-color 0.3s linear;}

/*合作伙伴*/
.indexcap{width:1150px;font-size:21px;color:#000;padding:5px 0 0 0;margin:20px 0 0 0;float:left;text-align:left;}
.mr_frbox{float:left;width:1148px;text-align:left;border:#dedede solid 1px;margin:16px 0 0 0;height:97px;}
.mr_frBtnL{float:left;margin:25px 9px 0px 10px;cursor: pointer;display:inline;}
.mr_frUl{float:left;width:1063px;margin:23px 0 0 0;height:54px;}
.mr_frUl ul li{float:left;height:51px;width:142px;margin-right:10px;overflow:hidden;}
.mr_frUl ul li img{display:block;border:1px solid #ECEBEB; }
.mr_frBtnR{float:right;margin:25px 10px 0 0;cursor:pointer; }











