@charset "gb2312";
body{background-color:#f2f2f2;}

/*列表*/
.topfix{position:fixed;width:100%;z-index:9;}
.ntopv .d1{height:40px;margin:0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.listtop{height:40px;background-color:#F39D01;}
.listtop .d1{margin:10px 0 0 10px;text-align:left;width:27px;}
.listtop .d1 img{height:20px;}
.listtop .d2{margin:5px 5px 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:left;border-radius:5px;height:30px;background-color:#fff;}
.listtop .d2 span{float:left;}
.listtop .d2 .s1{width:24px;height:24px;margin:6px 0 0 5px;}
.listtop .d2 .s1 img{width:18px;}
.listtop .d2 .s2{font-size:14px;margin:5px 0 0 0;color:#999;}
.shoplist1{background-color:#fff;text-align:left;margin:10px 0 0 0;padding:0 0 10px 0;}
.shoplist1 .d1{margin:10px 0 0 10px;width:50px;}
.shoplist1 .d1 img{width:50px;height:50px;}
.shoplist1 .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:15px 0 0 10px;}
.shoplist1 .d2 a{float:left;width:100%;font-size:15px;font-weight:700;}
.shoplist1 .d2 span{float:left;width:100%;margin:5px 0 0 0;color:#666;}
.shoplist1 .d3{margin:21px 10px 0 0;width:70px;}
.shoplist1 .d3 a{float:right;width:50px;background-color:#F2F2F2;text-align:center;padding:4px 0 0 0;height:21px;border:#B4B4B4 solid 1px;border-radius:20px;}
.shoplist2{background-color:#fff;text-align:left;padding:0 0 10px 0;}
.shoplist2 .dmain{margin:0 0 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.shoplist2 .dmain .d1{float:left;width:calc(33% - 10px);margin-right:10px;}
.shoplist2 .dmain .d1 img{width:100%;}
.shoplist2 .dmain .d1 span{float:left;color:#000;height:21px;margin-top:-29px;position:relative;z-index:4;background:url(img/bgbai.png) repeat;padding:4px 10px 0 5px;border-radius:0 6px 6px 0;}

.topbg{background:url(img/bg.png) left bottom no-repeat;}
.indextop{height:50px;}
.indextop .d1{margin:15px 0 0 10px;width:30px;}
.indextop .d2{margin:9px 0 0 0;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;text-align:left;border-radius:10px;height:30px;background-color:#fff;}
.indextop .d2 span{float:left;}
.indextop .d2 .s1{margin:7px 0 0 7px;}
.indextop .d2 .s2{font-size:14px;margin:5px 0 0 5px;color:#999;}
.indextop .d3{margin:12px 10px 0 0;width:30px;text-align:right;}

.indextop1{height:45px;margin:10px 0 0 0;color:#fff;line-height:20px;}
.indextop1 .d1{margin:0 0 0 10px;width:50px;}
.indextop1 .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0;border-right:#ADBCD5 dotted 1px;height:40px;}
.indextop1 .d2 img{margin:2px 0 0 0;}
.indextop1 .d3{margin:0 10px 0 0;width:50px;text-align:right;}
.indextop1 .d4{margin:0 10px 0 0;width:50px;text-align:right;border-left:#ADBCD5 dotted 1px;height:40px;}

.topmenu{height:34px;border:#dedede solid 1px;background-color:#fff;}
.topmenu .d1{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:0;}
.topmenu .d1 a{float:left;width:25%;padding:9px 0 0 0;height:25px;text-align:center;}
.topmenu .d1 .a1{height:24px;border-bottom:#ff6600 solid 2px;}

.zxsj{margin:10px 0 0 0;background-color:#fff;}
.zxsj .dmain{margin:10px 0 0 10px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.zxsj .dmain .d1{float:left;font-size:14px;height:30px;width:100%;}
.zxsj .dmain .u1{float:left;width:calc(50% - (10px));margin-right:10px;}
.zxsj .dmain .u1 li{float:left;width:100%;}
.zxsj .dmain .u1 .l1 img{width:100%;}
.zxsj .dmain .u1 .l2{padding:7px 0 0 0;height:32px;overflow:hidden;}
.zxsj .dmain .u1 .l3{height:30px;margin:8px 0 0 0;}
.zxsj .dmain .u1 .l3 strong{font-weight:100;color:#ff0000;}
.zxsj .dmain .u1 .l3 s{color:#888;font-size:10px;}

.list2{background-color:#fff;text-align:left;border-bottom:#E5E5E5 solid 1px;border-top:#E5E5E5 solid 1px;margin:10px 0 0 0;}
.list2 .d1{width:80px;margin:10px 0 0 10px;height:90px;}
.list2 .d2{-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;margin:10px 10px 0 10px;}
.list2 .d2 .a1{float:left;width:100%;overflow:hidden;height:35px;color:#000;font-size:13px;}
.list2 .d2 .dn1{float:left;width:150px;height:29px;margin:21px 0 0 0;}
.list2 .d2 .dn1 .s2{float:left;border:#00BA97 solid 1px;padding:0 3px 0 18px;color:#00BA97;background:url(img/bao.gif) left top no-repeat;height:14px;}
.list2 .d2 .dn2{float:right;color:#F32A38;font-weight:700;margin:20px 0 0 0;}
.list2 .d2 .dn2 strong{font-size:16px;}

.aboutview{margin:10px 0 0 0;background-color:#fff;}
.aboutview .dmain{margin:0 10px 0 10px;padding:10px 0;font-size:14px;line-height:22px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;color:#666;}
.aboutview .dmain img{max-width:100%;}

.shopdq .d1{margin:50px 20px 0 20px;}
.shopdq .d1 .u1{float:left;width:100%;}
.shopdq .d1 .u1 li{float:left;width:100%;}
.shopdq .d1 .u1 .l1{font-size:18px;font-weight:700;color:#ff0000;}
.shopdq .d1 .u1 .l2{margin:30px 0 0 0;line-height:25px;font-size:14px;}

.type1{background-color:#f2f2f2;font-size:14px;font-weight:700;height:37px;}
.type1 .d1{margin:10px 0 0 20px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.type2 .dm{margin:15px 0 5px 20px;-webkit-box-flex:1;-moz-box-flex:1;box-flex:1;}
.type2 .d1{float:left;width:33%;height:30px;}



