{include file="public/head" /}
{include file="public/top" /}
<style type="text/css">
	.chongdingy{
		background-color:#f5f5f5; 
		padding:10px 0;
	}
	.chongdingywz{
		text-align: left !important;
		font-size: 16px;
		padding-left: 20px;
	}
	.control-group_c{
		width: 100%;
		min-height: 35px;
		margin-bottom: 10px;
	}
</style>

<input type="hidden" id="nowhtml" value="navVIP" class="navVIP1">

	<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i>
			会员管理--{$applet.name}
		</li>
	</ul>


	<div class="row-fluid">

		<div class="portlet box">

			
			<div class="portlet-body form">

					<form  action="{:Url('wxuser/post')}?appletid=<?php echo $_GET['appletid']?>&id={$item.id}&op=save" id="form_sample_2" class="form-horizontal" method="post" enctype="multipart/form-data" id="form_sample_2" class="form-horizontal">
						<div class="control-group chongdingy">

							<label class="control-label chongdingywz">会员管理</label>

						</div>

						<div class="control-group_c">

							<label class="control-label" style="color:#666666">头像昵称</label>

							<div class="controls" style="line-height:35px;">
								
								<img src="{$item['avatar']}" style="width:50px; height:50px;"/>
								{$item['nickname']}

							</div>

						</div>
						<div class="control-group_c">

							<label class="control-label" style="color:#666666">OPENID</label>

							<div class="controls" style="line-height:35px;">
								
								{$item['openid']}

							</div>

						</div>
						<div class="control-group_c">

							<label class="control-label" style="color:#666666">会员卡卡号</label>

							<div class="controls" style="line-height:35px;">
								{if $item['vipid']}{$item['vipid']}{else}尚未开通会员{/if}

							</div>

						</div>
						<div class="control-group_c">

							<label class="control-label" style="color:#666666">真实姓名</label>

							<div class="controls" style="line-height:35px;">
								<input type="text" name="realname" value="{$item['realname']}" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="" autocomplete="off">

							</div>

						</div>
						<div class="control-group_c">

							<label class="control-label" style="color:#666666">手机号</label>

							<div class="controls" style="line-height:35px;">
								
								<input type="text" name="mobile" value="{$item['mobile']}" class="form-control ng-pristine ng-untouched ng-valid ng-empty" placeholder="" autocomplete="off">

							</div>

						</div>
						<div class="control-group_c">

							<label class="control-label" style="color:#666666">生日</label>

							<div class="controls" style="line-height:35px;">
								<input type="text" value="{$item.birth|date='Y-m-d',###}"  name="birth"  readonly id="datetimepickers" data-date-format="yyyy-mm-dd">

							</div>

						</div>
						<div class="control-group_c">

							<label class="control-label" style="color:#666666">积分</label>

							<div class="controls" style="line-height:35px;">
								
								{$item['score']}
								<a href="{:Url('cz')}?appletid=<?php echo $_GET['appletid']?>&id={$item.id}&type=1" style="color: #44abf7;">充值</a>

							</div>

						</div>
						<div class="control-group_c">

							<label class="control-label" style="color:#666666">余额</label>

							<div class="controls" style="line-height:35px;">
								
								{$item['money']}
								<a href="{:Url('cz')}?appletid=<?php echo $_GET['appletid']?>&id={$item.id}&type=2" style="color: #44abf7;">充值</a>

							</div>

						</div>
						<div class="control-group_c">

							<label class="control-label" style="color:#666666">注册时间</label>

							<div class="controls" style="line-height:35px;">
								
								{$item['createtime']}

							</div>

						</div>

						

						<div class="form-actions">

							<button type="submit" class="btn green">提交</button>
							<a href="{:Url('index')}?appletid=<?php echo $_GET['appletid']?>" class="btn gray">返回</a>

						</div>

					</form>

			</div>

		</div>

	</div>

	<div>

	</div>


{include file="public/foot_more" /}