{include file="public/head" /}

<body class="page-header-fixed">

<div class="page-container">
{include file="public/left" /}
<div style="margin:25px">
<div class="page-content" id="container">

<style type="text/css">

	.editors{

		max-width: 770px;

		min-height: 600px;

	}

	.w-e-text-container{

		min-height: 600px !important;

	}
	.weiz{

		margin-left:20px;

		margin-top: 40px;

		margin-bottom: 20px;

	}

</style>


<input type="hidden" id="nowhtml" value="navNews" class="navNews2">




	<ul class="breadcrumb">

		<li>

			<i class="icon-home"></i>

			内容管理

		</li>

	</ul>



<style>
	.chongdingy{

		background-color:#f5f5f5; 

		padding:10px 0;

	}

	.chongdingywz{

		text-align: left !important;

		font-size: 16px;

		padding-left: 20px;

	}

</style>



	<div class="row-fluid">



		<div class="portlet box">



			

			<div class="portlet-body form">

				<form action="{:Url('News/savegg')}?newsid={$newsid}" id="form_sample_2" class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit = "return checkinfo();">


					<div class="control-group chongdingy">



						<label class="control-label chongdingywz">管理</label>



					</div>
				

					<div class="control-group">



						<label class="control-label">序号</label>



						<div class="controls">



							<input name="num" type="text" class="span1 m-wrap" value="{if $newsinfo}{$newsinfo.num}{/if}"  style="height: 35px !important;" />

							<span style="color:#999999; line-height:40px; margin-left:20px;">序号越大越靠前</span>

						</div>



					</div>
					<div class="control-group">



						<label class="control-label">是否上线</label>



						<div class="controls">



							<label class="radio">



							<input type="radio" name="flag" value="1" {if $newsinfo}{if $newsinfo.flag==1}checked=checked{/if}{/if}/>



							上线



							</label>



							<label class="radio">



							<input type="radio" name="flag" value="2" {if $newsinfo}{if $newsinfo.flag==2}checked=checked{/if}{/if}/>



							下线



							</label> 



							<span style="color:#999999; line-height:40px; margin-left:20px;"></span>

						</div>



					</div>


					<div class="control-group">



						<label class="control-label">推荐</label>



						<div class="controls">



							<label class="radio">



							<input type="radio" name="recommend" value="2" {if $newsinfo}{if $newsinfo.recommend==2}checked=checked{/if}{/if}/>



							不推荐



							</label>



							<label class="radio">



							<input type="radio" name="recommend" value="1" {if $newsinfo}{if $newsinfo.recommend==1}checked=checked{/if}{/if}/>



							推荐



							</label> 



							<span style="color:#999999; line-height:40px; margin-left:20px;">推荐后会在首页显示</span>

						</div>



					</div>

					<div class="control-group">
						<label class="control-label">访问量</label>
						<div class="controls">
							<input name="hits" type="text" class="span1 m-wrap" value="{if $newsinfo}{$newsinfo.hits}{/if}"  style="height: 35px !important;" />

							<span style="color:#999999; line-height:40px; margin-left:20px;">可自行填写</span>

						</div>
					</div>
					<div class="control-group">
						<label class="control-label">更新时间</label>
						<div class="controls">
							<input type="text" value="{if $newsinfo}{$newsinfo.createtime|date='Y-m-d H:i:s',###}{/if}"  name="createtime"  readonly id="datetimepicker" data-date-format="yyyy-mm-dd hh:ii">
							<span style="color:#999999; line-height:40px; margin-left:20px;"></span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">标题</label>
						<div class="controls">
							<input name="title" type="text" class="span5 m-wrap" value="{if $newsinfo}{$newsinfo.title}{/if}"  style="height: 35px !important;" />
							<span style="color:#999999; line-height:40px; margin-left:20px;">请填写标题</span>
						</div>
					</div>
					

					<div class="control-group">
						<label class="control-label">描述</label>
						<div class="controls">
							<textarea class="span3 m-wrap" style="height:150px;" name="descs">{if $newsinfo}{$newsinfo.descs}{/if}</textarea>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">提示</label>
						<div class="controls">
							<input name="tips" type="text" class="span5 m-wrap" value="{if $newsinfo}{$newsinfo.tips}{/if}"  style="height: 35px !important;" />
							<span style="color:#999999; line-height:40px; margin-left:20px;">多个标签请使用,或空格分隔</span>
						</div>
					</div>
					<div class="control-group">
						<label class="control-label">备注</label>
						<div class="controls">
							<input name="remarks" type="text" class="span5 m-wrap" value="{if $newsinfo}{$newsinfo.remarks}{/if}"  style="height: 35px !important;" />
							<span style="color:#999999; line-height:40px; margin-left:20px;">多个请用，分开</span>
						</div>
					</div>

					<div class="control-group">
						<label class="control-label">正文</label>
						<div class="controls">						
							<div class="editors">
								<script id="editor" name="text" type="text/plain">{if $newsinfo}{$newsinfo.text}{/if}</script>
						    </div>
						</div>
					</div>
			

					
					<div class="form-actions">



						<button type="submit" class="btn green">确定</button>



					</div>
					




				</form>



			</div>



		</div>



	</div>
	<script type="text/javascript" charset="utf-8" src="/plugin/ueditor/ueditor.config.js"></script>

    <script type="text/javascript" charset="utf-8" src="/plugin/ueditor/ueditor.all.min.js"> </script>

    <script type="text/javascript" charset="utf-8" src="/plugin/ueditor/lang/zh-cn/zh-cn.js"></script>

	

    <script type="text/javascript">
    function catecheck(me){
        var id = $(me).val();
        if(id !=0){
            $.ajax({
        		url:"{:Url('Pictures/getcates')}",type:"post",dataType:'json',
        		data:{
        			id:id
        		},success:function(res){
                    var shtml = '';
                    $.each(eval(res),function (k,v) {
                        var opg = '<select name="sons[]" class="span3 m-wrap">';
                        opg += '<optgroup label="'+v.varible+'">';

                        var option = '';
                        $.each(v.sons,function (ks,vs) {
                            option += '<option value="'+vs.id+'">'+vs.varible+'</option>';
                        });
                        opg += option+"</optgroup></select>";
                        shtml+=opg;
                    });
                    $("#sonscatas").html(shtml);
                }
            })
        }else{
            $("#catelists").html("");
        }
    }


        $(function() {

	    	var ue = UE.getEditor('editor');

		});



    	function checkinfo(){



    		var lanmu = $("#cid").val();

        	if(lanmu==0){

        		alert("请选择所属栏目");

        		return false;

        	}

    		val = $("#ueditor_textarea_text").val();

    		if(!val){

        		alert("请输入内容");

        		return false;

        	}else{

        		$("#text").val(val);

        	}

	    }


		function xians(me){

			var b = $(me).find("div[class='beijingys']");

			var s = $(me).find("div[class='sancann']");

			$(b).show();

			$(s).show();

		}

		function gb(me){

			var b = $(me).find("div[class='beijingys']");

			var s = $(me).find("div[class='sancann']");

			$(b).hide();

			$(s).hide();

		}

    function del(id){
        if(confirm('你确定要删除这张图片嘛?')){

            $("#li"+id).remove();

        }else{
            return false;
        }
    }
    </script>

{include file="public/foot_more" /}