<extend name="Index:base" />
<block name="content">
    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
                try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
                </script>
            
            <!-- 面包屑导航 -->
            <ul class="breadcrumb">
                <li>
                    <i class="icon-home home-icon"></i>
                    <a href="{:U('Admin/Index/index')}">首页</a>
                </li>
                <li>
                    <a href="{:U('Admin/Goodsattr/index')}">{$page['title']['prev']}</a>
                </li>
                <li class="active">
                    {$page['title']['current']}
                </li>
            </ul><!-- .breadcrumb -->
            
        </div>
        
        <div class="page-content">
            
            <!-- 页面导航 -->
            <div class="page-header">
                <h1>
                    {$page['title']['current']}
                    <a class="btn btn-info btn-sm pull-right" href="{:U('Admin/Goodsattr/index')}">
                        <i class="icon-reply icon-only"></i>
                    </a>
                </h1>
            </div>
            
            <div class="row" style="margin-top:35px;">
                <div class="col-xs-12">
                    <form class="form-horizontal" role="form" action="{:U('Admin/Goodsattr/updataAttr')}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="attrid" value="{$Think.get.id}">
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right"> 所属分类 </label>
                            <div class="col-sm-10">
                                <input class="col-xs-10 col-sm-5" type="text" placeholder="请填写属性名称" value="{$data['cname']}" disabled>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right"> 排序 </label>
                            <div class="col-sm-10">
                                <input class="col-xs-10 col-sm-5" type="text" name="attrsort" value="{$data['attrsort']}">
                            </div>
                        </div>
                            
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right"> 属性名称 </label>
                            <div class="col-sm-10">
                                <input class="col-xs-10 col-sm-5" type="text" placeholder="请填写属性名称" name="attrname" value="{$data['attrname']}">
                            </div>
                        </div>
                            
                        <div class="form-group">
                            <label class="col-sm-2 control-label no-padding-right"> 属性值 </label>
                            <div class="col-sm-10" id="attrlist">
                                <foreach name="val" item="vo">
                                    <input class="col-xs-10 col-sm-5" type="text" placeholder="请填写属性值" name="attrval[]" value="{$vo['attrvalue']}"><a class="remove" href="#"><i class="icon-remove"></i></a><br /><br />
                                </foreach>
                                <if condition="$vo eq 0">
                                    <input class="col-xs-10 col-sm-5" type="text" placeholder="请填写属性值" name="attrval[]"><a class="remove" href="#"><i class="icon-remove"></i></a><br /><br />
                                </if>
                                <button id="addattr" type="button" class="btn btn-sm btn-info">+增加更多属性</button>
                            </div>
                        </div>
                        
                        <div class="clearfix form-actions">
                            <div class="col-md-offset-2 col-md-10">
                                <button class="btn btn-info" type="submit">
                                    <i class="icon-ok bigger-110"></i>
                                    提交
                                </button>
                                &nbsp; &nbsp; &nbsp;
                                <button class="btn" type="reset">
                                    <i class="icon-undo bigger-110"></i>
                                    重置
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</block>
<block name="privatejs">
    <script type="text/javascript">
        $(function(){
            //设置当前页面的菜单高亮显示 开始
            var nownav = 'ul li a[href*=goodsattr],ul li a[href*=Goodsattr]';
            var parentattr = $(nownav).parent().parent().attr("class");
            $(nownav).parent().addClass('active');
            if (parentattr == 'submenu') {
                $(nownav).parent().parent().parent().addClass('active open');
            };
            //设置当前页面的菜单高亮显示 结束

            //联动菜单
            $('#selparent').on('change','select',function(){
                var parentid = 0;
                var number = $(this).parent().prop('id').split('-')[1];
                numbers = parseInt(number)+1;
                var prevval = $(this).parent().prev().children().eq(0).val();
                $(this).parent().nextAll().remove();
                parentid = $(this).val();

                if ($(this).val() == prevval) {
                    $('#showid').val(parentid);
                    return;
                };

                if (parentid == 0) {
                    $('#showid').val(parentid);
                    return;
                };
                var str = '<div id="menu-'+numbers+'" class="col-xs-10 col-sm-2  no-padding"><select class="form-control"></select></div>';
                $(this).parent().after(str);
                $.ajax({
                    url:"__APP__/Admin/Goodsclass/viewClassId",
                    type:'post',
                    data:{parentid:parentid},
                    success:function(data){
                        var datas = JSON.parse(data);
                        printstr = '<option value="'+parentid+'">--</option>';
                        for (var i=0; i< datas.length; i++) {
                            printstr += '<option value="'+datas[i].cid+'">'+datas[i].cname+'</option>';
                        }
                        $('#menu-'+numbers+' select').html(printstr);
                    }
                })
                $('#showid').val(parentid);
            })
          
            //添加按钮
            $('#addattr').on('click',function(){
                $(this).before('<input class="col-xs-10 col-sm-5" type="text" name="attrval[]"><a class="remove" href="#"><i class="icon-remove"></i></a><br /><br />');
            });
      
            //删除按钮
            $('div').on('click','a[class=remove]',function(){
                $(this).prev().remove();
                $(this).next().remove();
                $(this).next().remove();
                $(this).remove();
            });
        });
    </script>
</block>