#theme .enable {
    border-bottom: 1px solid #DDD;
    padding: 15px 0;
    zoom: 1;
    overflow: hidden;
}

#theme dl p img {
    width: 280px;
    height: 175px;
}

#theme .enable h2 {
    font-size: 14px;
    font-weight: bold;
    color: #999;
    margin-bottom: 10px;
}

#theme .enable p {
    float: left;
    margin-top: 5px;
    padding: 4px;
    background-color: #FFF;
    border: 1px solid #DDD;
}

#theme .enable dl {
    float: left;
    padding: 10px;
}

#theme .enable dl dt {
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 10px;
}

#theme .enable dl dd {
    margin-bottom: 5px;
}


/* -- themeList -- */

#theme .themeList {
    padding-top: 30px;
    zoom: 1;
    overflow: hidden;
}

#theme .themeList h2 {
    font-size: 14px;
    font-weight: bold;
    color: #60BBFF;
    margin-bottom: 15px;
}

#theme .themeList dl {
    border: 1px solid #DDD;
    width: 288px;
    background-color: #FAFAFA;
    float: left;
    margin: 0 20px 20px 0;
    padding-bottom: 5px;
}

#theme .themeList dl p {
    padding: 4px 4px 10px 4px;
    background-color: #FFF;
    border-bottom: 1px solid #EEE;
}

#theme .themeList dl p img {
    width: 280px;
    height: 175px;
}

#theme .themeList dl.mobile {
    width: 178px;
    margin-right: 40px;
}

#theme .themeList dl.mobile p img {
    width: 170px;
    height: 230px;
}

#theme .themeList dl dt {
    font-weight: bold;
    padding: 5px;
}

#theme .themeList dl dd {
    padding: 2px 5px;
}

#theme .themeList dl dd.btnList span a {
    color: #0072C6;
    margin-right: 10px;
}

#theme .themeList dl dd.btnList span em {
    margin-right: 10px;
}

#theme .themeList dl dd.btnList .del {
    float: right;
    color: #999;
}