{include file="public/head" /}



{include file="public/s_head" /}

		

		<div>

			<div class="wgldxcs">

				<span>

					<img src="/image/weixin.png">

				</span>

				我管理的用户

			</div>

			<a href="{:Url('Applet/user')}">

			<div class="addxcx">

				用户管理

			</div>

			</a>

		</div>



		<div style="margin-top:50px; border-top:1px solid #dedede; padding-top:20px">



			<form action="{:Url('Applet/save_admin')}" id="form_sample_2" class="form-horizontal" method="post" enctype="multipart/form-data" onsubmit = "return checkinfo();">



						<input type="hidden" value="{if $userinfo}{$userinfo.uid}{/if}" name="uid">



						<div class="control-group">



							<label class="control-label">用户名<font style="color:red">*</font></label>



							<div class="controls" style="line-height:34px;">



								<input name="username" type="text" id="username" class="span3 m-wrap" value="{if $userinfo}{$userinfo.username}{/if}"/>

								<span style="color:#999999; line-height:40px; margin-left:20px;">密码默认为<em style="font-style: normal;color: #fff; background: #c00; padding: 0 5px">123456</em>，请登录帐号修改</span>

							</div>



						</div>



						<div class="control-group">



							<label class="control-label">头像</label>



							<div class="controls">



								<div class="fileupload fileupload-new" data-provides="fileupload">



									<div class="fileupload-new thumbnail" style="width: 100px; height:100px;">

										{if $userinfo && $userinfo.icon}

										<img src="{$userinfo.icon}"/>

										{else}

										<img src="/image/noimage_1.png" alt="" />

										{/if}

									</div>



									<div class="fileupload-preview fileupload-exists thumbnail" style="width:100px; height:100px"></div>



									<div>



										<span class="btn btn-file"><span class="fileupload-new">选择图片</span>



										<span class="fileupload-exists">修改</span>



										<input type="file" accept="image/gif,image/jpeg,image/jpg,image/png" class="default" name="icon" id="icon"/></span>



										<a href="#" class="btn fileupload-exists" data-dismiss="fileupload">移除</a>



									</div>



									<font color="#999999">建议上传正方形图片</font>

								</div>



							</div>

						</div>



						<div class="control-group">



							<label class="control-label">姓名<font style="color:red">*</font></label>



							<div class="controls" style="line-height:34px;">

								<input name="realname" type="text" class="span3 m-wrap" id="realname" value="{if $userinfo}{$userinfo.realname}{/if}">

							</div>



						</div>



						<div class="control-group">



							<label class="control-label">手机号码<font style="color:red">*</font></label>



							<div class="controls">



								<input name="mobile" type="text" class="span3 m-wrap" id="mobile" value="{if $userinfo}{$userinfo.mobile}{/if}">



							</div>



						</div>



						<div class="control-group">



							<label class="control-label">邮箱</label>



							<div class="controls">



								<input name="email" type="text" class="span3 m-wrap" id="email" value="{if $userinfo}{$userinfo.email}{/if}">



							</div>



						</div>

						



						<div class="control-group">



							<label class="control-label">用户组</label>



							<div class="controls">



								{if $Think.session.usergroup==2 || $Think.session.usergroup==3}



								<label class="radio">



								<input type="radio" name="group" onchange="kkchanges(this)" value="1" {if $userinfo}{if $userinfo.group==1}checked=checked{/if}{else}checked{/if}/>



								小程序管理员



								</label>

								{/if}

								



							</div>



						</div>













						<div class="form-actions">



							<button type="submit" class="btn green" id="tijiao" >确定</button>



						</div>



			</form>



		</div>





	</div>











	<script type="text/javascript">

		function checkinfo(){

			var username = $("#username").val();

			var realname = $("#realname").val();

			var mobile = $("#mobile").val();



			if(!username){

				alert("请输入用户名！");

				return false;

			}else if(!realname){

				alert("请输入用户真实姓名！");

				return false;

			}else if(!mobile){

				alert("请输入用户手机号");

				return false;

			}else{

				return true;

			}



		}





		function kkchanges(me){

			if($(me).val()==3){

				$("#xzgs").show();

			}else{

				$("#xzgs").hide();

			}

		}







	</script>

















	{include file="public/foot" /}