{extend name="index_base" /} {block name="seo"}
<title>编辑文章 - {$site_config['site_title']} - {$site_config['seo_title']}</title>
<meta name="keywords" content="{$site_config['seo_keyword']}">
<meta name="description" content="{$site_config['seo_description']}"> {/block} {block name="css"}
<link rel="stylesheet" href="__PUBLIC__/plugins/wangEditor/css/wangEditor.min.css">

<style type="text/css">
    .tpt_sels a {
        padding-right: 15px;
        position: relative
    }
    
    .tpt_sels a {
        padding: 0 20px 0 8px;
        color: #3B6268;
        background: #FFFFBA;
        border: 1px #F8E06E solid;
        margin-right: 5px;
        margin-bottom: 5px;
        font-size: 14px;
        height: 26px;
        line-height: 26px;
        display: block;
        float: left
    }
    
    .tpt_pres a.selected {
        padding: 0 8px;
        color: #3B6268;
        background: #FFFFBA;
        border: 1px #F8E06E solid;
        margin-right: 5px;
        margin-bottom: 5px;
        font-size: 14px;
        height: 26px;
        line-height: 26px;
        display: block;
        float: left
    }
    
    .tpt_pres a {
        padding: 0 8px;
        color: #fff;
        background: #5AC7A9;
        border: 1px #5AC7A9 solid;
        margin-right: 5px;
        margin-bottom: 5px;
        font-size: 14px;
        height: 26px;
        line-height: 26px;
        display: block;
        float: left
    }
    
    .tpt_sels a em {
        width: 12px;
        height: 12px;
        font-style: normal;
        display: block;
        position: absolute;
        top: 7px;
        right: 4px;
        z-index: 2;
        background: url(__PUBLIC__/images/sx.png) no-repeat 0 0;
    }
    
    .cl {
        zoom: 1
    }
    
    .cl:after {
        content: '\20';
        display: block;
        height: 0;
        clear: both;
        visibility: hidden
    }
    
    .wangEditor-menu-container .menu-item a {
        padding: 12px 0;
    }
    
    .wangEditor-menu-container .menu-item {
        height: 37px;
        width: 37px;
    }
    
    .wangEditor-menu-container .menu-group {
        padding: 0;
    }
    
    .wangEditor-container {
        border: 1px solid #e6e6e6;
    }
</style>
{/block} {block name="body"}
<div class="layui-container fly-marginTop">
    <div class="fly-panel" pad20="" style="padding-top: 5px;">
        <div class="layui-form layui-form-pane">
            <div class="layui-tab layui-tab-brief" lay-filter="user">
                <ul class="layui-tab-title">
                    <li class="layui-this">发表新帖</li>
                </ul>

                <!-- <div class="fly-none">并无权限</div> -->

                <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                    <div class="layui-tab-item layui-show">
                        <form action="" method="post">
                            <input type="hidden" name="id" value="{$tptc.id}">

                            <div class="layui-row layui-col-space15 layui-form-item">
                                <div class="layui-col-md3">
                                    <label class="layui-form-label">所在专栏</label>
                                    <div class="layui-input-block">
                                        <select name="tid">
										{volist name="tptcs" id="vo"}
													<option {if condition="$tptc['tid'] eq $vo['id']"}selected="selected"{/if} value="{$vo.id}">{$vo.name}</option>
													{/volist}
										</select>
                                    </div>
                                </div>
                                <div class="layui-col-md9">
                                    <label for="L_title" class="layui-form-label">标题</label>
                                    <div class="layui-input-block">
                                        <input type="text" id="L_title" name="title" required="" lay-verify="required" value="{$tptc.title}" autocomplete="off" class="layui-input" />
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item">

                                <label class="layui-form-label">封面</label>


                                <div class="layui-input-inline">
                                    <button type="button" class="layui-btn" id="image">
                                                            <i class="layui-icon">&#xe67c;</i>上传图片
                                        </button>

                                    <input type="text" name="coverpic" value="{$tptc.coverpic}" class="layui-input" style="position: absolute;left: 111px;top: 0px;width: 500px;">


                                </div>

                            </div>
                            <div class="layui-upload-list">

                                <img class="layui-upload-img" id="picshow" src="__ROOT__{$tptc.coverpic}" style="max-height: 200px">
                                <p id="demoText"></p>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <div class="layui-input-block">
                                    <textarea name="description" placeholder="内容提要" class="layui-textarea fly-editor" style="height: 60px;">{$tptc.description}</textarea>
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <div class="layui-input-block">
                                    <textarea id="textarea" name="content" style="height:400px;width: 100%;">{$tptc.content}</textarea>
                                </div>
                                <label for="L_content" class="layui-form-label" style="top: -2px;">内容</label>
                            </div>
                            <div class="layui-form-item">
                                <label for="L_title" class="layui-form-label">关键词</label>
                                <div class="layui-input-block">
                                    <input type="text" name="kewords" value="{$tptc.keywords}" autocomplete="off" placeholder="多个关键词之间以逗号（,）分割" class="layui-input" />
                                </div>
                            </div>

                            {:hook('attachlinkadd',array('id'=>$tptc['id'],'type'=>1))}

                            <div class="layui-form-item">
                                <button class="layui-btn" lay-submit="" lay-filter="forum_edit">立即发布</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{/block} {block name="script"}

<script type="text/javascript" src="__PUBLIC__/plugins/wangEditor/js/wangEditor.js"></script>
<script type="text/javascript">
    $(function() {
        $('#tpt_input').keydown(function(e) {
            if (e.which === 13) {
                $("#tpt_btn").click();
                e.preventDefault();
                return false;
            }
        });
        $("#tpt_sel").on('click', 'a>em', function() {
            var name = "keywords";
            var tag = $(this).parent().text();
            $(this).parent().remove();
            var tags = new Array();
            $("#tpt_sel").find('a').each(function() {
                tags.push($(this).text());
            });
            $("input[name=" + name + "]").val(tags.join(","));
            $("#tpt_pre a:contains('" + tag + "')").removeClass("selected");
        });
        $("#tpt_btn").click(function() {
            var name = "keywords";
            var tags = $.trim($("input[name=" + name + "]").val());
            if (tags !== "") {
                tags = tags.split(",");
            } else {
                tags = new Array();
            }
            var tag = $.trim($("#tpt_input").val());
            if (tag !== '' && $.inArray(tag, tags) === -1) {
                tags.push(tag);
                $("#tpt_pre a:contains('" + tag + "')").addClass("selected");
            }
            $("#tpt_sel").children('span').empty();
            $.each(tags, function(k, v) {
                $("#tpt_sel").children('span').append('<a href="javascript:;">' + v + '<em></em></a>');
            });
            $("input[name=" + name + "]").val(tags.join(","));
            $("#tpt_input").val('');
        });
        $("#tpt_pre").on('click', 'a:not(.selected)', function() {
            var name = "keywords";
            var tags = $.trim($("input[name=" + name + "]").val());
            if (tags !== "") {
                tags = tags.split(",");
            } else {
                tags = new Array();
            }
            var tag = $.trim($(this).text());
            if (tag !== '' && $.inArray(tag, tags) === -1) {
                tags.push(tag);
            }
            $("#tpt_sel").children('span').empty();
            $.each(tags, function(k, v) {
                $("#tpt_sel").children('span').append('<a href="javascript:;">' + v + '<em></em></a>');
            });
            $("input[name=" + name + "]").val(tags.join(","));
            $(this).addClass('selected');
        });
    });
</script>
<script type="text/javascript">
    var editor = new wangEditor('textarea');
    $.get('{:url("index/api/getemotion")}', function(data) {

        editor.config.uploadImgUrl = '{:url("index/upload/wangeditor_upimage")}';
        editor.config.uploadImgFileName = 'FileName';
        var emotiondata;
        emotiondata = data;
        emotiondata = JSON.parse(emotiondata);
        editor.config.emotions = emotiondata;
        editor.config.menus = ['bold', 'fontfamily', 'fontsize', 'forecolor', 'link', 'unlink', 'emotion', 'img', 'insertcode', 'fullscreen'];

        editor.config.pasteText = false;
        editor.create();
    });
</script>
<script>
    layui.use(['form', 'upload'], function() {
        var form = layui.form,
            upload = layui.upload,
            jq = layui.jquery;

        upload.render({
            elem: '#image',
            url: "{:url('index/upload/upimage')}",
            before: function(obj) {
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result) {
                    jq('#picshow').attr('src', result); //图片链接（base64）
                });
            },
            done: function(res) {

                if (res.code == '200') {
                    jq('input[name=coverpic]').val(res.headpath);
                    return layer.msg('上传成功');
                } else {

                    return layer.msg(res.msg);
                }

            }
        });
        form.verify({
            titlea: function(value) {
                if (value.length < 5) {
                    return '标题必须大于5位';
                }
            },
            titleb: function(value) {
                if (value.length > 32) {
                    return '标题必须小于32位';
                }
            }
        });

        form.on('submit(forum_edit)', function(data) {
            loading = layer.load(2, {
                shade: [0.2, '#000']
            });

            var param = data.field;
            jq.post('{:url("index/articles/edit",array("id"=>$tptc.id))}', param, function(data) {
                // console.log(data);
                if (data.code == 200) {
                    layer.close(loading);
                    layer.msg(data.msg, {
                        icon: 1,
                        time: 1000
                    }, function() {
                        location.href = '{:url("user/index/article")}';
                    });
                } else {
                    layer.close(loading);
                    layer.msg(data.msg, {
                        icon: 2,
                        anim: 6,
                        time: 1000
                    });
                }
            });
            return false;
        });

    })
</script>
{/block}