<footer class="footer">
    <div class="container">

        <div id="youlian" style="background:#363636; color:#FFF"><br>
        <H3 color="#9F9F9F">友情链接:</H3>
            {:hook('friendlinkshow',array('onwhere'=>'cms'))}
            <p size="2px" color="#FFFFFF">资源来自互联网收集,仅供用于学习和交流,请遵循相关法律法规,本站一切资源不代表本站立场,如有侵权、后门、不妥请联系QQ:XXXXX删除</p><br>
        </div>
        <div class="container clearfix"> <p><a href="http://www.laysns.com">LaySNS</a> 2019 &copy; <a href="http://www.laysns.com">laysns.com</a></p></div>
        {$site_config['site_tongji']}
    </div>
</footer>
<!--右下角客服信息-->
<div class="rollbar" style="display: block;">
    <ul>
        <li><a href="/这里填写你的QQ联系链接" target="_blank" rel="nofollow" title="QQ客服"><i class="fa"></i></a></li>
        <li><a href="javascript:;" class="totop"><i class="dripicons dripicons-chevron-up" title="回顶部"></i></a></li>
    </ul>
</div>
<script type='text/javascript' src='__HOME__/js/lib.js'></script>
<script type='text/javascript' src='__HOME__/js/base.js'></script>
<script type='text/javascript' src='__HOME__/js/erphpdown.js'></script>
<script>MOBANTU.init({ias: 0, lazy: 1, water: 0});</script>
<div class="analysis"></div>