.searchcon {
    padding: 0px;
    background: #FFF;
    margin-top: 20px;
}
.cz-title {
    position: relative;
    line-height: 35px;
    text-indent: 30px;
    font-size: 17px;
    margin-top: -20px;
}

.cz-title:after {
    content: " ";
    position: absolute;
    height: 20px;
    width: 0;
    border: 1.5px solid #5298ff;
    left: 0;
    top: 8px;
    margin-left: 18px; 
}
@media screen and (max-width: 768px) {
    .searchcon {
        margin: 0 8px;
    }
}

.result {
    padding: 0px;
}

.result li {
    padding: 0px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #ececec;
    overflow: hidden;
}

.lists_left {
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: Center;
    overflow: hidden;
}

.lists_left img {
    max-width: 100%;
}

.lists_right_title {
    display: block;
    width: 100%;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 17px;
    margin-bottom: 10px;
}

.lists_right {
    padding-left: 6%;
    max-height: 141px;
    padding-right: 0;
}

.lists_right span {
    color: #999;
    margin-bottom: 10px;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.lists_right span img {
    margin-top: -4px;
}

.lists_right p {
    color: #666;
    line-height: 32px;
    height: 64px;
    padding: 0;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .lists_left img {}
}

#fanyetools {
    margin: 0px auto;
    text-align: center;
    margin-top: 20px;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
    background: #05BD65;
}

.lists_rightto {
    display: flex;
    justify-content: center;
    align-items: Center;
    overflow: hidden;
    height: 136px;
}

.lists_rightto span {
    display: block;
    border: 1px solid #44C2F1;
    color: #44C2F1;
    width: 100%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    font-size: 16px;
}

.lists_rightto span:hover {
    background: #44C2F1;
    color: #FFF;
}

.searchtitle {
    color: #929292;
    font-size: 15px;
    margin-bottom: 9px;
    display: block;
    padding: 0px 10px;
    line-height: 32px;
}


@media screen and (max-width: 991px) {
    .serch {
        height: 43px;
        float: none;
        margin: 9px 0px 10px 0px;
    }
    .lists_right * {
        display: none!important;
    }
    .lists_right *:nth-child(1) {
        display: block!important;
    }
    .lists_right *:nth-child(2) {
        display: block!important;
    }
    .lists_right_title:nth-child(1) {
        display: block;
    }
    font-weight: normal;
    margin-bottom: 0px;
}

.result li {
    padding: 13px 0px;
}


}
.result li:last-child {
    border: 0
}
.serch_btn2 {
    border: 1px solid #4cb8e0;
    background: #44c2f1;
    color: #FFF;
    height: 43px;
    font-size: 24px;
    line-height: 45px;
    border-radius: 0px;
    text-align: center;
}
.serch_text2 {
    border: 1px solid #e4e4e4;
    height: 43px;
    padding: 7px 15px;
    color: #5d5d5d;
    line-height: 43px;
    border-radius: 0px;
}
@media screen and (max-width: 991px) {
    .serch2 {
        height: 43px;
        float: none;
        padding: 0px 7px;
        margin: 9px 0px 10px 0px;
    }
}