{include file="public/head" /}
{include file="public/top" /}
<style type="text/css">
	form {
	     margin: 0 !important; 
	    display: inline-block !important;
	}	
</style>

<input type="hidden" id="nowhtml" value="navFx" class="navFx4-1">

	<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i>
			提现申请管理--{$applet.name}
		</li>
	</ul>

	<div class="row-fluid">

	<div class="span12">

		<div class="portlet box ">


			<div class="portlet-body">


				<table class="table table-striped table-hover table-bordered" id="sample_editable_1">

					<thead>

						<tr>
							
							<th style="width: 50px;">头像</th>
							<th style="width: 50px;">昵称</th>
							<th style="width: 100px;">申请金额</th>
							<th style="width: 50px;">申请时间</th>
							<th style="width: 100px;">支付到</th>
							<th style="width: 100px;">信息</th>
							<th style="width: 100px;">状态</th>
						</tr>

					</thead>

					<tbody>
						
						{if $sqtx}
							{foreach $sqtx as $item}
								<tr>
									<td>
										<img src="{$item.userinfo.avatar}" style="width:50px; height:50px; ">
							        	
						        	</td>
						        	<td>
							        	{$item.userinfo.nickname}
							        </td>
									<td>
										{$item.money}
									</td>
									<td>{$item.creattime}</td>
									<td>
										{if $item.types == 1}
							        		支付到余额
							        	{/if}
							        	{if $item.types == 2}
							        		支付到微信
							        	{/if}
							        	{if $item.types == 3}
							        		支付到支付宝
							        	{/if}
									</td>
									
							        <td style="width:120px;text-align: center">
										{if $item.flag == 1}
							        		<span class="btn btn-success btn-sm" onclick="tongguo({$item['id']},2)">通过并打款</span>
											<span class="btn btn-danger btn-sm" onclick="tongguo({$item['id']},3)">不通过</span>
							        	{/if}

							        	{if $item.flag == 2}
							        		已完成
							        	{/if}

							        	{if $item.flag == 3}
							        		已拒绝
							        	{/if}
							        </td>
	
								</tr>
							{/foreach}
						{/if}
						
					</tbody>

				</table>
				<!-- 分页 -->


			</div>

		</div>
		

	</div>

</div>


<script type="text/javascript">

	function tongguo(id,val){
            if(window.confirm('确定要审核该提现记录嘛？')){
                location.href = "{:Url('Fx/txreply')}?appletid=<?php echo $_GET['appletid']?>&op=shenhe&id="+id+"&val="+val;

            }else{
                return false;
            }
	    }
</script>



{include file="public/foot_more" /}