body{margin:0;font-size:12px;text-align:center;color:#333;word-wrap:break-word;}
p{margin:2pt 0 0 0;}
*{margin:0 auto;padding:0;}
ul{list-style-type:none;margin:0;padding:0;}
a{color:#333;text-decoration:none;}
a:hover{text-decoration:underline;}
form{margin:0;}
table{font-size:12px;}
input{outline:medium;}
.bfb{float:left;width:100%;}
.yjcode{width:1150px;}
.fontyh{font-family:"Microsoft YaHei",微软雅黑,"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu;color:#000;}
.ad1{margin:10px 0 0 0;float:left;}
.ad{float:left;}
.adf{float:left;margin:-10px 0 0 0;}
.adbottom .ad1{float:left;margin:0 0 8px 0;}
.red{color:#f00;}
.feng{color:#ff6600;}
.blue{color:#2255DD;}
.hui{color:#999;}
.green{color:#008800;}
.redony{background-color:#CFF;border:#999 solid 1px;color:red;}

/*全站主题颜色 同一系列，从深到浅*/
.g_ac0{color:#333;}
.g_ac0_h{color:#ff6600;}
.g_ac0:hover{color:#ff6600;}
.g_ac1{color:#333;}
.g_ac1_h{color:#FF6600;}
.g_ac1:hover{color:#FF6600;}
.g_ac2{color:#FF6600;}
.g_ac2_h{color:#FF6600;}
.g_ac2:hover{color:#FF5D56;}
.g_ac3{color:#2255DD;}
.g_ac3_h{color:#FF6600;}
.g_ac3:hover{color:#FF5D56;}

.g_ac98_h{color:#FF5D56;} /*过渡色，通用色*/
.g_ac98:hover{color:#FF5D56;} /*过渡色，通用色*/
.g_ac99_h{color:#B90505;} /*过渡色，通用色*/
.g_ac99:hover{color:#B90505;} /*过渡色，通用色*/

.g_bc0{border-color:#ccc;}
.g_bc0_h{border-color:#FF6600;}
.g_bc0:hover{border-color:#FF6600;}

.g_bg0{background-color:#FFF1DC;color:#333;}
.g_bg1{background-color:#4C5155;color:#fff;}
/*全站主题色结束*/

.openw{float:left;width:302px;z-index:200;position:absolute;padding:10px;background:url(../img/bghui.png) left top repeat;}
.openw .kf{float:left;width:300px;border:#908B8B solid 1px;background-color:#fff;}
.openw .kf #tangts{float:left;width:280px;padding:20px 10px 20px 10px;text-align:center;line-height:25px;color:#0059C4;}

.topbanner_hj{width:100%;min-width:1150px;float:left;}
.topbanner_hj a{display:block;width:100%;height:100%;}

.bfbtop{float:left;width:100%;height:29px;background-color:#333333;color:#B0B0B0;}
.bfbtop a{color:#B0B0B0;}
.bfbtop a:hover{color:#fff;text-decoration:none;}
.bfbtop .top{float:left;width:1150px;height:29px;text-align:left;}
.bfbtop .top .u1{float:left;width:1150px;}
.bfbtop .top .u1 li{float:left;}
.bfbtop .top .u1 .l1{padding:6px 0 0 0;width:600px;}
.bfbtop .top .u1 .l1 a{float:left;margin:0 15px 0 0;}
.bfbtop .top .u1 .l2{padding:6px 0 0 0;width:550px;text-align:right;}
.bfbtop .top .u1 .l2 a{margin:0 0 0 15px;}

.bfbtop1{float:left;width:100%;background:url(../homeimg/topbg.gif) left bottom repeat-x;border-bottom:#ddd solid 1px;}
.bfbtop1 .top1{float:left;width:1150px;text-align:left;}
.bfbtop1 .top1 .logo{float:left;width:100px;padding:20px 0;}
.bfbtop1 .top1 .logo img{height:55px;}
.bfbtop1 .top1 .topmu{float:left;width:845px;height:33px;margin:35px 0 0 0;}
.bfbtop1 .top1 .topmu a{float:left;font-size:16px;color:#0C0D0F;padding:0 17px;}
.bfbtop1 .top1 .topmu a:hover{color:#FF6700;text-decoration:none;}
.bfbtop1 .top1 .u1{float:right;border:#CECECE solid 1px;width:203px;height:40px;margin:25px 0 0 0;}
.bfbtop1 .top1 .u1 li{float:left;}
.bfbtop1 .top1 .u1 .l2{width:162px;}
.bfbtop1 .top1 .u1 .l2 input{float:left;width:157px;height:27px;border:0;padding:13px 0 0 5px;font-size:14px;}
@media screen and (-webkit-min-device-pixel-ratio:0) {
.bfbtop1 .top1 .u1 .l2 input{width:162px;height:40px;padding-top:0;}
}
.bfbtop1 .top1 .u1 .l3{width:40px;border-left:#cecece solid 1px;}
.bfbtop1 .top1 .menu{float:left;width:1150px;height:33px;}
.bfbtop1 .top1 .menu .m1{float:left;width:220px;height:33px;}
.bfbtop1 .top1 .menu .m1 .t{float:left;width:200px;padding:8px 0 0 20px;font-size:14px;height:25px;color:#fff;background:url(../homeimg/icon1.png) no-repeat;background-position:150px 14px;background-color:#000;}
.bfbtop1 .top1 .menu .m1 .menun{float:left;width:220px;text-align:left;position:relative;z-index:900;background-color:#fff;}
.bfbtop1 .top1 .menu .m1 .menun .menu1{float:left;height:42px;width:220px;background-color:#021317;color:#fff;}
.bfbtop1 .top1 .menu .m1 .menun .menu1 .lu1{float:left;width:220px;height:42px;background:url(../homeimg/icon2.png) no-repeat;background-position:190px 15px;}
.bfbtop1 .top1 .menu .m1 .menun .menu1 .lu1 li{float:left;}
.bfbtop1 .top1 .menu .m1 .menun .menu1 .lu1 li a{color:#fff;}
.bfbtop1 .top1 .menu .m1 .menun .menu1 .lu1 li a:hover{text-decoration:none;color:#fff;}
.bfbtop1 .top1 .menu .m1 .menun .menu1 .lu1 .l1{padding:11px 0 0 20px;width:200px;font-size:14px;color:#666666;height:31px;}
.bfbtop1 .top1 .menu .m1 .menun .menu2{background-color:#FF6700;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu{float:left;text-align:left;background-color:#fff;position:relative;border-top:#ddd solid 1px;width:510px;margin-left:220px;padding:20px 0 0 0;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .ru1{float:left;width:250px;color:#666;height:75px;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .ru1 li{float:left;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .ru1 .l0{width:70px;text-align:center;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .ru1 .l0 img{width:40px;height:40px;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .ru1 .l1{width:110px;padding:8px 0 0 0;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .ru1 .l2{width:70px;padding:5px 0 0 0;}
.bfbtop1 .top1 .menu .m1 .menun .rmenu .ru1 .l2 a{float:left;color:#FF6700;border:#FF6700 solid 1px;text-align:center;width:58px;height:19px;padding:3px 0 0 0;}
.bfbtop1 .top1 .menu .m1 .menun .menuad{margin-top:-10px;float:left;}
.bfbtop1 .top1 .menu .newjy{float:left;width:910px;height:33px;text-align:left;margin:0 0 0 20px;color:#fff;}
.bfbtop1 .top1 .menu .newjy #rolltxt{list-style:outside none none;float:left;width:910px;overflow:hidden;height:33px;}
.bfbtop1 .top1 .menu .newjy #rolltxt li{float:left;display:inline;height:17px;margin:8px 0;width:100%;}
.bfbtop1 .top1 .menu .newjy #rolltxt li a{color:#0D69B1;}
.bfbtop1 .top1 .menu .newjy #rolltxt li a:hover{color:#ff6600;}
.bfbtop1 .top1 .menu .newjy #rolltxt li strong{color:#ff6600;}


.bfbtop1N{background-image:none;}
.bfbtop1N .top1 .menu{height:0px;}
.bfbtop1N .top1 .menu .t{display:none;}
.bfbtop1N .top1 .menu .newjy{display:none;}

.dqwz{float:left;width:1150px;border-bottom:#E1E1E1 solid 1px;height:22px;margin:10px 0 0 0;text-align:left;}
.dqwz .u1{float:left;width:1150px;}
.dqwz .u1 li{float:left;}
.dqwz .u1 .l1{width:950px;background:url(../img/icon2.gif) left top no-repeat;padding:0 0 0 18px;color:#666;}
.dqwz .u1 .l1 a{color:#666;}

/*底部*/
.ibottom{background-color:#303030;padding:0 0 20px 0;}
.ibottom .u1{float:left;width:1150px;margin:22px 0 0 0;}
.ibottom .u1 li{float:left;}
.ibottom .u1 .l1{width:240px;}
.ibottom .u1 .l2{width:182px;color:#999;text-align:left;}
.ibottom .u1 .l2 .cap{font-size:14px;height:30px;width:130px;border-bottom:#999 solid 1px;float:left;}
.ibottom .u1 .l2 a{float:left;clear:both;margin:10px 0 0 0;color:#606060;}
.ibottom .u2{float:left;width:910px;margin:10px 0 0 240px;border-top:#454545 solid 1px;padding:10px 0 0 0;line-height:23px;}
.ibottom .u2 li{float:left;}
.ibottom .u2 .l1{color:#999;width:80px;}
.ibottom .u2 .l2{width:830px;text-align:left;}
.ibottom .u2 .l2 a{color:#666666;}

.bottomy{float:left;width:100%;border-top:#3B3B3B solid 1px;text-align:center;background-color:#303030;color:#999;}
.bottomy .d1{float:left;width:1150px;margin:10px 0 0 0;line-height:22px;}
.bottomy .d1 a{color:#999;}

.floatTips{position:absolute;top:250px;right:3px;z-index:999;float:right;}
.floatTips .uqq{float:left;width:113px;border:#CCCCCC solid 1px;background-color:#fff;}
.floatTips .uqq li{float:left;}
.floatTips .uqq .l1{padding:6px 3px 0 0;text-align:right;background:url(../img/qqr2.gif) left top no-repeat;width:110px;height:58px;}
.floatTips .uqq .l2{padding:5px 0 0 5px;width:108px;}
.floatTips .uqq .l2 a{float:left;padding:6px 0 0 30px;background:url(../img/qq4.gif) left top no-repeat;width:72px;height:18px;text-align:left;}
.floatTips .uqq .l2 a:hover{text-decoration:none;}
.floatTips .uqq .l4{width:113px;margin-top:6px;border-top:#CACACA dotted 1px;padding:7px 0 0 0;text-align:center;}
.floatTips .uqq .l5{color:#ff6600;width:113px;font-family:Arial, Helvetica, sans-serif;text-align:center;font-size:14px;padding-top:2px;}
.floatTips .uqq .l6{width:113px;height:15px;margin-top:4px;}
.floatTips #gdqqn{float:left;cursor:pointer;}

#page{float:right;margin:10px 0 0 0;width:740px;padding:0;clear:both;}
#page ul{float:right;}
#page ul li{font-size:14px;float:left;margin:0 3px 0 0;font-family:Verdana, Geneva, sans-serif;}
#page ul li a{float:left;border:#DDDDDD solid 1px;padding:8px 12px 9px 11px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
#page ul li a:hover{text-decoration:none;background-color:#ff6600;color:#fff;}
#page ul .ohave{padding:8px 12px 9px 11px;color:#ff6600;}
