body {
        min-width: 1002px;
    }
    .grid_m {
        width: 600px;
    }
    .core .grid_m{
        width:800px;
    }
    .grid_s5m25 .grid_m {
        width: 800px;
    }
    .slider {
        width: 800px;
    }
    .slider_img {
        margin-left: -100px;
    }
    .dailybeta_bd {
        width: 799px;
    }
    .dailybeta_goods {
        width: 800px;
    }
    .dailybeta_goods li {
        width: 179px;
    }
    .dailybeta .mod_goods_w100 {
        height: auto !important;
        min-height: 80px;
        padding-left: 90px;
    }
    .dailybeta .mod_goods_img {
        margin-left: -90px;
        margin-top: 10px;
    }
    .dailybeta .mod_goods_img, .dailybeta .mod_goods_img img {
        height: 80px;
        width: 80px;
    }
    .ulike_r2 .ulike_r2_narrow, .ulike_r2 li {
        width: 330px;
    }
    .ulike_r2 .ulike_r2_item {
        margin-left: -35px;
    }
    .ulike_thh_img, .ulike_tg_img {
        margin-left: 45px;
        margin-top: 25px;
        width: 110px;
    }
    .ulike_thh_img img, .ulike_tg_img img {
        width: 100px;
    }
    .sx_mod_rank {
        width: 799px;
    }
    .sx_mod_fgoods_wrap {
        width: 599px;
    }
    .grid_s5m10 .grid_m_2 {
        width: 200px;
    }
    .grid_s5m10 .grid_m_2 .ftwin_goods_wrap {
        width: 199px;
    }
    .ftejia .ftejia_goods_wrap {
        width: 799px;
    }
    .ic_rwd .grid_c1, .ic_rwd .grid_c2a, .ic_rwd .grid_c2b, .ic_rwd .grid_c3a {
        width: 990px;
    }
     .ic_rwd .mod_fbanner {
        width: 990px;
    }
    .ic_rwd .mod_fbanner a {
        margin-left: -100px;
    }
    .ic_rwd .mod_fbanner_close {
        margin-left: -120px;
    }
    .ic_rwd .mod_search_con {
        width: 240px;
    }
    .ic_rwd .mod_skey {
        width: 250px;
    }
.service_main{
	width:990px;
	margin:0px auto;
    }
/*左边部分*/
.service_left{
	float:left;
	width:190px;
	height:633px;
	border:1px solid rgb(215,215,215);
	background:rgb(202,242,255);
           margin-top:10px;
}
.service_ul li{
	list-style:none;
	line-height:30px;
	height:30px;
	padding-left:40px;

}
/*分类*/
.service_classify{
	margin-top:15px; 
	padding-left:20px;
	font-size:15px; 
}
/*右边部分*/
.service_right{
	width:750px;	
	height:635px;
	float:left;
	margin-left:10px;
          margin-top:10px; 
}
/*****************催办订单************************/
.service_urgeindent{
	height:170px;
           float:left;
}
.service_detail{
    background:#ffffff;
}
.service_select{
	height:30px;
	margin-left:40px;
	padding-top:20px;
          clear:both;
}
.service_select ul li{
	height:30px;
	line-height:30px;
	float:left;
	padding-left:10px;
	text-align:right;
}
#service_sub{
	width:55px;
	border:0px;
	background:rgb(54,131,236);
	height:30px;
	color:#ffffff
}
.service_record{
	height:500px;
	background:#ffffff;
}
.service_recordnav{
	height:30px;
	border-bottom:1px solid #ccc;
}
.service_recordnav  ul li{
	width:120px;
	height:30px;
	line-height:30px;
	float:left;
	text-align:center;
}
.service_active{
    height:30px;
    margin-top:10px;
    border-bottom:1px solid rgb(100,165,255);
}
.service_active ul li{
    height:30px;
    line-height:30px;
    float:left;
    width:100px;
    font-size:14px;
    text-align:center;
    background:#ffffff;
    border:1px solid rgb(100,165,255);
    border-bottom:0px;
    margin-left:10px;
}
.tab-content{
    width:750px;
    height:500px;
}
a{
    
    text-decoration:none;
}